{% load operations %}
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header bg-light">
            <h6 class="modal-title">GENERAR FACTURA:<span
                    class="font-weight-bold"></span></h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <input type="hidden" class="form-control" id="purchase_id" name="purchase-id" value="{{ oc_ids }}">

        <div class="modal-body p-2">

            <div class="mr-3 ml-0" style="
                        display: none;
                        position: absolute;
                        top: 8px;
                        left: 0;
                        background: var(--white);
                        opacity: 0.5;
                        width: 100%;
                        !important: ;
                        bottom: 6px;
                        padding: 10em 23em 20em 26em;
                        z-index: 2000;
                        right: 0;" id="container-loading">
                <div class="spinner-border border-0" role="status" style="width: auto; height: auto">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <div class="loader-inner"></div>
                                    <div class="loader-inner"></div>
                                    <div class="loader-inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <i class="fas fa-3x fa-sync fa-spin"></i>
                </div>
            </div>

            <div class="card" style="background-color: #82cdd2">
                <label class="mt-2 ml-3 font-weight-bold text-uppercase ">Datos de la factura</label>
                <div class="card-body pt-1" style="background-color: #f0f1f5">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="client">Razón Social:</label>
                                    <input type="text" class="form-control" id="client" disabled
                                           style="background-color: #e7ded9"
                                           value="{{ supplier_name }}">
                                </div>
                                <div class="col-lg-9">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="address">Dirección:</label>
                                    <input type="text" class="form-control text-uppercase" id="address" disabled
                                           style="background-color: #e7ded9"
                                           value="{{ supplier_address }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="bill_date">Fecha de la Factura:</label>
                                    <input type="date" class="form-control"
                                           id="bill_date"
                                           name="bill-date"
                                           value="{{ formatdate }}">

                                </div>
                                <div class="col-lg-3">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="bill_date_expiration">Fecha Vencimiento:</label>
                                    <input type="date" class="form-control"
                                           id="bill_date_expiration"
                                           name="bill-date-expiration"
                                           value="{{ formatdate }}">

                                </div>
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="bill_number">Numero de Factura:</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <input type="text" class="form-control text-uppercase" placeholder="F001"
                                                   aria-label="" id="bill_serial">
                                            <span class="input-group-text">-</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="001"
                                               aria-label="" id="bill_correlative">
                                    </div>
                                    {#                                    <input type="text" class="form-control" id="bill_number"#}
                                    {#                                           name="bill_number" autocomplete="off" placeholder="F001-001">#}
                                </div>
                            </div>
                            <div class="row dni">
                                <div class="col-lg-12">
                                    <label class="mb-1 mt-1 font-weight-light" for="bill_delivery_address">Lugar de
                                        entrega:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control"
                                               id="bill_delivery_address" name="bill_delivery_address"
                                               value="{{ first_address }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-2 font-weight-light" for="way_to_pay">Condicion de
                                        Pago:</label>
                                    <input type="text" class="form-control"
                                           placeholder="Factura a.." id="way_to_pay" name=way_to_pay">
                                </div>
                                <div class="col-lg-6">
                                    <label for="order_number" class="mb-1 mt-2 font-weight-light">Nro de
                                        Ordenes:</label>
                                    <input type="text" class="form-control font-weight-bold" id="order_number"
                                           name=order_number"
                                           style="background-color: #d0e7d5"
                                           value="{{ oc_numbers }}" disabled>
                                    <input type="hidden" class="form-control" id="quantity_total" name=quantity_total"
                                           value="{{ quantity_total }}">
                                </div>
                            </div>

                            <div class="d-flex mt-3">
                                <hr class="my-auto flex-grow-1 bg-lightblue">
                                <div class="px-2 font-weight-bold" style="font-size: .8375rem;">DETALLE DE FACTURA</div>
                                <hr class="my-auto flex-grow-1 bg-lightblue">
                            </div>
                            <div class="row mt-2">
                                <div class="col-sm-12 p-1">
                                    <div class="card col-sm-12 p-0">
                                        <table class="table-hover table-sm table-bordered" id="id-table-detail-guide"
                                               style="width: 100%;">
                                            <thead class="text-uppercase small text-center">
                                            <tr class="text-white" style="background: #0783d6">
                                                <th scope="col" class="font-weight-normal" style="width: 8%;">O/C</th>
                                                <th scope="col" class="font-weight-normal" style="width: 5%;">Nº</th>
                                                <th scope="col" class="font-weight-normal" style="width: 42%;">
                                                    Descripcion
                                                </th>
                                                <th scope="col" class="font-weight-normal" style="width: 10%;">
                                                    Cantidad
                                                </th>
                                                <th scope="col" class="font-weight-normal" style="width: 12%;">Unidad
                                                </th>
                                                <th scope="col" class="font-weight-normal" style="width: 10%;">Precio
                                                </th>
                                                <th scope="col" class="font-weight-normal" style="width: 13%;">Importe
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody id="bill-details">
                                            {% for c in detail_purchase %}
                                                {% for d in c.details %}
                                                    <tr class="" product="{{ d.product_id }}" unit_id="{{ d.unit_id }}"
                                                        detail="{{ d.detail_id }}" purchase="{{ d.purchase_id }}">
                                                        <td class="item-number align-middle text-center"
                                                            style="font-size: 11px; background-color: #ececbe">{{ d.purchase_number }}</td>
                                                        <td class="item-number align-middle text-center">{{ forloop.parentloop.counter }}</td>
                                                        <td class="align-middle text-left product-item-table">
                                                            <input type="text"
                                                                   class="form-control text-uppercase product-table dropdown-toggle"
                                                                   data-toggle="dropdown" aria-expanded="false"
                                                                   placeholder="Ingrese producto..."
                                                                   value="{{ d.product_name }}"
                                                                   disabled></td>
                                                        <td class="align-middle item-quantity">
                                                            <input type="text"
                                                                   class="form-control text-center quantity-invoice text-uppercase"
                                                                   value="{{ d.quantity|safe|floatformat:0 }}">
                                                            <input type="hidden"
                                                                   class="quantity-purchased"
                                                                   value="{{ d.quantity|safe|floatformat:0 }}">
                                                        </td>
                                                        <td class="align-middle unit">
                                                            <input type="text"
                                                                   class="form-control text-center quantity-product text-uppercase"
                                                                   placeholder="0" disabled
                                                                   value="{{ d.unit_description }}">
                                                        </td>
                                                        <td class="align-middle price">
                                                            <input type="text"
                                                                   class="form-control text-center price-product text-uppercase"
                                                                   placeholder="0" disabled
                                                                   value="{{ d.price_unit|safe }}">
                                                        </td>
                                                        <td class="align-middle price">
                                                            <div class="input-icon">
                                                                <input type="text"
                                                                       class="form-control text-right text-uppercase subtotal"
                                                                       placeholder="0.00"
                                                                       value="{{ d.amount|replace_round }}"><i
                                                                    class="change-money">S/</i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr class="text-center">
                                                <td class="align-middle font-weight-normal text-right" colspan="6">Base
                                                    Imponible
                                                </td>
                                                <td class="foot-base">
                                                    <div class="input-icon">
                                                        <input type="text"
                                                               class="form-control text-right text-uppercase total-base-bill font-weight-bold"
                                                               readonly
                                                               style="background-color: #e4ece3"
                                                               value="{{ base_total|replace_round }}"
                                                               placeholder="0.00"><i class="change-money">S/</i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="align-middle font-weight-normal text-right" colspan="6">
                                                    IGV(18%)
                                                </td>
                                                <td class="foot-base">
                                                    <div class="input-icon">
                                                        <input type="text"
                                                               class="form-control text-right text-uppercase total-igv-bill font-weight-bold"
                                                               readonly
                                                               style="background-color: #e4ece3"
                                                               value="{{ igv_total|replace_round }}"
                                                               placeholder="0.00"><i class="change-money">S/</i>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="text-center">
                                                <td class="align-middle font-weight-normal text-right" colspan="6">
                                                    Importe Total
                                                </td>
                                                <td class="foot-base">
                                                    <div class="input-icon">
                                                        <input type="text"
                                                               class="form-control text-right text-uppercase total-bill font-weight-bold"
                                                               value="{{ bill_total|replace_round }}"
                                                               placeholder="0.00"><i class="change-money">S/</i>
                                                    </div>
                                                    <input type="hidden"
                                                           id="current_total"
                                                           value="{{ bill_total|replace_round }}">
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light p-2">
            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <button id="btn-save-bill" type="button" class="btn btn-primary font-weight-light">Registrar Factura
            </button>
        </div>

        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                {#height: 46em;#}
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>

    </div>
</div>

<script type="text/javascript">

    function checkQuantity() {
        let check = true;
        $('#bill-details tr').each(function () {
            let purchaseQuantity = $(this).find('td.item-quantity input.quantity-invoice').val()
            let oldPurchaseQuantity = $(this).find('td.item-quantity input.quantity-purchased').val()
            if (purchaseQuantity !== oldPurchaseQuantity) {
                check = false;
            }
        });
        return check;
    }

    $(document).on('click', '#btn-save-bill', function (e) {

        let purchases = $("#purchase_id");
        let bill_date = $('#bill_date');
        let bill_date_expiration = $('#bill_date_expiration');
        let bill_serial = $('#bill_serial');
        let bill_correlative = $('#bill_correlative');
        let bill_address = $('#bill_delivery_address');
        let bill_condition_pay = $('#way_to_pay');
        let bill_order_number = $('#order_number');

        let bill_total_base = $('.total-base-bill');
        let bill_igv = $('.total-igv-bill');
        let bill_total = $('.total-bill');

        let quantity_total = $('#quantity_total');

        if (bill_serial.val() === '') {
            toastr.warning('¡Ingresar la serie la de Factura!', 'Error de Datos');
            return false;
        }
        if (bill_correlative.val() === '') {
            toastr.warning('¡Ingresar el correlativo de la Factura!', 'Error de Datos');
            return false;
        }
        if (bill_condition_pay.val() === '') {
            toastr.warning('¡Ingresar La condicion de pago!', 'Error de Datos');
            return false;
        }

        if (checkQuantity() === true) {
            let previousTotal = parseFloat($('#current_total').val());
            if (bill_total.val() > previousTotal + 2 || bill_total.val() < previousTotal - 2) {
                toastr.warning('¡El valor no puede estar fuera del rango +2 y -2!, favor de corregir', 'Mensaje');
                return false;
            }
        }

        let Bill = {
            "purchase_id": purchases.val(),
            "bill_date": bill_date.val(),
            "bill_date_expiration": bill_date_expiration.val(),
            'bill_serial': bill_serial.val(),
            'bill_correlative': bill_correlative.val(),
            'bill_delivery_address': bill_address.val(),
            'bill_condition_pay': bill_condition_pay.val(),
            //'bill_order_number': bill_order_number.val(),

            'bill_total_base': bill_total_base.val(),
            'bill_igv': bill_igv.val(),
            'bill_total': bill_total.val(),

            'bill_quantity': quantity_total.val(),
            'billPurchases': []
        };
        $('#bill-details tr').each(function () {
            let details = {
                'purchaseDetailID': $(this).attr('detail'),
                'purchaseQuantity': $(this).find('td.item-quantity input.quantity-invoice').val(),
                'invoiceQuantity': $(this).find('td.item-quantity input.quantity-purchased').val()
            };
            Bill.billPurchases.push(details)
        })
        console.log(Bill)
        let purchases_array = JSON.parse(purchases.val())
        $.ajax({
            url: '/accounting/save_bill/',
            async: true,
            dataType: 'json',
            type: 'GET',
            cache: false,
            data: {'Bill': JSON.stringify(Bill)},
            contentType: 'application/json;charset=UTF-8',
            headers: {"X-CSRFToken": ' {{ csrf_token }}'},
            success: function (response, textStatus, xhr) {
                if (response.success) {
                    toastr.success(response.message, '¡Bien hecho!');
                    $('#body-finances tr').each(function () {
                        let row = $(this);
                        let pk = row.attr('pk');
                        for (let i = 0; i < purchases_array.length; i++) {
                            if (parseInt(pk) === parseInt(purchases_array[i])) {
                                row.remove();
                            }
                        }
                    });
                    $('#modal-bill-create').modal('hide');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                console.log(jqXhr);
                toastr.error('Error', '¡Ocurrio un error!');
                $('#container-loading').css('display', 'none');
            }
        });
    });

    $('.total-bill').keyup(function () {

        let total = parseFloat($(this).val());
        let subTotal = $('.total-base-bill');
        let igv = $('.total-igv-bill');
        let _subTotalCalculate = Number(total) / Number(1.18)
        let _igvCalculate = Number(total) - _subTotalCalculate
        subTotal.val(_subTotalCalculate.toFixed(2))
        igv.val(_igvCalculate.toFixed(2))
    });

    $('.quantity-invoice').keyup(function () {

        let quantity = $(this).val();
        let price = $('.price-product').val();

        let total = quantity * price;
        let igv = $('.total-igv-bill');

        $('.subtotal').val(total.toFixed(2))
        $('.total-bill').val(total.toFixed(2))

        let _subTotalCalculate = Number(total) / Number(1.18)
        let igvTotalCalculate = Number(total) - _subTotalCalculate
        $('.total-base-bill').val(_subTotalCalculate.toFixed(2))
        igv.val(igvTotalCalculate.toFixed(2))
    });

</script>