{% load operations %}
<table class="table table-sm table-bordered table-hover roboto-condensed-regular" id="table-dictionary">
    <thead>
    <tr class="text-white small text-uppercase">
        <th class="bg-primary text-center align-middle" style="width: 10%;">REFERENCIA</th>
        {#        <th class="bg-primary text-center align-middle" style="width: 10%;">PROVEEDOR</th>#}
        <th class="bg-primary text-center align-middle" style="width: 10%;">Nª DE DOC</th>
        <th class="bg-primary text-center align-middle" style="width: 10%;">FECHA BASE</th>
        <th class="bg-primary text-center" style="width: 10%;">FECHA VENCIMIENTO</th>
        <th class="bg-primary text-center align-middle" style="width: 5%;">MORO</th>
        {#        <th class="bg-primary text-center align-middle" style="width: 15%;">ORDENES DE COMPRA</th>#}
        {#        <th class="bg-info text-center" style="width: 12%;">PRODUCTO</th>#}
        {#        <th class="bg-info text-center" style="width: 12%;">TIPO UND.</th>#}
        {#        <th class="bg-info text-center" style="width: 12%;">CANTIDAD</th>#}
        {#        <th class="bg-info text-center" style="width: 12%;">PRECIO UNITARIO</th>#}
        <th class="bg-primary text-center align-middle" style="width: 10%;">IMPORTE DEL DOC</th>
        {#        <th class="bg-success text-center align-middle" style="width: 8%;">ENTIDAD</th>#}
        <th class="bg-success text-center align-middle" style="width: 10%;">IMPORTE FALTANTE</th>
        <th class="bg-success text-center align-middle" style="width: 10%;">IMPORTE PAGADO</th>
        {#        <th class="bg-success text-center align-middle" style="width: 10%;">TOTAL DEUDA</th>#}
        <th class="bg-success text-center align-middle" style="width: 10%;">FECHA DE PAGO</th>
        <th class="bg-success text-center align-middle" style="width: 10%;">NRO OPERACIÓN</th>
        <th class="bg-success text-center align-middle" style="width: 5%;">PAGAR</th>
    </tr>
    </thead>
    <tbody>
    {% for p in dictionary %}
        <tr pk="{{ p.id }}" class="text-center bill" {% if p.missing_payment == 0 %}style="background-color: #dde2e5" {% else %}{% endif %}>
            <td class="align-middle text-center font-weight-bold">{{ p.serial }}-{{ p.correlative }}</td>
            <td class="align-middle text-center">{{ p.order_number|default_if_none:'-' }}</td>
            <td class="align-middle text-center">{{ p.register_date|date:"d-m-Y" }}</td>
            <td class="align-middle text-center">{{ p.expiration_date|date:"d-m-Y" }}</td>
            <td class="align-middle text-center font-weight-bold {% if p.days_difference > 0 %}text-danger{% elif p.days_difference < 0 %}text-success{% elif p.days_difference == 0 %}text-dark{% endif %}">
                {% if p.days_difference > 0 %}
                    {{ p.days_difference }}
                {% elif p.days_difference < 0 %}
                    {{ p.days_difference|mod_number }}
                {% elif p.days_difference == 0 %}
                    -
                {% endif %}
            </td>
            <td class="align-middle text-right">
                <div class="input-icon">
                    <input type="text" readonly
                           style="background-color: #e4ece3; color: #0b43a4" aria-label="..."
                           class="form-control form-control-sm font-weight-bold text-right total"
                           value="{{ p.bill_total|thousands_separator }}"><i
                        class="change-money font-weight-bold">S/</i>
                </div>
            </td>
            <td class="align-middle text-right">
                <div class="input-icon">
                    <input type="text" readonly
                           style="background-color: #e4ece3; color: #9f4242" aria-label="..."
                           class="form-control form-control-sm font-weight-bold text-right total"
                           value="{{ p.missing_payment|thousands_separator }}"><i
                        class="change-money font-weight-bold">S/</i>
                </div>
            </td>
            <td class="align-middle text-center text-danger font-weight-bold p-0" colspan="3">
                {% if p.has_payment == False %}
                    SIN PAGOS
                {% else %}
                    <table class="table table-bordered table-sm mb-0 items-pay">
                        <tbody>
                        {% for l in p.loan_payment_set %}
                            <tr class="p-0 m-0 text-center">
                                <td class="align-middle text-center p-0 m-0 item-pay" style="width: 31%;">
                                    <div class="input-icon">
                                        <input type="text" readonly
                                               style="background-color: #e4ece3; color: #56ad2b" aria-label="..."
                                               class="form-control form-control-sm font-weight-bold text-right"
                                               value="{{ l.pay|thousands_separator }}"><i
                                            class="change-money font-weight-bold">S/</i>
                                    </div>
                                </td>
                                <td class="align-middle text-center p-0 m-0" style="width: 31%;">{{ l.date|date:"d-m-y" }}</td>
                                <td class="align-middle text-center p-0 m-0" style="width: 33%;">{{ l.operation_code }}</td>
                                <td class="align-middle text-center p-0 m-0" style="width: 5%;">
                                    <button type="button" class="btn btn-sm btn-show-file"
                                            data-toggle="modal"
                                            data-target="#fileModal"
                                            onclick="loadFile('{{ l.file.url }}')">
                                        <i class="fas fa-file"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </td>
            <td class="align-middle text-center button-pay p-1">
                {% if p.missing_payment != 0 %}
                    <button type="button"
                            class="btn btn-success btn-show-payments btn-sm"
                            data-toggle="modal"
                            data-target="#modal-payment-purchase"
                            pk="{{ p.id }}"><i class="fas fa-shopping-cart"></i>
                    </button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table table-sm">
    <thead>
    <tr class="text-center roboto-condensed-regular">
        <th style="width: 55%"></th>
        <th style="width: 10%">DEUDA TOTAL</th>
        <th style="width: 10%">TOTAL PAGADO</th>
        <th style="width: 10%">PENDIENTE</th>
        <th style="width: 15%"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" style="background-color: #f1f1e4">
        <td></td>
        <td class="align-middle text-center">
            <div class="input-icon">
                <input type="text" readonly
                       style="background-color: #e4ece3"
                       class="form-control form-control-sm font-weight-bold text-right total text-dark"
                       value="{{ sum_total|thousands_separator }}"><i
                    class="change-money font-weight-bold">S/</i>
            </div>
        </td>
        <td class="align-middle text-center">
            <div class="input-icon">
                <input type="text" readonly
                       style="background-color: #d0eedc"
                       class="form-control form-control-sm font-weight-bold text-right total text-dark"
                       value="{{ sum_total_loan_pay|thousands_separator }}"><i
                    class="change-money font-weight-bold">S/</i>
            </div>
        </td>
        <td class="align-middle text-center">
            <div class="input-icon">
                <input type="text" readonly
                       style="background-color: #eed0d0"
                       class="form-control form-control-sm font-weight-bold text-right total text-dark"
                       value="{{ sum_total_difference|thousands_separator }}"><i
                    class="change-money font-weight-bold">S/</i>
            </div>
        </td>
        <td></td>
    </tr>
    </tbody>
</table>

<style>

    .input-icon {
        position: relative;
    }

    .input-icon > i {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 25px;
        padding-right: 8px;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
    }

</style>
<script type="text/javascript">



</script>
