{% extends 'home.html' %}

{% block title %}
    Compras
{% endblock title %}

{% block body %}

    <div class="container-fluid">
        <div class="card p-2 bg-light">
            <div class="row">
                <div class="col-lg-2 pt-3 ml-3">
                </div>
                <div class="col-lg-8 text-center pt-2 bg-info">

                    <h2 class="font-weight-bold"> LISTADO DE ORDENES DE COMPRAS</h2>
                </div>
            </div>

            <div class="card-body p-2">
                <ul class="nav nav-tabs" id="multi-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="sales-project-tab" data-toggle="pill"
                           href="#sales-project" role="tab" aria-controls="sales-project"
                           aria-selected="true">SIN FACTURA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="costs-and-expenses-tab" data-toggle="pill"
                           href="#costs-and-expenses" role="tab" aria-controls="costs-and-expenses"
                           aria-selected="false">CON FACTURA</a>
                    </li>
                </ul>
            </div>


            <div class="tab-content" id="multi-tabContent">
                <div class="tab-pane active" id="sales-project" role="tabpanel"
                     aria-labelledby="sales-project-tab">
                    <div class="card-body p-2">
                        <div class="row mt-1">
                            <div id="file-list-grid" class="table-responsive small">
                                <div id="client-grid-list">{% include "accounting/purchase_grid_list_finances.html" %}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="costs-and-expenses" role="tabpanel"
                     aria-labelledby="costs-and-expenses-tab">
                    <div class="card-body p-2">
                        <div class="container">
                            <div class="text-center">
                                <h4 class="font-weight-bold">ORDENES DE COMPRA CON FACTURA</h4>
                            </div>
                        </div>
                        <div class="row mb-1 mt-0">
                            <div class="col-lg-12">
                                <div id="client-grid-list">{% include "accounting/purchase_grid_list_bill_finances.html" %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-bill-create" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

    <style>

        .input-icon {
            position: relative;
        }

        .input-icon > i {
        {#content: "$";#} position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
        }

        .input-icon > input {
            padding-left: 25px;
            padding-right: 8px;
        }

        .input-icon-right > i {
            right: 0;
        }

        .input-icon-right > input {
            padding-left: 0;
            padding-right: 25px;
            text-align: right;
        }

    </style>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        $(document).on('click', '.bill-create', function () {
            let _pk = $(this).attr('pk');
            $.ajax({
                url: '/accounting/modal_bill_create/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': _pk},
                success: function (response) {
                    $('#modal-bill-create').html(response.form);
                    $('#modal-bill-create').modal('show');
                },
                fail: function (response) {
                    toastr.error('Error en la peticion', '¡Mensaje!');
                }
            });
        });

    </script>

{% endblock extrajs %}