{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | Estado de cuentas
{% endblock title %}

{% block body %}

    <div class="container-fluid roboto-condensed-regular">
        <div class="card-header text-left mt-2 mb-1 p-1 bg-light">
            <div class="form-inline mt-1 mb-1 p-0">
                <table>
                    <tr>
                        <td class="pl-2 pr-2 text-dark">Seleccione Proveedor:</td>
                        <td class="pl-2 pr-2 text-dark">Fecha inicial:</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_initial"
                                                     value="{{ date }}" required>
                        </td>
                        <td class="pl-2 pr-2 text-dark">Fecha final:</td>
                        <td class="pl-2 pr-2"><input type="date" class="form-control" id="id_date_final"
                                                     value="{{ date }}" required>
                        </td>
                        <td class="pl-2 pr-2">
                            <select class="form-control" id="id-supplier" name="supplier">
                                <option disabled selected value=""> Seleccione</option>
                                {% for t in supplies_set %}
                                    <option value="{{ t.id }}">{{ t.business_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="pl-2 pr-2">
                            <select class="form-control" id="id-payment-status" name="payment_status">
                                <option value="all">Todas las facturas</option>
                                <option value="pending">Facturas pendientes</option>
                                <option value="paid">Facturas pagadas</option>
                            </select>
                        </td>
                        <td class="pl-2 pr-2">
                            <button type="button" id="id_btn_show"
                                    class="btn btn-primary btn-block"><i class="fas fa-search-dollar"></i> MOSTRAR
                            </button>
                        </td>
                        <td class="pl-2 pr-2">
                            <button type="button" id="id_btn_export_pdf"
                                    class="btn btn-danger btn-block" disabled><i class="fas fa-file-pdf"></i> PDF
                            </button>
                        </td>
                        <td class="pl-2 pr-2">
                            <button type="button" id="id_btn_export_excel"
                                    class="btn btn-success btn-block" disabled><i class="fas fa-file-excel"></i> EXCEL
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="loader-container col-auto" id="loader-bill"
             style="display: none; opacity: 1.5; width: 100%; padding-top: 3em;">
            <div class="loader"></div>
        </div>
        <div class="table-responsive" id="table-list-purchase"></div>
    </div>


    <div class="modal fade" id="modal-payment-purchase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" id="pay-purchase"></div>
    </div>

    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <input type="hidden" id="loan_payment" value="">
                    <h5 class="modal-title col-sm-6" id="fileModalLabel">Archivo Subido</h5>
                    <div class="col-sm-5">
                        <button type="button" id="btn_edit_container" class=" btn-sm btn btn-outline-info">Editar
                            Archivo
                        </button>
                    </div>
                    <button type="button" id="closeModal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <div class="card m-2 d-none" id="editContainer">
                        <table class="table table-sm bg-light mb-0">
                            <thead>
                            <tr class="text-uppercase font-weight-lighter">
                                <th class="border-bottom-0 align-middle">SUBIR NUEVO ESCANEO
                                    DEPOSITO:
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="border-top-0 border-bottom align-middle">
                                    <div class="form-group m-0 w-100">
                                        <div class="input-group w-100">
                                            <div class="custom-file w-100">
                                                <input type="file" name="file" id="file_edit" style="font-size: 12px"/>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="border-top-0 align-middle text-center">
                                    <button type="button" id="btn-edit-file"
                                            class="btn btn-block btn-sm btn-warning">Guardar
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card m-2" id="fileContainer"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p><strong>Cargando..</strong></p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $("#id_btn_show").click(function () {
            let _start_date = $('#id_date_initial').val();
            let _end_date = $('#id_date_final').val();
            let _combo = $('#id-supplier').val();
            let _payment_status = $('#id-payment-status').val();
            
            if (_combo > 0) {
                $('#table-list-purchase').empty();
                $('#loader-bill').html(loader).show()
                
                // Determinar la URL según el estado de pago
                let url = '/accounting/get_purchases_by_date/';
                if (_payment_status === 'paid') {
                    url = '/accounting/get_purchases_paid_by_date/';
                }
                
                $.ajax({
                    url: url,
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        'start-date': _start_date, 
                        'end-date': _end_date, 
                        'pk': _combo,
                        'payment_status': _payment_status
                    },
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            $('#table-list-purchase').html(response.grid);
                            $('#loader-bill').hide();
                            // Habilitar botones de exportación
                            $('#id_btn_export_pdf').prop('disabled', false);
                            $('#id_btn_export_excel').prop('disabled', false);
                        }
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        // $('#table-list-purchase').html(jqXhr.grid);
                        toastr.error(jqXhr.responseJSON.detalle, '¡MENSAJE!');
                        $('#loader-bill').hide();
                    }
                });
            } else {
                toastr.warning('Seleccione el proveedor', 'Mensaje')
            }
        });

        // Exportar a PDF
        $("#id_btn_export_pdf").click(function () {
            let _combo = $('#id-supplier').val();
            let _payment_status = $('#id-payment-status').val();
            let _start_date = $('#id_date_initial').val();
            let _end_date = $('#id_date_final').val();
            
            if (_combo > 0) {
                let url = '/accounting/print_pdf_purchases_report/';
                let params = new URLSearchParams({
                    'supplier_id': _combo,
                    'payment_status': _payment_status,
                    'start_date': _start_date,
                    'end_date': _end_date
                });
                
                window.open(url + '?' + params.toString(), '_blank');
            } else {
                toastr.warning('Seleccione el proveedor', 'Mensaje')
            }
        });

        // Exportar a Excel
        $("#id_btn_export_excel").click(function () {
            let _combo = $('#id-supplier').val();
            let _payment_status = $('#id-payment-status').val();
            let _start_date = $('#id_date_initial').val();
            let _end_date = $('#id_date_final').val();
            
            if (_combo > 0) {
                let url = '/accounting/export_excel_purchases_report/';
                let params = new URLSearchParams({
                    'supplier_id': _combo,
                    'payment_status': _payment_status,
                    'start_date': _start_date,
                    'end_date': _end_date
                });
                
                window.open(url + '?' + params.toString(), '_blank');
            } else {
                toastr.warning('Seleccione el proveedor', 'Mensaje')
            }
        });

        $(document).on('click', '.btn-show-payments', function () {
            let _bill_id = $(this).attr('pk');
            // $('#lending').empty();
            $.ajax({
                url: '/accounting/get_purchases_pay/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'bill_id': _bill_id,
                    'start-date': $('#id_date_initial').val(),
                    'end-date': $('#id_date_final').val(),
                },
                success: function (response) {
                    $('#pay-purchase').html(response.grid);
                },
                fail: function (response) {
                    console.log("error");
                }
            });
        });

        function loadFile(fileUrl, loanPayment) {
            var fileContainer = document.getElementById("fileContainer");
            fileContainer.innerHTML = '';
            document.getElementById("loan_payment").value = loanPayment;
            //console.log(fileUrl)
            if (fileUrl === '/mediafiles/img/image_placeholder.jpg') {
                fileContainer.innerHTML = '<p>No se subio ningun archivo.</p>';
                return;
            }
            if (fileUrl.endsWith('.pdf')) {
                showPDF(fileUrl, 400, 500);
            } else {
                var img = document.createElement('img');
                img.src = fileUrl;
                img.style.maxWidth = '100%';
                img.style.height = 'auto';
                fileContainer.appendChild(img);
            }
        }

        function showPDF(pdfUrl, width, height) {
            var fileContainer = document.getElementById("fileContainer");
            fileContainer.innerHTML = '<canvas id="pdfViewer"></canvas>';
            var canvas = document.getElementById('pdfViewer');
            var ctx = canvas.getContext('2d');

            pdfjsLib.getDocument(pdfUrl).promise.then(function (pdf) {
                pdf.getPage(1).then(function (page) {
                    var viewport = page.getViewport({scale: 1});
                    var scale = Math.min(width / viewport.width, height / viewport.height);
                    var scaledViewport = page.getViewport({scale: scale});

                    canvas.width = scaledViewport.width;
                    canvas.height = scaledViewport.height;

                    page.render({
                        canvasContext: ctx,
                        viewport: scaledViewport
                    });
                });
            });
        }

        $(document).on('click', '#btn_edit_container', function () {
            $('#editContainer').removeClass('d-none');
            // $('#fileContainer').addClass('d-none')
        });
        $(document).on('click', '#closeModal', function () {
            $('#editContainer').addClass('d-none');
            // $('#fileContainer').removeClass('d-none')
        });

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('btn-edit-file').addEventListener('click', function () {
                var fileInput = document.getElementById('file_edit');
                var file = fileInput.files[0];
                var loanPayment = document.getElementById('loan_payment').value;
                if (!file) {
                    alert('Por favor selecciona un archivo.');
                    return;
                }
                var formData = new FormData();
                formData.append('file', file);
                formData.append('loan_payment', loanPayment);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/accounting/edit_file/', true);

                xhr.onload = function () {
                    if (xhr.status >= 200 && xhr.status < 400) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            $('#fileModal').modal('hide');
                            toastr.success(response['message'], '¡Bien hecho!');
                            $("#id_btn_show").trigger('click');
                        } else {
                            alert(response.message);
                        }
                    } else {
                        alert('Error: ' + xhr.statusText);
                    }
                };
                xhr.onerror = function () {
                    alert('Error de red al intentar enviar el archivo');
                };

                xhr.send(formData);
            });
        });


    </script>
{% endblock extrajs %}
