{% load operations %}
{% if bill_dict %}
    <div class="card-body p-2 table-responsive small">
        <div class="table-responsive dataTables_wrapper roboto-condensed-regular">
            <table id="purchase-list-with-bill"
                   class="table table-bordered align-content-center w-100 h-100 table-info">
                <thead>
                <tr class="font-weight-bold text-uppercase bg-warning text-center">
                    <th class="th-sm align-middle" style="width: 5%" rowspan="2">Fecha de <br> Registro</th>
                    <th class="th-sm align-middle" style="width: 5%" rowspan="2">Fecha de <br>Expiracion</th>
                    <th class="th-sm align-middle" style="width: 5%" rowspan="2">Número de <br>Pedido</th>
                    <th class="th-sm align-middle" style="width: 7%" rowspan="2">Número <br>Comprobante</th>
                    <th class="th-sm align-middle" style="width: 8%" rowspan="2">Proveedor</th>
                    <th class="th-sm align-middle" style="width: 12%" rowspan="2">Direccion de Entrega</th>
                    <th class="th-sm align-middle" style="width: 6%" rowspan="2">Subtotal</th>
                    <th class="th-sm align-middle" style="width: 6%" rowspan="2">Igv(18%)</th>
                    <th class="th-sm align-middle" style="width: 6%" rowspan="2">Total</th>
                    <th class="th-sm align-middle" style="width: 2%" rowspan="2">Acciones</th>

                    <th class="th-sm" colspan="4">Detalle de Factura</th>
                </tr>
                <tr class="font-weight-bold text-uppercase bg-warning text-center">
                    <th class="th-sm" style="width: 18%">Producto</th>
                    <th class="th-sm" style="width: 4%">Cant.</th>
                    <th class="th-sm" style="width: 5%">Unidad</th>
                    <th class="th-sm" style="width: 5%">Prec. Unit.</th>
                </tr>
                </thead>
                <tbody id="body-finances-bill" style="font-size: 13px;">
                {% for b in bill_dict %}
                    <tr class="text-center details" pk="{{ b.id }}">
                        <td class="align-middle" rowspan="{{ b.row_count }}">{{ b.register_date|date:'d-m-Y' }}</td>
                        <td class="align-middle" rowspan="{{ b.row_count }}">{{ b.expiration_date|date:'d-m-Y' }}</td>
                        <td class="align-middle text-center" rowspan="{{ b.row_count }}">{{ b.order_number|upper }}</td>
                        <td class="align-middle text-center font-weight-bold" rowspan="{{ b.row_count }}">{{ b.serial }} - {{ b.correlative }}</td>
                        <td class="align-middle text-center" rowspan="{{ b.row_count }}">{{ b.supplier_name }}</td>
                        <td class="align-middle text-center" rowspan="{{ b.row_count }}">{{ b.delivery_address }}</td>
                        <td class="align-middle text-right font-weight-bold" rowspan="{{ b.row_count }}">S/ {{ b.bill_base_total|thousands_separator }}</td>
                        <td class="align-middle text-right font-weight-bold" rowspan="{{ b.row_count }}">S/ {{ b.bill_igv_total|thousands_separator }}</td>
                        <td class="align-middle text-right font-weight-bold" rowspan="{{ b.row_count }}">S/ {{ b.bill_total_total|thousands_separator }}</td>
                        <td class="align-middle text-center font-weight-bold" rowspan="{{ b.row_count }}">
                            <div class="btn-group btn-group-toggle" data-toggle="button">
                                <button type="button" class="btn btn-danger btn-sm bill-cancel" pk="{{ b.id }}">
                                    <i class="fas fa-ban"></i>
                                </button>
                                <button type="button" class="btn btn-success btn-sm btn-show-bill" pk="{{ b.id }}">
                                    <i class="fas fa-sort-down fa-lg see-icon"></i>
                                </button>
                            </div>
                        </td>
{#                        <td colspan="4" class="p-0">#}
{#                            <table>#}
{#                                <tbody>#}
{#                                {% for d in b.bill_detail %}#}
{#                                    <tr>#}
{#                                        <td class="align-middle text-center text-primary font-weight-bold"#}
{#                                            style="width: 16%">{{ d.product }}</td>#}
{#                                        <td class="align-middle text-center" style="width: 5%">{{ d.quantity }}</td>#}
{#                                        <td class="align-middle text-center" style="width: 5%">{{ d.unit }}</td>#}
{#                                        <td class="align-middle text-center" style="width: 6%">#}
{#                                            S/ {{ d.price_unit }}</td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </td>#}
                        {% for d in b.bill_detail %}
                            <td class="align-middle text-center text-primary font-weight-bold">{{ d.product }}</td>
                            <td class="align-middle text-center">{{ d.quantity }}</td>
                            <td class="align-middle text-center">{{ d.unit }}</td>
                            <td class="align-middle text-center">S/ {{ d.price_unit }}</td>
                            </tr>
                        {% endfor %}
                    </tr>
                    <tr class="show-detail" pk="{{ b.id }}" style="display: none">
                        <td colspan="10" class="table-details-bill p-0"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="card text-center roboto-condensed-regular p-3 border-info m-3">
        <div class="card-header font-weight-bold text-black-50" style="background-color: #88a3b9 ">
            Atencion!
        </div>
        <div class="card-body">
            <h5 class="card-title text-info roboto-condensed-regular font-weight-bold">No existen Facturas...</h5>
        </div>
    </div>
{% endif %}
