{% extends 'home.html' %}

{% block title %}
    Compras
{% endblock title %}

{% block body %}

    <div class="container-fluid">
        <div class="card p-2 bg-light">
            <div class="row">
                <div class="col-lg-2 pt-3 ml-3">
                </div>
                <div class="col-lg-8 text-center pt-2 bg-info">

                    <h2 class="font-weight-bold"> LISTADO DE ORDENES DE COMPRAS</h2>
                </div>
            </div>

            <div class="card-body p-2 roboto-condensed-regular">
                <ul class="nav nav-tabs" id="multi-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="purchase-list-tab" data-toggle="pill"
                           href="#purchase-without-bill" role="tab" aria-controls="purchase-without-bill"
                           aria-selected="true">SIN FACTURA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="bill-purchase-tab" data-toggle="pill"
                           href="#purchase-with-bill" role="tab" aria-controls="purchase-with-bill"
                           aria-selected="false">CON FACTURA</a>
                    </li>
                </ul>
            </div>


            <div class="tab-content" id="multi-tabContent">
                <div class="tab-pane active" id="purchase-without-bill" role="tabpanel"
                     aria-labelledby="purchase-list-tab">
                    <div class="card-body pt-2 pb-0">
                        <div class="row pl-2">
                            <button type="button"
                                    class="btn btn-sm btn-success font-weight-light font-italic generate-bill">
                                Generar Factura
                                <span class="badge badge-light">0</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="row mt-1">
                            <div id="file-list-grid" class="table-responsive small">
                                <div id="client-grid-list">{% include "accounting/purchase_grid_list_finances.html" %}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="purchase-with-bill" role="tabpanel"
                     aria-labelledby="bill-purchase-tab">
                    <div class="card-body p-2">
                        <div class="container">
                            <div class="text-center">
                                <h4 class="font-weight-bold">ORDENES DE COMPRA CON FACTURA</h4>
                            </div>
                        </div>
                        <div class="row mb-1 mt-0">
                            <div class="col-lg-12">
                                <div id="purchases-with-bill-grid">{% include "accounting/purchase_grid_list_bill_finances.html" %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-bill-create" tabindex="-1" role="dialog"
         data-backdrop="static" data-keyboard="false" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

    <style>

        .input-icon {
            position: relative;
        }

        .input-icon > i {
        {#content: "$";#} position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
        }

        .input-icon > input {
            padding-left: 25px;
            padding-right: 8px;
        }

        .input-icon-right > i {
            right: 0;
        }

        .input-icon-right > input {
            padding-left: 0;
            padding-right: 25px;
            text-align: right;
        }

    </style>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        $(document).on('click', '.bill-create', function () {
            let _pk = $(this).attr('pk');
            $.ajax({
                url: '/accounting/modal_bill_create/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': _pk},
                success: function (response) {
                    $('#modal-bill-create').html(response.form);
                    $('#modal-bill-create').modal('show');
                },
                fail: function (response) {
                    toastr.error('Error en la peticion', '¡Mensaje!');
                }
            });
        });

        $(document).on('click', '#bill-purchase-tab', function () {

            $('#purchase-list-with-bill').empty();
            $.ajax({
                url: '/accounting/get_purchases_with_bill/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#purchases-with-bill-grid').html(response['grid']);
                },
                fail: function (response) {
                    toastr.error('Error en la peticion, Contactar con Sistemas', '¡Mensaje!');
                }
            });
        });

        $(document).on('click', '.generate-bill', function () {
            let tbody = $('#body-finances')
            let firstSupplierID = null;
            let purchasesID = [];
            let error = false;

            tbody.find('tr td.item-check input.check-oc').each(function () {
                if ($(this).prop('checked')) {
                    let _tr = $(this).closest('tr');
                    let supplierID = parseInt(_tr.attr('supplier'));
                    let purchaseID = parseInt(_tr.attr('pk'));
                    if (firstSupplierID === null) {
                        firstSupplierID = supplierID;
                    } else {
                        if (supplierID !== firstSupplierID) {
                            error = true;
                            return false;
                        }
                    }
                    purchasesID.push(purchaseID);
                }
            });

            if (error) {
                toastr.warning('No puedes seleccionar Ordenes de Compra de diferentes proveedores para generar una factura.', 'Mensaje');
            }

            if (!error && purchasesID.length > 0) {
                console.log(purchasesID)
                $.ajax({
                    url: '/accounting/modal_bill_create/',
                    dataType: 'json',
                    type: 'GET',
                    data: {'purchases': JSON.stringify(purchasesID)},
                    success: function (response) {
                        $('#modal-bill-create').html(response.form);
                        $('#modal-bill-create').modal('show');
                    },
                    fail: function (response) {
                        toastr.error('Error en la peticion', '¡Mensaje!');
                    }
                });
            }
        });

        $(document).on('click', '#btn-save-bill', function (e) {

            let supplier_id = $("#supplier_id");
            let purchases = $("#purchase_id");
            let bill_date = $('#bill_date');
            let bill_date_expiration = $('#bill_date_expiration');
            let bill_serial = $('#bill_serial');
            let bill_correlative = $('#bill_correlative');
            let bill_address = $('#bill_delivery_address');
            let bill_order_number = $('#order_number');
            let bill_purchases_numbers = $('#purchases_numbers');

            let bill_total_base = $('.total-base-bill');
            let bill_igv = $('.total-igv-bill');
            let bill_total = $('.total-bill');

            let quantity_total = $('#quantity_total');

            if (bill_serial.val() === '') {
                toastr.warning('¡Ingresar la serie la de Factura!', 'Error de Datos');
                return false;
            }
            if (bill_correlative.val() === '') {
                toastr.warning('¡Ingresar el correlativo de la Factura!', 'Error de Datos');
                return false;
            }
            if (bill_order_number.val() === '') {
                toastr.warning('¡Ingresar el numero de pedido!', 'Error de Datos');
                return false;
            }

            if (checkQuantity() === true) {
                let previousTotal = parseFloat($('#current_total').val());
                if (bill_total.val() > previousTotal + 2 || bill_total.val() < previousTotal - 2) {
                    toastr.warning('¡El valor no puede estar fuera del rango +2 y -2!, favor de corregir', 'Mensaje');
                    return false;
                }
            }

            let Bill = {
                "supplier_id": supplier_id.val(),

                "purchase_id": purchases.val(),
                "bill_date": bill_date.val(),
                "bill_date_expiration": bill_date_expiration.val(),
                'bill_serial': bill_serial.val(),
                'bill_correlative': bill_correlative.val(),
                'bill_delivery_address': bill_address.val(),
                'bill_order_number': bill_order_number.val(),

                'bill_total_base': bill_total_base.val(),
                'bill_igv': bill_igv.val(),
                'bill_total': bill_total.val(),

                'bill_quantity': quantity_total.val(),
                'billPurchases': []
            };
            $('#bill-details tr').each(function () {
                let details = {
                    'purchaseDetailID': $(this).attr('detail'),
                    'purchaseQuantity': $(this).find('td.item-quantity input.quantity-invoice').val(),
                    'invoiceQuantity': $(this).find('td.item-quantity input.quantity-purchased').val()
                };
                Bill.billPurchases.push(details)
            })
            console.log(Bill)
            let purchases_array = JSON.parse(purchases.val())
            $('#btn-save-bill').prop('disabled', true)
            $.ajax({
                url: '/accounting/save_bill/',
                async: true,
                dataType: 'json',
                type: 'GET',
                cache: false,
                data: {'Bill': JSON.stringify(Bill)},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": ' {{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        toastr.success(response.message, '¡Bien hecho!');
                        $('#body-finances tr').each(function () {
                            let row = $(this);
                            let pk = row.attr('pk');
                            for (let i = 0; i < purchases_array.length; i++) {
                                if (parseInt(pk) === parseInt(purchases_array[i])) {
                                    row.remove();
                                }
                            }
                        });
                        $('#modal-bill-create').modal('hide');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    console.log(jqXhr);
                    toastr.error('Error', '¡Ocurrio un error!');
                    $('#container-loading').css('display', 'none');
                }
            });
            $('#btn-save-bill').prop('disabled', false)
        });

        $(document).on('click', '.bill-cancel', function (e) {
            let _bill_id = $(this).attr("pk")
            let r = confirm("¿Está seguro que desea eliminar la factura?");
            if (r === true) {
                $.ajax({
                    url: '/accounting/cancel_bill/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    cache: false,
                    data: {'bill': _bill_id},
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": ' {{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (response.success) {
                            toastr.success(response.message, '¡Bien hecho!');
                            setTimeout(() => {
                                location.reload();
                            }, 1000);
                        }
                        else {
                            toastr.error(response.message, 'ERROR DE ANULACION');
                        }
                    }
                });
            }
        });

    </script>

{% endblock extrajs %}