{% extends 'home.html' %}
{% block title %}
    Sedes
{% endblock title %}

{% block body %}
    <div class="container-fluid">

        <a class="btn btn-warning mb-3 mt-3 roboto-condensed-regular border-dark" href="" data-toggle="modal"
           data-target="#modal-subsidiary-store">
            <i class="fas fa-warehouse"></i> &nbsp;NUEVA SUCURSAL
        </a>
        <div id="ss-grid-list">{% include "hrm/subsidiary_grid_list.html" %}</div>
    </div>

    <div class="modal" id="modal-subsidiary-store" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3e6787">
                    <h6 class="modal-title text-white roboto-condensed-regular">REGISTRAR NUEVO ALMACEN</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="subsidiary-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="modal-body p-2 roboto-condensed-regular">
                        <div class="card">
                            <div class="card-body bg-light">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row p-1">
                                            <table class="table table-borderless">
                                                <tbody>
                                                <tr>
                                                    <td class="align-middle">Serie:</td>
                                                    <td>
                                                        <input type="text" name="serial" aria-label=""
                                                               class="form-control form-control-sm text-uppercase"
                                                               placeholder="Ingrese serie"
                                                               required autocomplete="off"
                                                               value=""
                                                               id="serial">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Nombre de la Sede:</td>
                                                    <td>
                                                        <input type="text" name="name" aria-label=""
                                                               class="form-control form-control-sm text-uppercase"
                                                               placeholder="Ingrese nombre de la nueva sede"
                                                               required autocomplete="off"
                                                               id="name">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Direccion:</td>
                                                    <td>
                                                        <input type="text" name="address" aria-label=""
                                                               class="form-control form-control-sm text-uppercase"
                                                               placeholder="Ingrese direccion completa"
                                                               required autocomplete="off"
                                                               value=""
                                                               id="address">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Distrito:</td>
                                                    <td>
                                                        <select id="district_id" name="district_id" aria-label=""
                                                                class="form-control form-control-sm" required>
                                                            <option value="0">Seleccione..</option>
                                                            {% for d in districts %}
                                                                <option value="{{ d.id }}">{{ d.description }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="align-middle">Sede Principal:</td>
                                                    <td>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" name="is_principal"
                                                                   class="custom-control-input"
                                                                   id="is_principal" >
                                                            <label class="custom-control-label" for="is_principal"></label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer bg-light p-2">
                        <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar
                        </button>
                        <button id="btn-save" type="submit" class="btn btn-primary font-weight-light">Registrar
                            Almacen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-edit" data-backdrop="static" data-keyboard="false"
         tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">
        $('#district_id').select2()
        /*let stores =
            [{% for ss in subsidiary_stores %}
                {
                    id: "{{ ss.subsidiary.id }}",
                    subsidiaryName: "{{ ss.subsidiary.name }}",
                    subsidiaryId: "{{ ss.subsidiary.id }}",
                    storeName: "{{ ss.name }}",
                    category: "{{ ss.category }}",
                },

            {% endfor %}];*/

        $('#subsidiary-form').submit(function (event) {
            event.preventDefault();
            let data = new FormData($('#subsidiary-form').get(0));
            $('#btn-save').prop("disabled", "true");
            let _district_id = $('#district_id').val();
            if (_district_id === '0') {
                toastr.warning('Seleccione un distrito', '¡Atención!');
                $('#btn-save').removeAttr("disabled");
                return false;
            }
            $.ajax({
                url: '/hrm/new_subsidiary/',
                type: "POST",
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response['message'], '¡Bien hecho!');
                        setTimeout(() => {
                            location.reload();
                        }, 500);
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error!');
                    }
                }
            });
            {#$('#btn-save').removeAttr("disabled", "false");#}
        });

        /*function checkStore(category, subsidiary) {
            return stores.some(function (store) {
                return store.category === category && store.subsidiaryId === subsidiary;
            });
        }*/


        $(document).on('click', '.btn-edit-subsidiary', async function () {
            let _pk = $(this).attr('pk');
            $.ajax({
                url: '/hrm/modal_subsidiary_edit/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': _pk},
                success: function (response) {
                    $('#modal-edit').html(response.form);
                    $('#modal-edit').modal('show');
                },
                fail: function (response) {
                    toastr.error('Error en la peticion', '¡Mensaje!');
                }
            });
        });

    </script>

{% endblock extrajs %}