{% load static %}
{% load operations %}
<div class="modal-dialog modal-lg" role="document">

    <div class="modal-content">
        <div id="modal-loader" class="overlay" style="display: none">
            <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header bg-primary">
            <h6 class="modal-title font-weight-bold text-white">EDITAR</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="update-form" action="{% url 'hrm:update_subsidiary' %}" method="POST">
            {% csrf_token %}
            <div class="modal-body p-2">
                <input type="hidden" name="subsidiary" value="{{ subsidiary_obj.id }}" id="subsidiary">
                <div class="card">
                    <div class="card-body bg-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row p-1">
                                    <table class="table table-borderless">
                                        <tbody>
                                        <tr>
                                            <td class="align-middle">Serie:</td>
                                            <td>
                                                <input type="text" name="subsidiary_serial" aria-label=""
                                                       class="form-control form-control-sm text-uppercase"
                                                       placeholder="Ingrese serie"
                                                       required autocomplete="off"
                                                       value="{{ subsidiary_obj.serial }}"
                                                       id="subsidiary_serial">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Nombre de la Sede:</td>
                                            <td>
                                                <input type="text" name="subsidiary_name" aria-label=""
                                                       class="form-control form-control-sm text-uppercase"
                                                       placeholder="Ingrese nombre del nuevo almacen"
                                                       required autocomplete="off"
                                                       value="{{ subsidiary_obj.name }}"
                                                       id="subsidiary_name">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Direccion:</td>
                                            <td>
                                                <input type="text" name="subsidiary_address" aria-label=""
                                                       class="form-control form-control-sm text-uppercase"
                                                       placeholder="Ingrese direccion"
                                                       required autocomplete="off"
                                                       value="{{ subsidiary_obj.address }}"
                                                       id="subsidiary_address">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Distrito:</td>
                                            <td>
                                                <select id="district" name="district" aria-label=""
                                                        class="form-control form-control-sm">
                                                    {% for d in districts %}
                                                        {% if d.id == subsidiary_obj.district.id %}
                                                            <option selected
                                                                    value="{{ d.id }}">{{ d.description }}</option>
                                                        {% else %}
                                                            <option value="{{ d.id }}">{{ d.description }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle">Sede principal:</td>
                                            <td>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" name="is_main" class="custom-control-input"
                                                           id="is_main" {% if subsidiary_obj.is_main %}
                                                           checked {% endif %} >
                                                    <label class="custom-control-label" for="is_main"></label>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer bg-light p-2">
                <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button id="btn-update" type="submit" class="btn btn-warning font-weight-light">Actualizar
                </button>
            </div>
        </form>
        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                {#height: 46em;#}
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>
    </div>
</div>


<script>

    $('#district').select2()

    $('#update_form').submit(function (event) {
        event.preventDefault();

        let data = new FormData($('#update_form').get(0));
        $('#btn-update').attr('disabled', true);
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            async: true,
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response) {
                if (response.success) {
                    toastr.success(response.message);
                    setTimeout(() => {
                        location.reload();
                    }, 1000);
                }
            },
            error: function (response) {
                toastr.error(response.message, "Guardado Fallido");
            }
        });
    });

</script>