<div class="modal-dialog modal-dialog-centered modal-xl" role="document">

    <div class="modal-content">
        <div class="modal-header text-center">
            <h5 class="modal-title  font-weight-bold">DETALLE DE ORDEN DE COMPRA</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <input type="hidden" id="purchase_id" value="{{ purchase.id }}">
            <div class="card bg-light">

                <div class="row p-2">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="batch" class="font-weight-bold">Nº de Lote</label>
                        <input type="text" class="form-control form-control-sm" id="batch"
                               name="batch"
                               value="">
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="batch_expiration_date" class="font-weight-bold">Fecha venc. Lote</label>
                        <input type="date" class="form-control form-control-sm" id="batch_expiration_date"
                               name="batch_expiration_date"
                               value="{{ formatdate }}" required>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="guide_number" class="font-weight-bold">Nº de Guia</label>
                        <input type="text" class="form-control form-control-sm" id="guide_number"
                               name="guide_number"
                               value="">
                    </div>

                </div>

                <div class="card bg-light m-2">
                    <div class="table-responsive dataTables_wrapper roboto-condensed-regular">
                        <table class="table table-primary align-content-center table-bordered table-sm m-0">
                            <thead>
                            <tr class="text-white bg-info text-uppercase">
                                <th class="align-middle text-center" style="width: 55%">Producto</th>
                                <th class="align-middle text-center" style="width: 10%">Cantidad Comprada</th>
                                <th class="align-middle text-center bg-warning text-dark" style="width: 10%">Cantidad Ingresada</th>
                                <th class="align-middle text-center" style="width: 5%">Unidad</th>
                                <th class="align-middle text-center" style="width: 10%">Precio unitario</th>
                                <th class="align-middle text-center" style="width: 10%">Importe</th>
                            </tr>
                            </thead>
                            <tbody id="details">
                            {% for d in detail_purchase %}
                                <tr product="{{ d.product.id }}" purchase_detail="{{ d.id }}" class="text-center">
                                    {#                            <td>{{ d.product.id }}</td>#}
                                    <td>{{ d.product.name }}</td>
                                    <td class="item-quantity">
                                        <input type="text"
                                               class="form-control form-control-sm text-center quantity"
                                               id="quantity"
                                               value="{{ d.quantity|floatformat:0 }}" readonly>
                                    </td>
                                    <td class="item-quantity-income bg-warning">
                                        <input type="text"
                                               class="form-control form-control-sm text-center quantity-income"
                                               id="quantity-income"
                                               value="{{ d.quantity_entered|floatformat:0 }}">
                                    </td>
                                    <td class="item-unit" pu="{{ d.unit.id }}">{{ d.unit.name }}</td>
                                    <td class="item-price">S/ {{ d.price_unit|floatformat:4 }}</td>
                                    <td>S/ {{ d.multiplicate|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> &nbsp;
                <button id="assignment-changes" type="button" class="btn btn-primary">Asignar Orden</button>
            </div>

        </div>
    </div>

    <script type="text/javascript">

        $('#assignment-changes').click(function () {
            let mensaje = confirm("¿Esta seguro de asignar al almacen seleccionado?");
            if (mensaje) {
                if ($('#purchase_id').val() !== '') {
                    if ($('#id_almacen').val() > 0) {
                        let details_purchase = {
                            "Details": [],
                            "Purchase": $('#purchase_id').val(),
                            "id_almacen": $('#id_almacen').val(),
                        };
                        $("#details  tr").each(function () {
                            var detailObj = {
                                "PurchaseDetail": $(this).attr('purchase_detail'),
                                "Product": $(this).attr('product'),
                                "Quantity": $(this).find("td.item-quantity").text(),
                                "Unit": $(this).find("td.item-unit").attr('pu'),
                                "Price": $(this).find("td.item-price").text(),
                                //"Store": $(this).find("td.item-store select").val(),
                            };
                            details_purchase.Details.push(detailObj);

                        });
                        //console.log(JSON.stringify(details_purchase));
                        $.ajax({

                            url: '/buys/save_detail_purchase_store/',
                            async: true,
                            dataType: 'json', // for response
                            type: 'GET',
                            data: {'details_purchase': JSON.stringify(details_purchase)},
                            contentType: 'application/json;charset=UTF-8',
                            headers: {"X-CSRFToken": '{{ csrf_token }}'},
                            success: function (response, textStatus, xhr) {
                                if (xhr.status === 200) {
                                    toastr.success(response.message, '¡EXITOSO!');
                                    $('#assignment').modal('hide');
                                    setTimeout(() => {
                                        location.reload();
                                    }, 800);
                                }
                            },
                            error: function (jqXhr, textStatus, xhr) {
                                $('#assignment').modal('hide');
                                toastr.error(jqXhr.responseJSON.error, '¡MENSAJE!');
                            }
                        });

                    } else {
                        toastr.warning("SELECCIONE EL ALMACEN DE DESTINO. ", '¡ADVERTENCIA!');
                        return false;
                    }
                } else {
                    toastr.warning("NO SE LOGRO SELECCIONAR LA COMPRA ", '¡ADVERTENCIA!');
                    return false;
                }
            }
        })

    </script>