{% load operations %}
<div class="modal-dialog modal-xl" role="document" style="margin-left: 210px;">

    <div class="modal-content" style="width: calc(100% + 300px);">
        <div class="modal-header text-left">
            <h5 class="modal-title roboto-condensed-regular font-weight-bold col-sm-4">INGRESO A ALMACEN:</h5>
            <h5 class="modal-title roboto-condensed-regular font-weight-bold col-sm-7 text-success">ORDEN DE
                COMPRA: {{ purchase.bill_number }}</h5>
            <button type="button" class="close col-sm-1" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body roboto-condensed-regular">
            <input type="hidden" id="purchase_id" value="{{ purchase.id }}">
            <div class="card bg-light">

                <div class="row p-2 text-uppercase">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="store">Seleccione Almacen de destino:</label>
                        <select id="store" name="store" class="form-control">
                            <option value="0">Seleccione</option>
                            {% for s in subsidiary_stores %}
                                <option value="{{ s.id }}">{{ s.subsidiary.name }} - ALMACEN {{ s.name|upper }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="assign_date" class="">Fecha de Ingreso:</label>
                        <input type="date" class="form-control form-control-sm" id="assign_date"
                               name="assign_date"
                               value="{{ formatdate }}" required>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="guide_number" class="font-weight-bold">Nº de Guia:</label>
                        <input type="text" class="form-control form-control-sm text-uppercase font-weight-bold"
                               id="guide_number"
                               name="guide_number"
                               value="">
                    </div>

                </div>
                <div class="row p-2 text-uppercase">

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="batch" class="">Nº de Lote:</label>
                        <input type="text" class="form-control form-control-sm" id="batch"
                               name="batch"
                               value="">
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="batch_expiration_date" class="">Fecha de vencimiento del Lote:</label>
                        <input type="date" class="form-control form-control-sm" id="batch_expiration_date"
                               name="batch_expiration_date"
                               value="{{ formatdate }}" required>
                    </div>

                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="bill_number" class="font-weight-bold">Nº de Factura:</label>
                        <input type="text" class="form-control form-control-sm text-uppercase font-weight-bold"
                               id="bill_number"
                               name="bill_number" readonly
                               value="{{ bill_number }}">
                    </div>

                </div>

                <div class="card bg-light m-2">
                    <div class="table-responsive dataTables_wrapper roboto-condensed-regular">
                        <table class="table table-primary align-content-center table-bordered table-sm m-0">
                            <thead>
                            <tr class="text-white bg-info text-uppercase">
                                <th class="align-middle text-center" style="width: 23%">Producto</th>
                                <th class="align-middle text-center bg-warning text-dark" style="width: 10%">Cantidad
                                    Comprada
                                </th>
                                <th class="align-middle text-center" style="width: 5%">Unidad</th>
                                <th class="align-middle text-center" style="width: 10%">Precio unit.</th>
                                <th class="align-middle text-center" style="width: 8%">Importe</th>
                                <th class="align-middle text-center bg-warning text-dark" style="width: 30%"
                                    colspan="2">Cantidad Ingresada
                                </th>
                                <th class="align-middle text-center bg-warning text-dark" style="width: 14%"
                                    colspan="3">Cantidad Faltante (UND)
                                </th>
                            </tr>
                            </thead>
                            <tbody id="details">
                            {% for d in detail_purchase %}
                                <tr class="detail" product="{{ d.product_id }}" purchase_detail="{{ d.id }}">
                                    <td class="align-middle text-left" rowspan="4">{{ d.product_name }}</td>
                                    <td class="align-middle item-quantity" rowspan="4">
                                        <input type="text"
                                               class="form-control form-control-sm font-weight-bold text-center quantity-purchased-in-units"
                                               id="quantity-purchased-in-units"
                                               value="{{ d.quantity|replace_round }}" readonly>
                                        <input type="hidden" class="form-control quantity-purchased"
                                               id="quantity_purchased"
                                               value="{{ d.quantity_in_units }}">
                                    </td>

                                    <td class="align-middle item-unit text-center" pu="{{ d.unit_id }}"
                                        rowspan="4">{{ d.unit_description }}</td>
                                    <td class="align-middle item-price text-center" rowspan="4">
                                        <div class="input-icon">
                                            <input type="text" style="background-color: #b8daff"
                                                   class="form-control text-right text-uppercase price-unit-purchase"
                                                   value="{{ d.price_unit }}"
                                                   id="price_unit_sold">
                                            <i class="change-money">S/</i>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center" rowspan="4">
                                        S/ {{ d.amount|replace_round }}</td>
                                </tr>
                                <tr class="entered-quantity">
                                    <td class="align-middle text-right">
                                        Cantidad Ingresada
                                    </td>
                                    <td class="align-middle text-center quantity-entered p-0">

                                        <table class="table table-info table-sm table-responsive-sm mb-0 table-entered">
                                            <tbody>
                                            {% if d.unit_name == 'UND' %}
                                                <tr class="quantity-und">
                                                    <td style="width: 50%">{{ unit_name }}</td>
                                                    <td class="item-quantity-entered" style="width: 50%">
                                                        <input type="text"
                                                               class="form-control form-control-sm text-center quantity_entered_units"
                                                               id="quantity_entered_units"
                                                               value="0">
                                                        <input type="hidden" class="form-control quantity-minimum"
                                                               id="quantity_minimum"
                                                               value="{{ d.quantity_minimum }}">
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr class="quantity-principal">
                                                    <td style="width: 50%">{{ unit_name }}</td>
                                                    <td style="width: 50%">
                                                        <input type="text"
                                                               class="form-control form-control-sm text-center quantity_entered_principal"
                                                               id="quantity_entered_principal"
                                                               value="0">
                                                        <input type="hidden" class="form-control quantity-minimum"
                                                               id="quantity_minimum"
                                                               value="{{ d.quantity_minimum }}">
                                                    </td>
                                                </tr>
                                                <tr class="quantity-und">
                                                    <td style="width: 50%">UNIDAD(ES)</td>
                                                    <td style="width: 50%">
                                                        <input type="text"
                                                               class="form-control form-control-sm text-center quantity_entered_units"
                                                               id="quantity_entered_units"
                                                               value="0">
                                                        <input type="hidden" class="form-control quantity-minimum"
                                                               id="quantity_minimum"
                                                               value="{{ d.quantity_minimum }}">
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="align-middle text-center item-quantity-missing" rowspan="3">
                                        <input type="text" id="quantity-missing" aria-label="..."
                                               class="form-control form-control-sm font-weight-bold text-center quantity-missing"
                                               readonly
                                               style="background-color: #b8daff"
                                               value="{{ d.quantity_in_units }}">
                                        <input type="hidden" id="current-quantity-missing"
                                               class="current-quantity-missing" value="{{ d.quantity_in_units }}">
                                    </td>
                                </tr>
                                <tr class="returned-quantity">
                                    <td class="align-middle text-right item-returned-quantity-check">
                                        <div class="form-group mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input returned-quantity-check"
                                                       type="checkbox" value=""
                                                       id="returnedQuantityCheck" required>
                                                <label class="form-check-label" for="returnedQuantityCheck">
                                                    Cantidad Devuelta
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center quantity-returned p-0">
                                        <table class="table table-info table-sm table-responsive-sm mb-0 table-quantity-returned">
                                            <tbody>
                                            {% if d.unit_name == 'UND' %}
                                                <tr class="returned-quantity-und">
                                                    <td style="width: 50%">{{ unit_name }}</td>
                                                    <td class="item-quantity-entered" style="width: 50%">
                                                        <input type="text"
                                                               class="form-control form-control-sm text-center returned_quantity_entered_units"
                                                               id="returned_quantity_entered_units" disabled
                                                               value="0">
                                                        <input type="hidden"
                                                               class="form-control returned-quantity-minimum"
                                                               id="returned_quantity_minimum"
                                                               value="{{ d.quantity_minimum }}">
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr class="returned-quantity-principal">
                                                    <td style="width: 50%">{{ unit_name }}</td>
                                                    <td style="width: 50%">
                                                        <input type="text"
                                                               class="form-control form-control-sm text-center returned_quantity_entered_principal"
                                                               id="returned_quantity_entered_principal" disabled
                                                               value="0">
                                                        <input type="hidden"
                                                               class="form-control returned-quantity-minimum"
                                                               id="returned_quantity_minimum" disabled
                                                               value="{{ d.quantity_minimum }}">
                                                    </td>
                                                </tr>
                                                <tr class="returned-quantity-und">
                                                    <td style="width: 50%">UNIDAD(ES)</td>
                                                    <td style="width: 50%">
                                                        <input type="text"
                                                               class="form-control form-control-sm text-center returned_quantity_entered_units"
                                                               id="returned_quantity_entered_units" disabled
                                                               value="0">
                                                        <input type="hidden"
                                                               class="form-control returned-quantity-minimum"
                                                               id="returned_quantity_minimum" disabled
                                                               value="{{ d.quantity_minimum }}">
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </td>
                                    {#                                        <input type="text" aria-label="..."#}
                                    {#                                               class="form-control form-control-sm text-center"#}
                                    {#                                               id="quantity_returned" disabled#}
                                    {#                                               value="0">#}
                                </tr>
                                <tr>
                                    <td class="align-middle text-right">
                                        <div class="form-group mb-0">
                                            <div class="form-check">
                                                <input class="form-check-input check-quantity-sold" type="checkbox"
                                                       value=""
                                                       id="invalidCheck" required>
                                                <label class="form-check-label" for="invalidCheck">
                                                    Vender
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center quantity-sold">
                                        {#                                        <input type="text"#}
                                        {#                                               class="form-control form-control-sm text-center"#}
                                        {#                                               id="quantity_sold"#}
                                        {#                                               disabled#}
                                        {#                                               value="0">#}
                                    </td>
                                </tr>
                                <tr class="d-none sold sold-quantity" style="background-color: #c7eabf">
                                    <td colspan="8">
                                        <div class="row mt-1 ml-0 mr-2">
                                            <div class="col-md-2 text-uppercase small pl-1 pr-0">
                                                <label for="bill_type" class="mb-0">Tipo de comprobante</label>
                                                <select id="bill_type"
                                                        class="form-control form-control-sm bill_type">
                                                    <option value="T">TICKET</option>
                                                    <option value="B">BOLETA</option>
                                                    <option value="F">FACTURA</option>
                                                </select>
                                            </div>

                                            <div class="col-md-2 text-uppercase small pl-1 pr-0">
                                                <label for="document_type" class="mb-0">Tipo de Documento</label>
                                                <select id="document_type"
                                                        class="form-control form-control-sm document_type">
                                                    <option value="0">DNI</option>
                                                    <option value="1">RUC</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2 text-uppercase small pl-1 pr-0">
                                                <label for="document_number" class="mb-0">Nro de Documento</label>
                                                <input type="text"
                                                       class="form-control form-control-sm text-uppercase document_number"
                                                       id="document_number"
                                                       name="document_number">
                                            </div>
                                            <div class="col-md-5 text-uppercase small pl-1 pr-0">
                                                <label for="document_names" class="mb-0">Nombres o Razon
                                                    Social</label>
                                                <input type="text"
                                                       class="form-control form-control-sm text-uppercase document_names"
                                                       id="document_names"
                                                       name="document_names">
                                            </div>
                                            <div class="col-md-1 text-uppercase small pl-1 pr-0">
                                                <button type="button" class="btn btn-success btn-sm btn-block mt-3">
                                                    GENERAR VENTA
                                                </button>
                                            </div>
                                        </div>
                                        <table class="table table-success align-content-center table-bordered table-sm mt-3 table-sold"
                                               id="table-sold">
                                            <thead class="table-light text-uppercase small text-center">
                                            <tr class="text-white" style="background: #33a922">
                                                <th scope="col"
                                                    class="border-right border-top border-bottom font-weight-normal"
                                                    style="width: 50%;">Producto
                                                </th>
                                                <th scope="col"
                                                    class="border-right border-top border-bottom font-weight-normal"
                                                    style="width: 13%;">Cantidad
                                                </th>
                                                <th scope="col"
                                                    class="border-right border-top border-bottom font-weight-normal"
                                                    style="width: 13%;">Unidad
                                                </th>
                                                <th scope="col"
                                                    class="border-right border-top border-bottom font-weight-normal"
                                                    style="width: 12%;">Precio
                                                </th>
                                                <th scope="col"
                                                    class="border-right border-top border-bottom font-weight-normal"
                                                    style="width: 12%;">Total
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="text-uppercase body-table-sold">
                                            {% for d in detail_purchase %}
                                                <tr product="{{ d.product_id }}" purchase_detail="{{ d.id }}"
                                                    class="text-center">
                                                    <td class="text-center align-middle">{{ d.product_name }}</td>
                                                    <td class=" text-center align-middle item-quantity-sold">
                                                        <input type="text"
                                                               class="form-control form-control-sm font-weight-bold text-center quantity-purchased-sold"
                                                               id="quantity_purchased_sold"
                                                               value="0">
                                                    </td>
                                                    <td class="text-center align-middle item-unit-sold">
                                                        <select class="form-control unit-product-sold text-center"
                                                                id="unit_sold" name="unit-sold">
                                                            <option disabled value="0">Seleccione</option>
                                                            {% for u in d.units_sold %}
                                                                {% if u.unit_id == d.unit_id %}
                                                                    <option selected value="{{ u.unit_id }}"
                                                                            qm="{{ u.quantity_minimum }}"
                                                                            p="{{ u.price_purchase }}">{{ u.unit_name }}
                                                                        ({{ u.quantity_minimum }}UND)
                                                                    </option>
                                                                {% else %}
                                                                    <option value="{{ u.unit_id }}"
                                                                            qm="{{ u.quantity_minimum }}"
                                                                            p="{{ u.price_purchase }}">{{ u.unit_name }}
                                                                        ({{ u.quantity_minimum }}UND)
                                                                    </option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td class="text-center align-middle item-price-sold">
                                                        <div class="input-icon">
                                                            <input type="text"
                                                                   class="form-control text-right text-uppercase price-unit-sold"
                                                                   placeholder="0.00"
                                                                   value="{{ d.price_unit }}"
                                                                   id="price_unit_sold">
                                                            <i class="change-money">S/</i>
                                                        </div>
                                                    </td>
                                                    <td class="text-center align-middle item-total-sold">
                                                        <div class="input-icon">
                                                            <input type="text"
                                                                   class="form-control text-right text-uppercase total-sold"
                                                                   placeholder="0.00" value=""
                                                                   id="total-sold">
                                                            <i class="change-money">S/</i>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div><!-- modal-body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> &nbsp;
                <button id="assignment-changes" type="button" class="btn btn-primary">Guardar</button>
            </div>

        </div>
    </div>
</div>

<style>
    .toast-center {
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<script type="text/javascript">

    $('#assignment-changes').click(function () {

        let store = $('#store');
        let batch = $('#batch');
        let guide_number = $('#guide_number');

        if (store.val() === '0') {
            toastr.warning('¡Seleccionar el Almacen de Destino!', 'Error de Datos');
            return false;
        }
        if (batch.val() === '') {
            toastr.warning('¡Ingresar el Numero de lote!', 'Error de Datos');
            return false;
        }
        if (guide_number.val() === '') {
            toastr.warning('¡Ingresar el Numero de Guia!', 'Error de Datos');
            return false;
        }

        let details_purchase = {
            "Details": [],
            "Purchase": $('#purchase_id').val(),
            "AssignDate": $('#assign_date').val(),
            "Batch": batch.val(),
            "BatchExpirationDate": $('#batch_expiration_date').val(),
            "GuideNumber": guide_number.val(),
            "Store": store.val(),
        };
        $("#details tr.detail").each(function () {
            let _td_quantity_entered = $(this).parent('tbody#details').find('tr.entered-quantity td.quantity-entered');
            //let _entered_quantity_principal = _td_quantity_entered.find('input.quantity_entered_principal').val();
            let _entered_quantity_principal = _td_quantity_entered.find('input.quantity_entered_principal').val() !== undefined ? _td_quantity_entered.find('input.quantity_entered_principal').val() : 0;
            let _entered_quantity_units = _td_quantity_entered.find('input.quantity_entered_units').val();

            let _td_quantity_returned = $(this).parent('tbody#details').find('tr.returned-quantity td.quantity-returned');
            //let _returned_quantity_principal = _td_quantity_returned.find('input.returned_quantity_entered_principal').val();
            let _returned_quantity_principal = _td_quantity_returned.find('input.returned_quantity_entered_principal').val() !== undefined ? _td_quantity_returned.find('input.returned_quantity_entered_principal').val() : 0;

            let _returned_quantity_units = _td_quantity_returned.find('input.returned_quantity_entered_units').val();

            let _td_quantity_sold = $(this).parent('tbody#details').find('tr.sold-quantity table.table-sold');
            let _sold_quantity = _td_quantity_sold.find('tr td.item-quantity-sold input.quantity-purchased-sold').val();
            let _unit_sold = _td_quantity_sold.find('tr td.item-unit-sold select.unit-product-sold').val()

            let detailObj = {
                "PurchaseDetail": $(this).attr('purchase_detail'),
                "Product": $(this).attr('product'),
                "UnitPurchase": $(this).find("td.item-unit").attr('pu'),
                "PricePurchase": $(this).find("td.item-price input.price-unit-purchase").val(),
                "QuantityPurchased": $(this).find("td.item-quantity input.quantity-purchased-in-units").val(),

                "EnteredQuantityPrincipal": Number(_entered_quantity_principal),
                "EnteredQuantityUnits": Number(_entered_quantity_units),

                "ReturnedQuantityPrincipal": Number(_returned_quantity_principal),
                "ReturnedQuantityUnits": Number(_returned_quantity_units),

                "SoldQuantity": Number(_sold_quantity),
                "SoldUnit": _unit_sold
            };
            details_purchase.Details.push(detailObj);

        });
        console.log(details_purchase);
        $.ajax({
            url: '/buys/save_detail_purchase_store/',
            async: true,
            dataType: 'json', // for response
            type: 'GET',
            data: {'details': JSON.stringify(details_purchase)},
            contentType: 'application/json;charset=UTF-8',
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response, textStatus, xhr) {
                if (xhr.status === 200) {
                    toastr.success(response.message, '¡Mensaje!');
                    $('#assignment').modal('hide');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                $('#assignment').modal('hide');
                toastr.error(jqXhr.responseJSON.error, '¡MENSAJE!');
            }
        });
    })


    /********* QUANTITY ENTERED  ***********/

    $('.quantity_entered_principal').keyup(function () {

        let _quantity_missing = $(this).parent('td').closest('table').parent('td').parent('tr').find('td.item-quantity-missing input.quantity-missing')
        let _current_quantity_missing = $(this).parent('td').closest('table').parent('td').parent('tr').find('td.item-quantity-missing input.current-quantity-missing')
        let quantity_minimum = $(this).parent('td').find('input.quantity-minimum').val();
        let _q_principal = $(this).val();
        let _q_unit = $(this).closest('tr').parent('tbody').find('tr.quantity-und input.quantity_entered_units').val();
        let q_in_units_principal = Number(_q_principal) * Number(quantity_minimum)
        let sum_quantities = q_in_units_principal + Number(_q_unit)

        if (sum_quantities > Number(_current_quantity_missing.val())) {
            toastr.warning("La cantidad INGRESADA no puede superar a la cantidad COMPRADA", '¡MENSAJE!', {
                positionClass: "toast-center",
            });
            $(this).val('')
            _quantity_missing.val(_current_quantity_missing.val())
            return false;
        } else {
            let new_q_missing = Number(_current_quantity_missing.val()) - sum_quantities
            _quantity_missing.val(new_q_missing.toFixed(2))
        }
    });

    $('.quantity_entered_units').keyup(function () {

        let _quantity_missing = $(this).parent('td').closest('table').parent('td').parent('tr').find('td.item-quantity-missing input.quantity-missing')
        let _current_quantity_missing = $(this).parent('td').closest('table').parent('td').parent('tr').find('td.item-quantity-missing input.current-quantity-missing')
        let quantity_minimum = $(this).closest('tr').parent('tbody').find('tr.quantity-und input.quantity-minimum').val();
        let _q_unit = $(this).val();
        let _q_principal = 0
        if ($(this).closest('tr').parent('tbody').find('tr.quantity-principal input.quantity_entered_principal').val() !== undefined) {
            _q_principal = $(this).closest('tr').parent('tbody').find('tr.quantity-principal input.quantity_entered_principal').val();
        }

        let q_in_units_principal = Number(_q_principal) * Number(quantity_minimum)
        let sum_quantities = q_in_units_principal + Number(_q_unit)

        if (sum_quantities > Number(_current_quantity_missing.val())) {
            toastr.warning("La cantidad INGRESADA no puede superar a la cantidad COMPRADA", '¡MENSAJE!', {
                positionClass: "toast-center",
            });
            $(this).val('')
            _quantity_missing.val(_current_quantity_missing.val())
            return false;
        } else {
            let new_q_missing = Number(_current_quantity_missing.val()) - sum_quantities
            _quantity_missing.val(new_q_missing.toFixed(2))
        }
    });

    /********* END QUANTITY ENTERED  ***********/

    /********* QUANTITY RETURNED  ***********/

    $('.returned-quantity-check').change(function () {
        let _table = $(this).closest('tr').find('td.quantity-returned table.table-quantity-returned');
        let _input_und = _table.find('tr.returned-quantity-und input.returned_quantity_entered_units');
        let _input_principal = _table.find('tr.returned-quantity-principal input.returned_quantity_entered_principal');
        if ($(this).is(':checked')) {
            _input_und.prop('disabled', false);
            _input_principal.prop('disabled', false);
        } else {
            _input_und.prop('disabled', true);
            _input_principal.prop('disabled', true);
            _input_und.val('0');
            _input_principal.val('0');
            $('.quantity_entered_principal').trigger('keyup');
            $('.quantity_entered_units').trigger('keyup');
        }
    });

    $('.returned_quantity_entered_principal').keyup(function () {

        let _quantity_missing = $(this).closest('table').parent('td').parent('tr').parent('tbody#details').find('tr.entered-quantity td.item-quantity-missing input.quantity-missing')
        //let _current_quantity_missing = $(this).closest('table').parent('td').parent('tr').parent('tbody#details').find('tr.entered-quantity td.item-quantity-missing input.current-quantity-missing')
        let quantity_minimum = $(this).parent('td').find('input.returned-quantity-minimum').val();
        let _q_principal = $(this).val();
        let _q_unit = $(this).closest('tr').parent('tbody').find('tr.returned-quantity-und input.returned_quantity_entered_units').val();

        let q_in_units_principal = Number(_q_principal) * Number(quantity_minimum)
        let sum_quantities = q_in_units_principal + Number(_q_unit)
        $('.quantity_entered_principal').trigger('keyup')
        $('.quantity_entered_units').trigger('keyup')
        if (sum_quantities > Number(_quantity_missing.val())) {
            toastr.warning("La cantidad DEVUELTA no puede superar a la cantidad FALTANTE", '¡MENSAJE!', {
                positionClass: "toast-center",
            });
            $(this).val('')
            return false;
        } else {
            let new_q_missing = Number(_quantity_missing.val()) - sum_quantities
            _quantity_missing.val(new_q_missing.toFixed(2))
        }

    });

    $('.returned_quantity_entered_units').keyup(function () {

        let _quantity_missing = $(this).closest('table').parent('td').parent('tr').parent('tbody#details').find('tr.entered-quantity td.item-quantity-missing input.quantity-missing')
        //let _current_quantity_missing = $(this).closest('table').parent('td').parent('tr').parent('tbody#details').find('tr.entered-quantity td.item-quantity-missing input.current-quantity-missing')
        let quantity_minimum = $(this).parent('td').find('input.returned-quantity-minimum').val();
        let _q_unit = $(this).val();
        let _q_principal = 0

        if ($(this).closest('tr').parent('tbody').find('tr.returned-quantity-principal input.returned_quantity_entered_principal').val()) {
            _q_principal = $(this).closest('tr').parent('tbody').find('tr.returned-quantity-principal input.returned_quantity_entered_principal').val();
        }

        let q_in_units_principal = Number(_q_principal) * Number(quantity_minimum)
        let sum_quantities = q_in_units_principal + Number(_q_unit)
        $('.quantity_entered_principal').trigger('keyup')
        $('.quantity_entered_units').trigger('keyup')
        if (sum_quantities > Number(_quantity_missing.val())) {
            toastr.warning("La cantidad DEVUELTA no puede superar a la cantidad FALTANTE", '¡MENSAJE!', {
                positionClass: "toast-center",
            });
            $(this).val('')
            return false;
        } else {
            // console.log("_quantity_missing.val()", _quantity_missing.val())
            //console.log("sum_quantities", sum_quantities)
            let new_q_missing = Number(_quantity_missing.val()) - sum_quantities
            _quantity_missing.val(new_q_missing.toFixed(2))
            //console.log("_quantity_missing", _quantity_missing.val())
        }

    });

    /********* END QUANTITY RETURNED  ***********/


    /********* QUANTITY SOLD  ***********/

    $('.check-quantity-sold').change(function () {
        if ($(this).is(':checked')) {
            $('.sold').removeClass('d-none')
        } else {
            $('.sold').addClass('d-none')
            $(this).closest('tbody#details').find('tr.sold-quantity table.table-sold td.item-quantity-sold input.quantity-purchased-sold').val('0');
            $(this).closest('tbody#details').find('tr.sold-quantity table.table-sold td.item-total-sold input.total-sold').val('0.00');
            $('.quantity_entered_principal').trigger('keyup')
            $('.quantity_entered_units').trigger('keyup')
        }
    });

    $('.unit-product-sold').change(function () {
        let _price = $(this).closest('tr').find('td.item-price-sold input.price-unit-sold');
        //let unit_id = $(this).val();
        //let quantity_minimum = $(this).find('option:selected').attr('qm');
        let _new_price = Number($(this).find('option:selected').attr('p'));
        _price.val(_new_price.toFixed(6));
        $('.quantity-purchased-sold').trigger('keyup');
    });

    $('.quantity-purchased-sold').keyup(function () {

        let _quantity_minimum = $(this).closest('tr').find('td.item-unit-sold select.unit-product-sold option:selected').attr('qm');
        let _quantity = $(this).val();
        let _quantity_remaining = $(this).closest('tbody#details').find('tr.entered-quantity td.item-quantity-missing input.quantity-missing');
        let _quantity_in_units = Number(_quantity_minimum) * Number(_quantity);
        let _price = $(this).closest('tr').find('td.item-price-sold input.price-unit-sold').val();
        let _total = $(this).closest('tr').find('td.item-total-sold input.total-sold');
        let new_total = Number(_quantity) * Number(_price)
        $('.quantity_entered_principal').trigger('keyup')
        $('.quantity_entered_units').trigger('keyup')
        $('.returned_quantity_entered_principal').trigger('keyup')
        $('.returned_quantity_entered_units').trigger('keyup')
        if (_quantity_in_units > _quantity_remaining.val()) {
            toastr.warning("La cantidad VENDIDA no puede superar a la cantidad FALTANTE", '¡MENSAJE!', {
                positionClass: "toast-center",
            });
            $(this).val('');
            $(this).closest('tr').find('td.item-total-sold input.total-sold').val('0.00');
            $(this).focus();
            return false;
        } else {
            _total.val(new_total.toFixed(2))
            //console.log("_quantity_remaining", _quantity_remaining.val())
            ///.log("_quantity_in_units", _quantity_in_units)
            let _new_quantity_remaining = _quantity_remaining.val() - _quantity_in_units
            //console.log("_new_quantity_remaining", _new_quantity_remaining)
            _quantity_remaining.val(_new_quantity_remaining.toFixed(2));
        }
    });

    /********* END QUANTITY SOLD  ***********/

</script>