{% extends 'home.html' %}
{% block title %}
    Facturas
{% endblock title %}

{% block body %}
    <div class="row m-0">
        <div class="col-sm-12 col-sm-12 col-lg-12 pt-3 roboto-condensed-regular">
            <div class="card">
                <div class="card-header pt-0" style="background: #19800f">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <h5 class="montserrat text-white font-weight-bold mt-4 mb-0">
                            <label>EMISIÓN DE FACTURA:</label>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-12 col-md-12 col-lg-12 pr-0">
            <div class="card">
                <div class="card-header pb-1 pt-1">
                    <div class="row">
                        <div class="col-sm-9 col-md-9 col-lg-9 font-weight-bold">
                            DATOS DE LA FACTURA:
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <div class="row p-1">
                        <div class="col-sm-8 col-md-8 col-lg-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">

    </script>

{% endblock extrajs %}