{% extends 'home.html' %}
{% block title %}
    Facturas
{% endblock title %}

{% block body %}
    <div class="row m-0">
        <div class="col-sm-12 col-sm-12 col-lg-12 pt-3 roboto-condensed-regular">
            <div class="card">
                <div class="card-header pt-0" style="background: #19800f">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <h5 class="montserrat text-white font-weight-bold mt-4 mb-0">
                            <label>EMISIÓN DE FACTURA:</label>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-12 col-md-12 col-lg-12 pr-0">
            <div class="card">
                <div class="card-header pb-1 pt-1">
                    <div class="row">
                        <div class="col-sm-9 col-md-9 col-lg-9 font-weight-bold">
                            DATOS DE LA FACTURA:
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <div class="row p-1">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row p-1">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="id_fechacompra">Fecha</label>
                                    <input type="date" class="form-control" id="id_fechacompra"
                                           name="fechacompra"
                                           placeholder="Fecha compra"
                                           value="{{ formatdate }}" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="delivery_date">Ruc</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <label for="delivery_date">Cliente</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="delivery_date">Direccion</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="delivery_date">Fecha de pedido</label>
                                    <input type="date" class="form-control" id="id_fechacompra"
                                           name="fechacompra"
                                           placeholder="Fecha compra"
                                           value="{{ formatdate }}" required>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="delivery_date">Nro de pedido</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label for="purchases">Multiple</label>
                                        <select class="select2 purchase" multiple="multiple"
                                                data-placeholder="Select a State"
                                                style="width: 100%;">
                                            {% for p in purchase_set %}
                                                <option pk="{{ p.id }}">{{ p.bill_number }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {#                                    <label for="delivery_date">Nº O/C</label>#}
                                    {#                                    <input type="text" class="form-control" id="delivery_date"#}
                                    {#                                           name="delivery-date"#}
                                    {#                                           value="">#}
                                </div>
                                {#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
                                {#                                    <label for="delivery_date">Oficina</label>#}
                                {#                                    <input type="text" class="form-control" id="delivery_date"#}
                                {#                                           name="delivery-date"#}
                                {#                                           value="">#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
                                {#                                    <label for="delivery_date">Area</label>#}
                                {#                                    <input type="text" class="form-control" id="delivery_date"#}
                                {#                                           name="delivery-date"#}
                                {#                                           value="">#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
                                {#                                    <label for="delivery_date">Zona Transporte</label>#}
                                {#                                    <input type="text" class="form-control" id="delivery_date"#}
                                {#                                           name="delivery-date"#}
                                {#                                           value="">#}
                                {#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pt-1">
                    <div class="row p-1">
                        <div class="table-responsive" id="render-table">
                            <table id="id_table_details"
                                   class="table table-sm table-bordered mb-0">
                                <thead>
                                <tr class="text-center text-white" style="background: #19800f">
                                    <th class="align-middle font-weight-normal" style="width: 10%;">Código</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">Cantidad</th>
                                    <th class="align-middle font-weight-normal" style="width: 5%;">Unidad Venta</th>
                                    <th class="align-middle font-weight-normal" style="width: 35%;">Descripción</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">P. Unitario</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">V. Lista</th>
                                    <th class="align-middle font-weight-normal" style="width: 5%;">Descs (%)</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">V. Venta Total</th>
                                    <th class="align-middle font-weight-normal" style="width: 5%;"><i
                                            class="fa fa-trash"></i></th>
                                </tr>
                                </thead>
                                <tbody id="details-purchase-table">
                                {#                                <tr detail_id="">#}
                                {#                                    <td class="align-middle text-center">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-center text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="1001169">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-center text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="918.00">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-center text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="CS-CJA">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-left text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="GLORIA EVP ENT PRG. VASO LECHE">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-right text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="166.31">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-right text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="140.940675">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-right text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="0.00">#}
                                {#                                    </td>#}
                                {#                                    <td class="align-middle text-left">#}
                                {#                                        <input type="text"#}
                                {#                                               class="form-control text-right text-uppercase"#}
                                {#                                               placeholder="0" aria-label="Username"#}
                                {#                                               value="152,672.58">#}
                                {#                                    </td>#}
                                {#                                </tr>#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">
        $('.select2').select2()


        $(document).on('select2:select', '.select2.purchase', function (e) {

            //var selectedValue = e.params.data.id;
            let purchase_id = e.params.data.element.attributes.pk.nodeValue
            let tbody = $('tbody#details-purchase-table');
            $.ajax({
                url: '/buys/get_purchase_detail/',
                dataType: 'json',
                type: 'GET',
                data: {'id': purchase_id},
                success: function (response) {
                    let d = response.detail_purchase_dict
                    for (let i = 0; i < d.length; i++) {
                        let product_id = d[i].product_id;
                        if (tbody.find('tr').length > 0) {
                            tbody.find('tr').each(function () {
                                let _tr = $(this);
                                if (Number(product_id) === Number(_tr.attr("product_id"))) {
                                    let _quantity = _tr.find('td.item-quantity input.quantity');
                                    let _detail_total = _tr.find('td.item-detail-total input.detail-total');
                                    let _new_quantity = Number(d[i].quantity) + Number(_quantity.val());
                                    let _new_detail_total = (Number(d[i].detail_total.replace(',', '')) + Number(_detail_total.val().replace(',', ''))).toFixed(2)
                                    _quantity.val(_new_quantity);
                                    _detail_total.val(parseFloat(_new_detail_total).toLocaleString('es-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }));
                                }
                            });

                        } else {
                            tbody.append(
                                '<tr detail_id="' + d[i].id + '" product_id="'+ d[i].product_id +'">' +
                                '<td class="align-middle text-center item-code">' +
                                '<input type="text" class="form-control text-center text-uppercase code" value="' + d[i].product_code + '">' + '</td>' +
                                '<td class="align-middle text-center item-quantity">' +
                                '<input type="text" class="form-control text-center text-uppercase quantity" value="' + d[i].quantity + '">' + '</td>' +
                                '<td class="align-middle text-center item-unit">' +
                                '<input type="text" class="form-control text-center text-uppercase unit" value="' + d[i].unit_name + '">' + '</td>' +
                                '<td class="align-middle text-center item-name">' +
                                '<input type="text" class="form-control text-center text-uppercase name" value="' + d[i].product_name + '">' + '</td>' +
                                '<td class="align-middle text-center item-price-unit">' +
                                '<input type="text" class="form-control text-center text-uppercase price-unit" value="' + d[i].price_unit + '">' + '</td>' +
                                '<td class="align-middle text-center item-price-list">' +
                                '<input type="text" class="form-control text-center text-uppercase price-list" value="0.00">' + '</td>' +
                                '<td class="align-middle text-center item-discount">' +
                                '<input type="text" class="form-control text-center text-uppercase discount" value="0.00">' + '</td>' +
                                '<td class="align-middle text-center item-detail-total">' +
                                '<input type="text" class="form-control text-center text-uppercase detail-total" value="' + d[i].detail_total + '">' + '</td>' +
                                '<td class="align-middle text-center"> ' +
                                '<button type="button" onclick="deleteItem2(this)" class="btn btn-danger delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +
                                '</tr>'
                            )
                        }

                    }
                },
                fail: function (response) {
                    toastr.error('Error en la peticion', '¡Mensaje!');
                }
            });


        });


    </script>

{% endblock extrajs %}