{% extends 'home.html' %}
{% block title %}
    Facturas
{% endblock title %}

{% block body %}
    <div class="row m-0">
        <div class="col-sm-12 col-sm-12 col-lg-12 pt-3 roboto-condensed-regular">
            <div class="card">
                <div class="card-header pt-0" style="background: #19800f">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <h5 class="montserrat text-white font-weight-bold mt-4 mb-0">
                            <label>EMISIÓN DE FACTURA:</label>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-1">
        <div class="col-sm-12 col-md-12 col-lg-12 pr-0">
            <div class="card">
                <div class="card-header pb-1 pt-1">
                    <div class="row">
                        <div class="col-sm-9 col-md-9 col-lg-9 font-weight-bold">
                            DATOS DE LA FACTURA:
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1">
                    <div class="row p-1">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row p-1">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="id_fechacompra">Fecha</label>
                                    <input type="date" class="form-control" id="id_fechacompra"
                                           name="fechacompra"
                                           placeholder="Fecha compra"
                                           value="{{ formatdate }}" required>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="delivery_date">Ruc</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <label for="delivery_date">Cliente</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="delivery_date">Direccion</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="delivery_date">Fecha de pedido</label>
                                    <input type="date" class="form-control" id="id_fechacompra"
                                           name="fechacompra"
                                           placeholder="Fecha compra"
                                           value="{{ formatdate }}" required>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label for="delivery_date">Nro de pedido</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <label for="delivery_date">Nº O/C</label>
                                    <input type="text" class="form-control" id="delivery_date"
                                           name="delivery-date"
                                           value="">
                                </div>
{#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
{#                                    <label for="delivery_date">Oficina</label>#}
{#                                    <input type="text" class="form-control" id="delivery_date"#}
{#                                           name="delivery-date"#}
{#                                           value="">#}
{#                                </div>#}
{#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
{#                                    <label for="delivery_date">Area</label>#}
{#                                    <input type="text" class="form-control" id="delivery_date"#}
{#                                           name="delivery-date"#}
{#                                           value="">#}
{#                                </div>#}
{#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
{#                                    <label for="delivery_date">Zona Transporte</label>#}
{#                                    <input type="text" class="form-control" id="delivery_date"#}
{#                                           name="delivery-date"#}
{#                                           value="">#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body pt-1">
                    <div class="row p-1">
                        <div class="table-responsive" id="render-table">
                            <table id="id_table"
                                   class="table table-sm table-bordered mb-0">
                                <thead>
                                <tr class="text-center text-white" style="background: #19800f">
                                    <th class="align-middle font-weight-normal" style="width: 10%;">Código</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">Cantidad</th>
                                    <th class="align-middle font-weight-normal" style="width: 5%;">Unidad Venta</th>
                                    <th class="align-middle font-weight-normal" style="width: 40%;">Descripción</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">P. Unitario</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">V. Lista</th>
                                    <th class="align-middle font-weight-normal" style="width: 5%;">Descs (%)</th>
                                    <th class="align-middle font-weight-normal" style="width: 10%;">V. Venta Total</th>
                                </tr>
                                </thead>
                                <tbody id="details-table">
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-center text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="1001169">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-center text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="918.00">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-center text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="CS-CJA">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-left text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="GLORIA EVP ENT PRG. VASO LECHE">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-right text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="166.31">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-right text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="140.940675">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-right text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="0.00">
                                </td>
                                <td class="align-middle text-left">
                                    <input type="text"
                                           class="form-control text-right text-uppercase"
                                           placeholder="0" aria-label="Username"
                                           value="152,672.58">
                                </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">

    </script>

{% endblock extrajs %}