<div class="table-responsive dataTables_wrapper roboto-condensed-regular">
    <table id="id_detail_data_grid"
           class="table table-hover table-sm align-content-center table-bordered mb-0"
           cellspacing="0" style="width: 100%;">
        <thead>
        <tr class="text-center text-white" style="background: #1a77c8">
            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">Nº</th>
            <th scope="col" class="align-middle font-weight-normal" style="width: 30%;">Descripción de Artículo</th>
            {#            <th scope="col" class="align-middle font-weight-normal" style="width: 8%;">Marca</th>#}
            <th scope="col" class="align-middle font-weight-normal" style="width: 10%;">Cantidad</th>
            <th scope="col" class="align-middle font-weight-normal" style="width: 7%;">Unidad Medida</th>
            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">Cant. Min.</th>
            <th scope="col" class="align-middle font-weight-normal" style="width: 18%; background-color: #518d86">Cant.
                x Und Med.
            </th>
            <th scope="col" class="align-middle font-weight-normal" style="width: 10%;">Valor Unitario</th>
            {#            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">%Dto.1</th>#}
            {#            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">%Dto.2</th>#}
            {#            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">%Dto.3</th>#}
            {#            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">%Dto.4</th>#}
            <th scope="col" class="align-middle font-weight-normal" style="width: 10%;">Importe</th>
            {#            <th scope="col" class="align-middle font-weight-normal" style="width: 3%;">Afecta Kardex</th>#}
            <th scope="col" class="align-middle font-weight-normal" style="width: 5%;">Eliminar</th>
        </tr>
        </thead>
        <tbody id="details-table">
        {% if contract_detail_obj %}
            {% for c in contract_dict %}
                <tr class="" product="{{ c.product_id }}" unit_id="">
                    <td class="item-numero align-middle text-center">{{ c.counter }}</td>
                    <td class="align-middle text-left product-item-table">
                        <input type="text"
                               class="form-control text-uppercase product-table dropdown-toggle"
                               data-toggle="dropdown" aria-expanded="false"
                               placeholder="Ingrese producto..."
                               value="{{ c.product_name }}"
                               disabled>
                        <div class="dropdown-menu"></div>
                    </td>
                    <td class="align-middle item-quantity">
                        <input type="text"
                               class="form-control text-center quantity-product text-uppercase"
                               placeholder="0"
                               value="{{ c.quantity|safe|floatformat:0 }}">
                    </td>
                    <td class="align-middle unit">
                        <select class="form-control unit-product" id="id_unit_product" name="unit_product" required>
                            <option value="0">Seleccione</option>
                            {% for u in c.units %}
                                <option value="{{ u.unit_id }}">{{ u.unit_name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="align-middle quantity-minimum">
                        <input type="text" class="form-control text-center quantity-minimum" readonly>
                    </td>

                    <td class="align-middle item-quantity-x-unit" style="background-color: #bde7e2">
                        <div class="row">
                            <div class="col-sm-3 text-center pr-0">
                                <label class="mt-2">Ver en:</label>
                            </div>
                            <div class="col-sm-3 pr-0 pl-0 mt-1">
                                <select class="form-control quantity-unit pl-0 pr-0 text-center" aria-label="..."
                                        style="font-size: 0.7585em; background-color: #bde7e2">
                                    <option value="0">Seleccione</option>
                                    {% for u in c.units %}
                                        <option value="{{ u.unit_id }}"
                                                qm="{{ u.quantity_minimum }}">{{ u.unit_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6 pl-1">
                                <input type="text" aria-label="..." style="background-color: #bde7e2"
                                       class="form-control text-center quantity-x-unit text-uppercase">
                            </div>
                        </div>
                    </td>
                    <td class="item-price text-right align-middle">
                        <div class="input-icon">
                            <input type="text" class="form-control text-right text-uppercase price-unit-product"
                                   placeholder="0.00">
                            <i class="change-money">S/</i>
                        </div>
                    </td>
                    <td class="item-total text-right align-middle total-row">
                        <div class="input-icon">
                            <input type="text" class="form-control text-right text-uppercase total-detail"
                                   placeholder="0.00">
                            <i class="change-money">S/</i>
                        </div>
                    </td>
                    <td class="align-middle">
                </tr>
            {% endfor %}
        {% else %}
            <tr class="" product="" unit_id="">
                <td class="item-numero align-middle text-center">1</td>
                <td class="align-middle text-left product-item-table">
                    <input type="text"
                           class="form-control text-uppercase product-table dropdown-toggle"
                           data-toggle="dropdown" aria-expanded="false"
                           placeholder="Ingrese producto...">
                    <div class="dropdown-menu"></div>
                </td>
                <td class="align-middle item-quantity">
                    <input type="text"
                           class="form-control text-center quantity-product text-uppercase"
                           placeholder="0">
                </td>
                <td class="align-middle unit">
                    <select class="form-control unit-product text-center" id="id_unit_product" name="unit_product"
                            required>
                        <option value="0">Seleccione</option>
                    </select>
                </td>
                <td class="align-middle quantity-minimum">
                    <input type="text" class="form-control text-center quantity-minimum" readonly>
                </td>

                <td class="align-middle item-quantity-x-unit" style="background-color: #bde7e2">
                    <div class="row">
                        <div class="col-sm-3 text-center pr-0">
                            <label class="mt-2">Ver en:</label>
                        </div>
                        <div class="col-sm-3 pr-0 pl-0 mt-1">
                            <select class="form-control quantity-unit pl-0 pr-0 text-center" aria-label="..."
                                    style="font-size: 0.7585em; background-color: #bde7e2">
                                <option value="0">Seleccione</option>
                            </select>
                        </div>
                        <div class="col-sm-6 pl-1">
                            <input type="text" aria-label="..." style="background-color: #bde7e2"
                                   class="form-control text-center quantity-x-unit text-uppercase"
                                   readonly>
                        </div>
                    </div>
                </td>
                <td class="item-price text-right align-middle">
                    <div class="input-icon">
                        <input type="text" class="form-control text-right text-uppercase price-unit-product"
                               placeholder="0.00">
                        <i class="change-money">S/</i>
                    </div>
                </td>
                <td class="item-total text-right align-middle total-row">
                    <div class="input-icon">
                        <input type="text" class="form-control text-right text-uppercase total-detail"
                               placeholder="0.00">
                        <i class="change-money">S/</i>
                    </div>
                </td>
                <td class="align-middle">
            </tr>
        {% endif %}
        </tbody>

        <tfoot id="details-table-foot">
        <tr>
            <td class="border-0" colspan="2"></td>

            <td class="border td-table-foot" colspan="11">
                <div class="form-check mt-5">
                    <input class="form-check-input check-igv" type="checkbox" checked id="check_igv">
                    <label class="form-check-label" for="check_igv">
                        INCLUYE IGV
                    </label>
                </div>
                <table class="table table-hover table-sm align-content-center table-bordered mt-3 table-foot"
                       style="width: 100%;" id="id_detail_data_foot">

                    <thead>
                    <tr class="text-center text-white" style="background: #1a77c8">
                        <th scope="col" class="align-middle font-weight-normal" style="width: 35%;">Base Imponible</th>
                        <th scope="col" class="align-middle font-weight-normal" style="width: 30%;">IGV (18%)</th>
                        <th scope="col" class="align-middle font-weight-normal" style="width: 35%;">Importe Total</th>
                        {#                        <th scope="col" class="align-middle font-weight-normal" style="width: 20%;">Flete</th>#}
                        {#                        <th scope="col" class="align-middle font-weight-normal" style="width: 25%;">Total Documento</th>#}
                    <tbody id="table-detail-foot">
                    <tr class="text-center">
                        <td class="foot-base">
                            <div class="input-icon">
                                <input type="text"
                                       class="form-control text-right text-uppercase total-foot-base"
                                       placeholder="0.00"><i class="change-money">S/</i>
                            </div>
                        </td>
                        <td class="foot-igv">
                            <div class="input-icon">
                                <input type="text"
                                       class="form-control text-right text-uppercase total-foot-igv"
                                       placeholder="0.00"><i class="change-money">S/</i>
                            </div>
                        </td>
                        <td class="foot-total">
                            <div class="input-icon">
                                <input type="text"
                                       class="form-control text-right text-uppercase total-foot-total"
                                       placeholder="0.00"><i class="change-money">S/</i>
                            </div>
                        </td>
                        {#                        <td class="foot-freight">#}
                        {#                            <div class="input-icon">#}
                        {#                                <input type="text" class="form-control text-right text-uppercase total-foot-freight"#}
                        {#                                       placeholder="0.00">#}
                        {#                                <i class="change-money font-weight-lighter">S/</i>#}
                        {#                            </div>#}
                        {#                        </td>#}
                        {#                        <td class="foot-document">#}
                        {#                            <div class="input-icon">#}
                        {#                                <input type="text" class="form-control text-right text-uppercase total-foot-document"#}
                        {#                                       placeholder="0.00">#}
                        {#                                <i class="change-money font-weight-lighter">S/</i>#}
                        {#                            </div>#}
                        {#                        </td>#}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tfoot>

    </table>
</div>