<div class="row p-1">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <label>Referencia de Venta: (Cliente)</label>
        <select id="client_reference_id" name="client_reference_id" class="form-control">
            <option value="0">Seleccione</option>
            {% for c in client_set %}
                <option value="{{ c.id }}" type="{{ c.type_client }}">{{ c.names|upper }}
                    | {{ c.get_type_client_display }}</option>
            {% endfor %}
        </select>

    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 client-final d-none">
        <label class="text-primary">Referencia de Venta a la Entidad: (Cliente Final)</label>
        <select id="client_final" name="client_final" class="form-control">
            <option value="0">Seleccione</option>
            {% for c in client_set %}
                <option value="{{ c.id }}">{{ c.names|upper }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row p-1">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-subsidiary" checked="">
            <label for="check-subsidiary" class="custom-control-label">Entrega en Anderquin</label>
        </div>
        {#        <label>Lugar de Entrega:</label>#}
        <select id="address_subsidiary" name="address_subsidiary" class="form-control">
            <option value="0">Seleccione</option>
            {% for s in subsidiary_set %}
                <option value="{{ s.id }}">{{ s.name|upper }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-provider">
            <label for="check-provider" class="custom-control-label">Entrega en Proveedor</label>
        </div>
        {#        <label>Lugar de Entrega:</label>#}
        <select id="address_provider" name="address_provider" class="form-control">
            <option value="0">Seleccione</option>
            <!--{% for s in supplier_set %}
                <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}-->
        </select>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 delivery-client">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-client">
            <label for="check-client" class="custom-control-label">Entrega en Cliente</label>
        </div>
        {#        <label>Lugar de Entrega:</label>#}
        <select id="client_address_reference" name="client_address_reference" class="form-control">
            <option value="0">Seleccione</option>
{#            {% for c in client_set %}#}
{#                <option value="{{ c.id }}" type="{{ c.type_client }}">{{ c.names|upper }}#}
{#                    | {{ c.get_type_client_display }}</option>#}
{#            {% endfor %}#}
        </select>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 delivery-client-final d-none">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-client-final">
            <label for="check-client-final" class="custom-control-label text-primary">Entrega en Cliente Final</label>
        </div>
        {#        <label>Lugar de Entrega:</label>#}
        <select id="client_final_address" name="client_final_address" class="form-control">
            <option value="0">Seleccione</option>
{#            {% for c in client_set %}#}
{#                <option value="{{ c.id }}" type="{{ c.type_client }}">{{ c.names|upper }}#}
{#                    | {{ c.get_type_client_display }}</option>#}
{#            {% endfor %}#}
        </select>
    </div>
</div>
<div class="row p-1">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="observations" class="">Observaciones:</label>
        <input type="text" class="form-control" id="observations"
               name="observations"
               placeholder="OBSERVACIONES"
               value="">
    </div>
</div>

{#<div class="table-responsive dataTables_wrapper roboto-condensed-regular">   #}
{#    <table id="id_freight_data_grid"#}
{#           class="table table-hover table-sm align-content-center table-bordered"#}
{#           cellspacing="0" style="width: 100%;">#}
{#        <thead>#}
{#        <tr class="text-center text-white" style="background: #1a77c8">#}
{#            <th scope="col" class="align-middle font-weight-normal" style="width: 35%;">Documento</th>#}
{#            <th scope="col" class="align-middle font-weight-normal" style="width: 10%;">Serie</th>#}
{#            <th scope="col" class="align-middle font-weight-normal" style="width: 15%;">Numero</th>#}
{#            <th scope="col" class="align-middle font-weight-normal" style="width: 15%;">Fecha</th>#}
{#            <th scope="col" class="align-middle font-weight-normal" style="width: 20%;">Importe</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody id="details-freight">#}
{#        <tr class="text-center">#}
{#            <td class="align-middle document-freight">#}
{#                <input type="text" class="form-control text-uppercase document-freight-input" id="id_document_freight"#}
{#                       name="document_freight">#}
{#            </td>#}
{#            <td class="align-middle serial-freight">#}
{#                <input type="text" class="form-control text-uppercase serial-freight-input" id="id_serial_freight"#}
{#                       name="serial_freight">#}
{#            </td>#}
{#            <td class="align-middle number-freight">#}
{#                <input type="text" class="form-control text-uppercase number-freight-input" id="id_number_freight"#}
{#                       name="number_freight">#}
{#            </td>#}
{#            <td class="align-middle date-freight">#}
{#                <input type="date" class="form-control date-freight-input" id="id_date_freight"#}
{#                   name="date_freigh"#}
{#                   value="{{ formatdate }}" required>#}
{#            </td>#}
{#            <td class="align-middle total-freight">#}
{#                <input type="text" class="form-control text-right text-uppercase total-freight-input" id="id_total_freight"#}
{#                       name="total_freight" placeholder="0.00">#}
{#            </td>#}
{#        </tr>#}
{#        </tbody>#}
{#    </table>#}
{#</div>#}