<div class="row p-1">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <label for="person-names" class="">Referencia de Venta: (Cliente)</label>
        <div id="autocomplete-client" class="autocomplete">
            <input class="form-control autocomplete-input"
                   type="text"
                   id="person-names"
                   name="person-names"
                   maxlength="200"
                   autocomplete="off"
                   value="{{ contract_detail_obj.contract.client.names }}"
                   placeholder="Buscar Cliente..."/>
            <ul class="autocomplete-result-list"></ul>
        </div>
        <input type="hidden" id="client_reference_id" name="client_reference" value="">
        <input type="hidden" id="type_client_reference" name="type_client_reference" value="">

    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 client-final d-none">
        <label for="person-final-names" class="text-primary">Referencia de Venta a la Entidad: (Cliente Final)</label>
        <div id="autocomplete-client-final" class="autocomplete">
            <input class="form-control autocomplete-input"
                   type="text"
                   id="person-final-names"
                   name="person-final-names"
                   maxlength="200"
                   autocomplete="off"
                   value=""
                   placeholder="Buscar Cliente..."/>
            <ul class="autocomplete-result-list"></ul>
        </div>
        <input type="hidden" id="client_final" name="client_final" value="">
    </div>
</div>
<div class="row p-1">
    <div class="col-sm-3 col-md-3 col-lg-3 pr-1">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-subsidiary" checked="">
            <label for="check-subsidiary" class="custom-control-label">En Anderquin:</label>
        </div>
        <select id="address_subsidiary" name="address_subsidiary" class="form-control">
            <option value="0">Seleccione</option>
            {% for s in subsidiary_set %}
                <option value="{{ s.id }}">{{ s.name|upper }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-provider">
            <label for="check-provider" class="custom-control-label">En Proveedor:</label>
        </div>
        <select id="address_provider" name="address_provider" class="form-control">
            <option value="0">Seleccione</option>
            <!--{% for s in supplier_set %}
                <option value="{{ s.id }}">{{ s.name }}</option>
            {% endfor %}-->
        </select>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 delivery-client pl-1 pr-1">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-client">
            <label for="check-client" class="custom-control-label">En Cliente: (Referencia)</label>
        </div>
        <select id="client_address_reference" name="client_address_reference" class="form-control">
            <option value="0">Seleccione</option>
        </select>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 delivery-client-final d-none pl-1">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="check-client-final">
            <label for="check-client-final" class="custom-control-label text-primary">En Cliente Final:</label>
        </div>
        <select id="client_final_address" name="client_final_address" class="form-control">
            <option value="0">Seleccione</option>
        </select>
    </div>
</div>
<div class="row p-1">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label for="observations" class="">Observaciones:</label>
        <input type="text" class="form-control" id="observations"
               name="observations"
               placeholder="OBSERVACIONES"
               value="">
    </div>
</div>