{% load app_filters %}
{% if contract_set %}
    <div class="card-body p-1 table-responsive small">
        <table id="client-data-grid" class="table table-bordered align-content-center w-100 h-100 roboto-condensed-regular table-responsive-sm">
                <thead>
                <tr class="text-center text-white text-uppercase " style="background: #3e6787; font-size: 12px;">
                    <th class="th-sm align-middle" style="width: 1%">#</th>
                    <th class="th-sm align-middle" style="width: 14%">Nº de contrato</th>
                    <th class="th-sm align-middle" style="width: 15%">Cliente</th>
                    <th class="th-sm align-middle" style="width: 5%">Fecha de Registro</th>
                    <th class="th-sm align-middle" style="width: 50%">Fechas de Entrega</th>
                    <th class="th-sm align-middle" style="width: 5%">Status</th>
                    <th class="th-sm align-middle" style="width: 10%">Observaciones</th>
                </tr>
                </thead>
                <tbody style="font-size: 11px;">
                {% for c in contract_set %}
                    <tr class="text-center" pk="{{ c.id }}">
                        <td class="align-middle">
                            {{ forloop.counter }}
                        </td>
                        <td class="align-middle font-weight-bold p-1">
                            <div class="row col-12 p-0">
                                <div class="col-sm-3 pr-0">
                                    <button class="btn btn-sm btn-edit-contract mb-1" pk="{{ c.id }}">
                                        <i class="fas fa-edit fa-xs" style="color: #ffc107;"></i>
                                    </button>
                                </div>
                                <div class="col-sm-9 mt-2 pr-0 pl-0">
                                    {{ c.contract_number }}
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">{{ c.client.names }}</td>
                        <td class="align-middle">{{ c.register_date|date:'d-m-Y' }}</td>
                        <td class="align-middle text-center">
                            <div id="accordion">
                                <div class="card" style="background-color: #d7f2f6">
                                    <div class="card-header p-0" id="heading-{{ c.id }}">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed text-dark roboto-condensed-regular p-0 font-weight-bold"
                                                    data-toggle="collapse"
                                                    data-target="#collapse-{{ c.id }}" aria-expanded="false"
                                                    aria-controls="collapse-{{ c.id }}">
                                                Fechas de Entrega <i class="fas fa-sort-down"></i>
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse-{{ c.id }}" class="collapse" aria-labelledby="heading-{{ c.id }}"
                                         data-parent="#accordion">
                                        <div class="card-body pt-1 pb-1 pr-0">
                                            <div class="row pl-0">
                                                <button type="button"
                                                        class="btn btn-sm btn-warning font-weight-light generate-oc">
                                                    Generar Orden de Compra
                                                    <span class="badge badge-light">0</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body p-0">
                                            <table class="table table-bordered table-sm dates roboto-condensed-regular m-0 table-responsive-sm"
                                                   style="background-color: #bfdecb; font-size: 10px">
                                                <thead>
                                                <tr class="text-center font-weight-bold text-uppercase bg-light align-middle">
                                                    <th class="th-sm" style="width: 5%"><i class="fas fa-check"></i>
                                                    </th>
                                                    <th class="th-sm" style="width: 5%">#</th>
                                                    <th class="th-sm" style="width: 10%">Fecha</th>
                                                    {#                                    <th class="th-sm" style="width: 10%">O/C</th>#}
                                                    <th class="th-sm" style="width: 50%">Producto</th>
                                                    <th class="th-sm" style="width: 15%">Orden de Compra</th>
                                                    <th class="th-sm" style="width: 15%">Guia de remision</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for d in c.contractdetail_set.all %}
                                                    <tr class="text-center" pk="{{ c.id }}">
                                                        <td class="align-middle item-check">
                                                            {% if not d.contractdetailpurchase_set.last.purchase %}
                                                                <div class="form-check">
                                                                    <input class="form-check-input check-dates"
                                                                           type="checkbox" value=""
                                                                           id="{{ c.id }}">
                                                                    <label class="form-check-label"
                                                                           for="{{ c.id }}"> </label>
                                                                </div>
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle font-weight-bold">{{ d.nro_quota|default_if_none:'-' }}</td>
                                                        <td class="align-middle font-weight-bold">
                                                            {{ d.date|date:'d-m-Y' }}
                                                        </td>
                                                        {#                                        <td class="align-middle">#}
                                                        {#                                            {% if d.purchase_set.all %}#}
                                                        {#                                                <span class="font-weight-bold">{{ d.purchase_set.all.last.bill_number }}</span>#}
                                                        {#                                            {% else %}#}
                                                        {#                                                -#}
                                                        {#                                            {% endif %}#}
                                                        {#                                        </td>#}
                                                        <td class="items-table">
                                                            <table class="table table-borderless table-sm mb-0 items"
                                                                   style="background-color: #bfdecb">
                                                                <tbody>
                                                                {% for e in d.contractdetailitem_set.all %}
                                                                    <tr class="p-0 m-0" cd="{{ d.id }}" cdi="{{ e.id }}"
                                                                        product="{{ e.product.id }}">
                                                                        <td class="align-middle text-left p-0 m-0 item-quantity">{{ e.quantity|safe }}</td>
                                                                        <td class="align-middle text-left p-0 m-0">UND
                                                                        </td>
                                                                        <td class="align-middle text-left p-0 m-0">{{ e.product.name }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="align-middle">
                                                            {% if d.contractdetailpurchase_set.last.purchase %}
                                                                <a class="btn btn-sm btn-success font-weight-light" style="font-size: 10px"
                                                                   href="{% url 'buys:print_pdf_purchase_order' d.contractdetailpurchase_set.last.purchase.id %}">
                                                                    {{ d.contractdetailpurchase_set.last.purchase.bill_number }}</a>
                                                            {% endif %}
                                                        </td>
                                                        {#                                                        <td class="align-middle">#}
                                                        {#                                                            {% if d.purchase_set.all %}#}
                                                        {#                                                                <a class="btn btn-sm btn-success font-weight-light"#}
                                                        {#                                                                   href="{% url 'buys:print_pdf_purchase_order' d.purchase_set.all.last.id %}">#}
                                                        {#                                                                    {{ d.purchase_set.all.last.bill_number }}</a>#}
                                                        {##}
                                                        {#                                                            {% else %}#}
                                                        {#                                                                <a class="btn btn-sm btn-warning font-weight-light"#}
                                                        {#                                                                   href="{% url 'buys:buy_list' d.id %}">#}
                                                        {#                                                                    <i class="fas fa-money-check-alt"></i> Generar#}
                                                        {#                                                                    O/C</a>#}
                                                        {#                                                            {% endif %}#}
                                                        {#                                                        </td>#}
                                                        <td class="align-middle">
                                                            {% if d.guide_set.all %}
                                                                <a class="btn btn-sm btn-danger font-weight-light" style="font-size: 10px"
                                                                   href="{% url 'comercial:guide' d.guide_set.all.last.id %}">
                                                                    {{ d.guide_set.all.last.serial }}-{{ d.guide_set.all.last.correlative|zfill:5 }}</a>
                                                            {% else %}
                                                                <a class="btn btn-sm btn-primary font-weight-light" style="font-size: 10px"
                                                                   href="{% url 'comercial:new_guide' d.id %}">
                                                                    <i class="fas fa-folder-plus"></i> Generar Guia</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td class="align-middle">{{ c.get_status_display }}</td>
                        <td class="align-middle">{{ c.observation|default_if_none:'-'|upper }}</td>
                        {#                        <td class="align-middle">#}
                        {#                            <button type="button" class="btn btn-warning btn-sm item-edit"#}
                        {#                                    pk="{{ c.id }}"><i class="fa fa-pencil-alt fa-1x"></i>#}
                        {#                            </button>#}
                        {#                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

{% else %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Consulta!</strong> No existen contratos registrados.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}