{% extends 'home.html' %}

{% block title %}
    Contratos
{% endblock title %}

{% block body %}

    <div class="container-fluid p-3 bg">
        <div class="card p-2">
            <div class="row">
                <div class="col-lg-2 pt-3 ml-3">
                    <button type="button" onclick="showModalCreateContract('modal_contract_create')"
                            class="btn btn-outline-success"><i class="fas fa-file-contract"></i>
                        NUEVO CONTRATO
                    </button>
                </div>
                <div class="col-lg-8 text-center pt-2">
                    <h2 class="font-weight-bold"> LISTADO DE CONTRATOS</h2>
                </div>
            </div>

            <div class="card-body p-2">
                <div id="client-grid-list">{% include "buys/contract_grid_list.html" %}</div>
            </div>
        </div>

        <div class="modal fade" id="modal-contract-create" tabindex="-1" role="dialog"
             aria-labelledby="ModalHelpTitle"
             aria-hidden="true"></div>
        <div class="modal fade" id="modal-contract-update" tabindex="-1" role="dialog"
             aria-labelledby="ModalHelpTitle"
             aria-hidden="true"></div>
        <div class="modal fade" id="modal-guide" tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
             aria-hidden="true"></div>
    </div>
{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        let old_timestamp = null;

        let today = new Date();
        let hh = String(today.getHours()).padStart(2, '0');
        let mn = String(today.getMinutes()).padStart(2, '0');
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        let yyyy = today.getFullYear();

        today = dd + '/' + mm + '/' + yyyy + ' ' + hh + ':' + mn;


        function showModalCreateContract(route) {
            $.ajax({
                url: '/buys/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': 1},
                success: function (response) {
                    $('#modal-contract-create').html(response.form);
                    $('#modal-contract-create').modal('show');
                },
                fail: function (response) {
                    toastr.error('Error en la petición', '¡Mensaje!');
                }
            });
        }

        $(document).on('click', '.btn-edit-contract', function () {
            let _pk = $(this).attr('pk');
            $.ajax({
                url: '/buys/modal_update_contract/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': _pk},
                success: function (response) {
                    $('#modal-contract-update').html(response.form);
                    $('#modal-contract-update').modal('show');
                },
                fail: function (response) {
                    toastr.error('Error en la peticion', '¡Mensaje!');
                }
            });

        });

        $(document).on('click', '.delete-row-address', function () {
            $(this).parent('div').parent('div').remove();
        });

        $(document).on('click', '.item-oc', function () {
            let _detail_contract = $(this).attr('pk');

        });

        function addItem(number, _price_unit) {

            $(`#table-date-${number} > tbody`).append(
                '<tr class="text-center">' +
                '<td class="item-number align-middle">' + '</td>' +
                '<td class="item-product align-middle text-center">' +
                '<select id="product_id" class="form-control form-control-sm product">' +
                '<option value="0">Seleccione</option>' +
                '{% for p in product_set %}'+
                    '<option value="{{ p.id }}">{{ p.name }}</option>' +
                    '{% endfor %}' +
                '</select>' +
                '</td>' +
                '<td class="item-quantity align-middle text-center">' +
                '<input type="text" class="form-control text-right quantity" placeholder="0.00" autocomplete="off">' +
                '</td>' +
                '<td class="item-price-unit align-middle text-center">' +
                '<input type="text" class="form-control text-right price-unit" placeholder="0.00" autocomplete="off" value="' + _price_unit + ' ">' +
                '</td>' +
                '<td class="item-amount align-middle text-center">' +
                '<input type="text" class="form-control text-right amount" placeholder="0.00" autocomplete="off">' +
                '</td>' +
                '<td class="align-middle">' +
                '<button type="button" onclick="deleteItemTable(this, ' + number + ')" class="btn btn-danger delete-detail"><i class="fa fa-trash"></i></button>' +
                '</td>'
            );
            counter(number)
        }

        function counter(number) {
            let l = 1;
            $(`#details-table-date-${number} tr`).each(function () {
                $(this).attr('i', l);
                $(this).children('td:nth-child(1)').text(l);
                l++;
            });
        }

        function deleteItemTable(btn, number) {
            let _tr = $(this).parent('td').parent('tr')
            btn.parentNode.parentNode.remove();
            counter(number);
            calculateTotal()
        }

        $(document).on('keyup', '.quantity', function () {
            let _tr = $(this).parent('td').parent('tr');
            calculateTotal()
        });

        function calculateTotal() {
            let sum_quantity = 0;
            let sum_amount = 0;
            $('.dates-quotas td.item-quantity input.quantity').each(function () {
                let quantity = Number($(this).val())
                sum_quantity = sum_quantity + quantity
            });
            $('.dates-quotas td.item-amount input.amount').each(function () {
                let amount = Number($(this).val())
                sum_amount = sum_amount + amount
            });
            $("#total-quantity").val(sum_quantity.toFixed(2));
            $("#total-amount").val(sum_amount.toFixed(2));
        }

        $(document).on('keyup', '.quantity', function () {
            let _tr = $(this).parent('td').parent('tr');
            let _quantity_row = Number($(this).val());
            let _price_unit_row = Number(_tr.find('td.item-price-unit input.price-unit').val());
            let _amount = _tr.find('td.item-amount input.amount');
            let _new_amount = _quantity_row * _price_unit_row
            _amount.val(_new_amount.toFixed(2))
            calculateTotal()
        });

        let product_set = [
            {% for p in product_set %}
                [
                    '{{ p.id }}',
                    '{{ p.name }}'
                ],
            {% endfor %}
        ]

        function addDates() {
            let _nro_dates = $('#nro_dates');
            let product = $('#product_add_id').val();
            let _quantity = $('#quantity_add');
            let _price_unit = $('#price_unit');
            let _btn_add = $('#btn-add-dates');
            _btn_add.attr('disabled', true);

            if (_nro_dates.val().length === 0) {
                toastr.warning('Favor de ingresar una numero de fechas', 'Error de llenado');
                _nro_dates.focus();
                _btn_add.removeAttr('disabled');
                return false;
            }
            if (product === '0') {
                toastr.warning('Favor de selecionar un producto', 'Error de llenado');
                _btn_add.removeAttr('disabled');
                return false;
            }
            if (_quantity.val().length === 0) {
                toastr.warning('Favor de ingresar una cantidad primero', 'Error de llenado');
                _quantity.focus();
                _btn_add.removeAttr('disabled');
                return false;
            }

            for (let i = 0; i < _nro_dates.val(); i++) {

                let _quantity_add = Number(_quantity.val()) / Number(_nro_dates.val());

                let _number = i + 1;
                let _date_quota = '{{ date_now }}';
                let selectOptions = '';
                for (let j = 0; j < product_set.length; j++) {
                    let productId = product_set[j][0];
                    if (productId === product) {
                        selectOptions += '<option value="' + productId + '" selected>' + product_set[j][1] + '</option>';
                    } else {
                        selectOptions += '<option value="' + productId + '">' + product_set[j][1] + '</option>';
                    }
                }
                $('.dates-quotas').append(
                    '<div class="card mb-2 main-dates" style="border-color: #848d9f">' +
                    '<div class="card-header pt-1 pb-1">' +
                    '<div class="row">' +
                    '<div class="col-sm-2 col-md-2 col-lg-2 text-left item-number">' +
                    '<label for="date-quota" class="mt-2 font-weight-bold">' + 'FECHA DE ENTREGA ' + _number + '</label>' +
                    '<input type=hidden class="number-quota" value="' + _number + '">' +
                    '</div>' +
                    '<div class="col-sm-3 col-md-3 col-lg-3 item-date-quota">' +
                    '<input type="date" class="form-control date-quota text-center" id="date-quota" value="' + _date_quota + '">' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '<div class="card-body p-1">' +
                    '<table id="table-date-' + _number + '" class="table table-hover table-sm align-content-center table-bordered mb-0">' +
                    '<thead>' +
                    '<tr class="text-center text-white" style="background: #1a77c8">' +
                    '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'Item' + '</th>' +
                    '<th scope="col" class="align-middle font-weight-normal" style="width: 50%;">' + 'Producto' + '</th>' +
                    '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'Cantidad' + '</th>' +
                    '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'P. U.' + '</th>' +
                    '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'Monto' + '</th>' +
                    '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + '</th>' +
                    '</tr>' +
                    '</thead>' +
                    '<tbody id="details-table-date-' + _number + '" number="' + _number + '">' +
                    '<tr class="text-center">' +
                    '<td class="item-number align-middle text-center">1</td>' +
                    '<td class="item-product align-middle text-center">' +
                    '<label for="product_id" class="sr-only">Producto</label>' +
                    '<select id="product_id" class="form-control form-control-sm product">' + selectOptions +
                    '</select>' +
                    '</td>' +
                    '<td class="item-quantity align-middle text-center">' +
                    '<input type="text" class="form-control text-right quantity" placeholder="0.00" autocomplete="off" value="' + _quantity_add.toFixed(2) + ' ">' +
                    '</td>' +
                    '<td class="item-price-unit align-middle text-center">' +
                    '<input type="text" class="form-control text-right price-unit" placeholder="0.00" autocomplete="off" value="' + _price_unit.val() + ' ">' +
                    '</td>' +
                    '<td class="item-amount align-middle text-center">' +
                    '<input type="text" class="form-control text-right amount" placeholder="0.00" autocomplete="off">' +
                    '</td>' +
                    '<td class="align-middle">' +
                    '<button type="button" onclick="addItem(' + _number + ', ' + _price_unit.val() + ')" class="btn btn-outline-success btn-block">' +
                    '<i class="fas fa-plus"></i>' +
                    '</button>' +
                    '</td>' +
                    '</tr>' +
                    '</tbody>' +
                    '</table>' +
                    '</div>' +
                    '</div>'
                );
                _number++;
            }
            calculateTotal()
        }

        $(document).on('click', '#clean-dates', function () {
            $('.dates-quotas').empty();
            $('#nro_dates').val('');
            $('#nro_dates').focus();
            $('#total-quantity').val('');
            $('#product_add_id').val('0');
            $('#quantity_add').val('');
            $('#price_unit').val('');
            $('#total').val('');
            $('#btn-add-dates').removeAttr('disabled');
        });


        function saveContract() {
            let _number_contract = $('#number_contract').val();
            let _register_date = $('#register_date').val();
            let _client = $('#client_id').val();
            let _observations = $('#observations').val();
            let _nro_dates = $('#nro_dates').val();
            let _user = $('#user_id').val();

            if (_number_contract.length === 0) {
                toastr.warning('¡Favor de ingresar el numero de contrato!', 'Error de Datos');
                return false;
            }
            if (_register_date.length === 0) {
                toastr.warning('¡Favor de seleccionar una fecha valida', 'Error de Datos!');
                return false;
            }
            if (_client === '') {
                toastr.warning('¡Favor de seleccionar un cliente', 'Error de Datos!');
                return false;
            }
            if (_nro_dates === '0') {
                toastr.warning('¡Ingrese al menos una Fecha de entrega', 'Error de Datos!');
                return false;
            }
            if (_user === '0') {
                toastr.warning('¡Favor de seleccionar el vendedor', 'Error de Datos!');
                return false;
            }

            let contract = {
                "number_contract": _number_contract,
                'register_date': _register_date,
                'client': _client,
                'observation': _observations,
                'user': _user,
                "dates": []
            };
            let dateObj = {};
            let itemObj = {};
            $(".main-dates").each(function () {
                let nro_quota = $(this).find("div.item-number input.number-quota").val()
                dateObj = {
                    "nro_quota": nro_quota,
                    "date_quota": $(this).find("div.item-date-quota input.date-quota").val(),
                    "items": []
                }
                $(`tbody#details-table-date-${nro_quota} tr`).each(function () {
                    itemObj = {
                        "product": $(this).find("td.item-product select.product").val(),
                        "quantity": $(this).find("td.item-quantity input.quantity").val(),
                        "price_unit": $(this).find("td.item-price-unit input.price-unit").val(),
                    }
                    dateObj.items.push(itemObj)
                });
                contract.dates.push(dateObj);
            });
            //console.log(contract)
            $.ajax({
                url: '/buys/save_contract/',
                async: true,
                dataType: 'json',
                type: 'GET',
                cache: false,
                data: {'contract': JSON.stringify(contract)},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        toastr.success(response.message, '¡Bien hecho!');
                        setTimeout(() => {
                            location.reload();
                        }, 1000);
                    }
                    else {
                        //console.log(response)
                        toastr.error(response.message, 'Error');
                        $('#btn-save-contract').slideDown();
                    }
                },
                /*error: function (jqXhr, textStatus, xhr, responses) {
                    console.log(responses)
                    console.log(jqXhr);
                    toastr.error('Error', '¡Ocurrio un error!');
                }*/
            });
        }

        $(document).on('focusin', '.client-table', function (e) {
            $(this).parent('div').find('div.dropdown-menu').css({
                'background-color': 'transparent',
                'border': 'transparent',
            })
            $(this).val(' ');
            $('#id_unit_product').val('0')
            $('#id_sender').val('');
            $('#id-nro-document-sender').val('');
            $('#id_address').val('');
            $('#document_type_sender').val('0');
            $('#document_type_sender').trigger('change');
        });

        $(document).on('keypress', '.client-table', function (e) {

            $(this).parent('div').find('div.dropdown-menu').empty()

            if (e.keyCode === 13) {

                e.preventDefault()

                $(this).trigger("enterKey");
                let _client_name = $(this).val();
                {#let _td = $(this).parent('td')#}
                let _menu = $(this).parent('div').find('div.dropdown-menu')

                if (_client_name.length > 3) {

                    $.ajax({
                        url: '/sales/get_clients_by_criteria/',
                        async: true,
                        dataType: 'json', // for response
                        type: 'GET',
                        data: {
                            'value': _client_name,
                        },
                        contentType: 'application/json;charset=UTF-8',
                        headers: {"X-CSRFToken": '{{ csrf_token }}'},
                        success: function (response, textStatus, xhr) {
                            if (xhr.status === 200) {
                                let list = response.client_list;
                                _menu.css({'background-color': '#fff', 'border': '1px solid rgba(0,0,0,.15)'})
                                for (let i = 0; i < list.length; i++) {
                                    _menu.append(`<a class="dropdown-item client-item" client_name="${list[i].client_names}" client_document_number="${list[i].client_document_number}" client_address="${list[i].client_address}" client_type_document="${list[i].client_type_document}" href="#" data-id="${list[i].client_id}">cliente: ${list[i].client_names} - RUC: ${list[i].client_document_number}</a>`)
                                }
                            }
                        },
                        error: function (jqXhr, textStatus, xhr) {
                            if (jqXhr.status === 500) {
                                toastr.error(jqXhr.responseJSON.error, 'Mensaje');
                            } else {
                                if (textStatus === 'timeout') {
                                    toastr.error('Failed from timeout', 'Mensaje');
                                } else {
                                    console.log(" STATUS: " + xhr + " " + textStatus);
                                }
                            }
                        }
                    });
                } else {

                    toastr.warning('Para la busqueda ingrese minimo 3 caracteres', 'Error de llenado');
                    return false;
                }
            }
        });

        $(document).on('click', '.client-item', function (e) {

            let _client_id = $(this).attr('data-id');
            let _client_address = $(this).attr('client_address');
            let _client_name = $(this).attr('client_name');
            let _tr = $(this).parent('div.dropdown-menu').parent('td').parent('tr')
            let _td = $(this).parent('div.dropdown-menu').parent('td')
            let _client_type_document = $(this).attr('client_type_document')
            let _client_document_number = $(this).attr('client_document_number')

            $('#document_type_sender').val(_client_type_document);
            $('#document_type_sender').trigger('change');

            $('#id_sender').val(_client_name);
            $('#id_address').val(_client_address);
            $("#id-nro-document-sender").val(_client_document_number);
            $("#client_id").val(_client_id);
            $(".client-table").val(_client_name);

            $(this).parent('div.dropdown-menu').empty()
            $(this).parent('div.dropdown-menu').addClass('hide')
        });

        function showModalViewGuide(route, contract_id) {
            $('#modal-guide').empty();
            $.ajax({
                url: '/buys/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {'contract_id': contract_id},
                success: function (response) {
                    $('#modal-guide').html(response.form);
                    $('#modal-guide').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        }


    </script>
{% endblock extrajs %}