{% load static %}
{% load operations %}
<div class="modal-dialog modal-xl" role="document">

    <div class="modal-content">
        <div id="modal-loader" class="overlay" style="display: none">
            <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header bg-warning">
            <h6 class="modal-title font-weight-bold text-danger">EDITAR: {{ contract_obj.contract_number }}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <input type="hidden"
                   value="{{ contract_obj.id }}"
                   id="contract_id"
                   name="contract">
        </div>

        <div class="modal-body p-2">
            <div class="card">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row p-1">
                                <div class="col-6">
                                    <label class="font-weight-light" for="client_id">Cliente:</label>
                                    <input type="text" aria-label="..."
                                           class="form-control form-control-sm text-uppercase client-table-update dropdown-toggle"
                                           data-toggle="dropdown" aria-expanded="false"
                                           value="{{ contract_obj.client }}"
                                           placeholder="Ingrese cliente y presione enter...">
                                    <div class="dropdown-menu"></div>
                                    <input type="hidden"
                                           value="{{ contract_obj.client.id }}"
                                           id="client_id_update"
                                           name="client">
                                </div>
                                <div class="col-lg-6">
                                    <label class="font-weight-light"
                                           for="number_contract">Nº de Contrato:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-id-badge"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control form-control-sm number-contract"
                                               id="number_contract_update"
                                               value="{{ contract_obj.contract_number }}"
                                               name="number-contract" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-lg-3">
                                    <label class="font-weight-light" for="register_date">Fecha de
                                        registro</label>
                                    <input type="date" class="form-control form-control-sm" id="register_date_update"
                                           name="register-name" value="{{ contract_obj.register_date|date:'Y-m-d' }}">
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label for="user_id_update">Vendedor:</label>
                                    <select id="user_id_update" name="user" class="form-control form-control-sm">
                                        <option selected disabled value="0">Seleccione..</option>
                                        {% for u in user_set %}
                                            {% if u.id == contract_obj.user.id %}
                                                <option selected value="{{ u.id }}">{{ u.username|upper }}</option>
                                            {% else %}
                                                <option value="{{ u.id }}">{{ u.username|upper }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label for="observations_update" class="">Observaciones:</label>
                                    <input type="text" class="form-control form-control-sm" id="observations_update"
                                           name="observations_update"
                                           value="{{ contract_obj.observation }}"
                                           placeholder="...">
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-sm-1 col-md-1 col-lg-1 pr-0">
                                    <label class="font-weight-light" for="nro_dates-update">Nº entregas:</label>
                                    <input type="text" class="form-control form-control-sm text-center"
                                           id="nro_dates-update"
                                           value=""
                                           name="nro-dates" placeholder="-">
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7 pr-0">
                                    <table id="table-product-add-update"
                                           class="table table-sm align-content-center table-borderless mb-0">
                                        <thead>
                                        <tr class="">
                                            <th scope="col" class="align-middle font-weight-light pb-0"
                                                style="width: 50%; color: #3e4676">
                                                Producto
                                            </th>
                                            <th scope="col" class="align-middle font-weight-light pb-0 text-right"
                                                style="width: 14%; color: #3e4676">
                                                Cantidad
                                            </th>
                                            <th scope="col" class="align-middle font-weight-light pb-0 text-right"
                                                style="width: 13%; color: #3e4676">
                                                Precio Unit.
                                            </th>
                                            <th scope="col" class="align-middle font-weight-light pb-0 text-right"
                                                style="width: 15%; color: #3e4676">
                                                Monto
                                            </th>
                                            <th scope="col" class="align-middle font-weight-light pb-0 text-right"
                                                style="width: 8%; color: #3e4676"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody-product-add-update">
                                        <tr class="text-center" i="1">
                                            <td class="item-product-add-update align-middle text-center">
                                                <select id="product_add-id-update"
                                                        class="form-control form-control-sm product-add-update">
                                                    <option value="0">Seleccione</option>
                                                    {% for p in product_set %}
                                                        <option value="{{ p.id }}">{{ p.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td class="item-quantity-add-update align-middle text-center pt-0">
                                                <input type="text"
                                                       class="form-control form-control-sm text-right quantity-add-update"
                                                       placeholder="0.00" autocomplete="off">
                                            </td>
                                            <td class="item-price-unit-add-update align-middle text-center pt-0">
                                                <input type="text"
                                                       class="form-control form-control-sm text-right price-unit-add-update"
                                                       placeholder="0.00" autocomplete="off">
                                            </td>
                                            <td class="item-amount-add-update align-middle text-center pt-0">
                                                <input type="text"
                                                       class="form-control form-control-sm text-right amount-add-update"
                                                       placeholder="0.00" autocomplete="off">
                                            </td>
                                            <td class="align-middle pt-0">
                                                <button type="button" onclick="addProductHeaderUpdate()"
                                                        class="btn btn-outline-success btn-block btn-sm">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="" for="btn-add-dates-update">&nbsp;</label>
                                    <button type="button" id="btn-add-dates-update"
                                            class="btn btn-sm btn-success btn-block" disabled
                                            onclick="addDatesUpdate()">Agregar Fechas
                                    </button>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="" for="clean-dates-update">&nbsp;</label>
                                    <button type="button" id="clean-dates-update"
                                            class="btn btn-sm btn-danger btn-block">Limpiar
                                    </button>
                                </div>
                                {#                                <div class="col-sm-4 col-md-4 col-lg-4">#}
                                {#                                    <label class="font-weight-light" for="product_add_id">Producto:</label>#}
                                {#                                    <select id="product_add_id" class="form-control form-control-sm">' +#}
                                {#                                        <option value="0">Seleccione</option>#}
                                {#                                        {% for p in product_set %}#}
                                {#                                            <option value="{{ p.id }}">{{ p.name }}</option>#}
                                {#                                        {% endfor %}#}
                                {#                                    </select>#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-1 col-md-1 col-lg-1 text-right pr-0">#}
                                {#                                    <label class="font-weight-light" for="quantity_add">Cantidad</label>#}
                                {#                                    <input type="text" class="form-control form-control-sm text-right"#}
                                {#                                           id="quantity_add"#}
                                {#                                           name="quantity-add" placeholder="0.00">#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-1 col-md-1 col-lg-1 text-right pr-0">#}
                                {#                                    <label class="font-weight-light" for="price_unit">Precio Unit.</label>#}
                                {#                                    <input type="text" class="form-control form-control-sm text-right"#}
                                {#                                           id="price_unit"#}
                                {#                                           name="price-unit-add" placeholder="0.00">#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-1 col-md-1 col-lg-1 text-right pr-0">#}
                                {#                                    <label class="font-weight-light" for="total">Total</label>#}
                                {#                                    <input type="text" class="form-control form-control-sm text-right"#}
                                {#                                           id="total"#}
                                {#                                           name="total-add" placeholder="0.00">#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
                                {#                                    <label class="" for="btn-add-dates-update">&nbsp;</label>#}
                                {#                                    <button type="button" id="btn-add-dates-update"#}
                                {#                                            class="btn btn-sm btn-success btn-block" onclick="addDates()">Agregar Fechas#}
                                {#                                    </button>#}
                                {#                                </div>#}
                                {#                                <div class="col-sm-2 col-md-2 col-lg-2">#}
                                {#                                    <label class="" for="clean-dates">&nbsp;</label>#}
                                {#                                    <button type="button" id="clean-dates"#}
                                {#                                            class="btn btn-sm btn-danger btn-block">Limpiar#}
                                {#                                    </button>#}
                                {#                                </div>#}
                            </div>

                            <div class="d-flex pt-4 pb-3">
                                <hr class="my-auto flex-grow-1 bg-primary border-dark">
                                <div class="px-3 font-weight-bold" style="font-size: 1.1375rem;">FECHAS DE ENTREGA</div>
                                <hr class="my-auto flex-grow-1 bg-primary border-dark">
                            </div>

                            <div class="row pt-2">
                                <div class="col-sm-12 col-md-12 col-lg-12 dates-quotas-update">
                                    {% for c in contract_obj.contractdetail_set.all %}
                                        <div class="card mb-2 main-dates-update" style="border-color: #848d9f">
                                            <div class="card-header pt-1 pb-1">
                                                <div class="row">
                                                    <div class="col-sm-2 col-md-2 col-lg-2 text-left item-number-update">
                                                        <label for="number-quota-update" class="mt-2 font-weight-bold">
                                                            FECHA
                                                            DE ENTREGA {{ c.nro_quota }} </label>
                                                        <input type=hidden class="number-quota-update"
                                                               value="{{ c.nro_quota }}">
                                                    </div>
                                                    <div class="col-sm-3 col-md-3 col-lg-3 item-date-quota-update">
                                                        <input type="date"
                                                               class="form-control date-quota-update text-center"
                                                               id="date-quota-update" value="{{ c.date|date:'Y-m-d' }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body p-1">
                                                <table id="table-date-update-{{ c.nro_quota }}"
                                                       class="table table-hover table-sm align-content-center table-bordered mb-0">
                                                    <thead>
                                                    <tr class="text-center text-white" style="background: #1a77c8">
                                                        <th scope="col" class="align-middle font-weight-normal"
                                                            style="width: 10%;">Item
                                                        </th>
                                                        <th scope="col" class="align-middle font-weight-normal"
                                                            style="width: 60%;">Producto
                                                        </th>
                                                        <th scope="col" class="align-middle font-weight-normal"
                                                            style="width: 10%;">Cantidad
                                                        </th>
                                                        <th scope="col" class="align-middle font-weight-normal"
                                                            style="width: 10%;">P. U.
                                                        </th>
                                                        <th scope="col" class="align-middle font-weight-normal"
                                                            style="width: 10%;">Monto
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="details-table-date-update-{{ c.nro_quota }}"
                                                           number="{{ c.nro_quota }}">
                                                    {% for cd in c.contractdetailitem_set.all %}
                                                        <tr class="text-center">
                                                            <td class="item-number-update align-middle text-center">1
                                                            </td>
                                                            <td class="item-product-add-update align-middle text-center">
                                                                <label for="product_id" class="sr-only">Producto</label>
                                                                <select id="product_id"
                                                                        class="form-control form-control-sm product-add-update">
                                                                    {% for p in product_set %}
                                                                        {% if p.id == cd.product.id %}
                                                                            <option value="{{ p.id }}"
                                                                                    selected>{{ p.name }}</option>
                                                                        {% else %}
                                                                            <option value="{{ p.id }}">{{ p.name }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td class="item-quantity-add-update align-middle text-center">
                                                                <input type="text"
                                                                       class="form-control text-right quantity-add-update"
                                                                       autocomplete="off"
                                                                       value="{{ cd.quantity|replace_round }}">
                                                            </td>
                                                            <td class="item-price-unit-add-update align-middle text-center">
                                                                <input type="text"
                                                                       class="form-control text-right price-unit-add-update"
                                                                       value="{{ cd.price_unit|replace_round }}"
                                                                       autocomplete="off">
                                                            </td>
                                                            <td class="item-amount-add-update align-middle text-center">
                                                                <input type="text"
                                                                       class="form-control text-right amount-add-update"
                                                                       value="{{ cd.amount|replace_round }}"
                                                                       placeholder="0.00" autocomplete="off">
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row pt-2">
                                <table id="table-totals" class="table table-sm align-content-center">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%;"></th>
                                        <th style="width: 50%;"></th>
                                        <th style="width: 10%;"></th>
                                        <th style="width: 10%;"></th>
                                        <th style="width: 10%;"></th>
                                        <th style="width: 10%;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="">
                                        <td class="align-middle text-right font-weight-bold" colspan="2">
                                            TOTAL CANTIDAD
                                        </td>
                                        <td class="align-middle">
                                            <div class="input-icon font-weight-bold">
                                                <input type="text" class="form-control text-center font-weight-bold"
                                                       id="total-quantity-update" aria-label="..."
                                                       value="{{ sum_quantity|replace_round }}"
                                                       placeholder="0.00" readonly>
                                                <i class="change-money">S/</i>
                                            </div>
                                        </td>
                                        <td class="text-center align-middle text-right font-weight-bold">
                                            TOTAL MONTO
                                        </td>
                                        <td class="align-middle" style="width: 10%">
                                            <div class="input-icon font-weight-bold">
                                                <input type="text" class="form-control text-center font-weight-bold"
                                                       id="total-amount-update" aria-label="..."
                                                       value="{{ sum_amount|replace_round }}"
                                                       placeholder="0.00" readonly>
                                                <i class="change-money">S/</i>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div><!-- modal-body -->
        <div class="modal-footer bg-light p-2">
            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <button id="btn-update-contract" type="button" class="btn btn-warning font-weight-light">Actualizar
            </button>
        </div>

        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                {#height: 46em;#}
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>
    </div>
</div>

<style>

    .input-icon {
        position: relative;
    }

    .input-icon > i {
    {#content: "$";#} position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 50%;
        pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
    }

    .input-icon > input {
        padding-left: 25px;
        padding-right: 8px;
    }

    .input-icon-right > i {
        right: 0;
    }

    .input-icon-right > input {
        padding-left: 0;
        padding-right: 25px;
        text-align: right;
    }

</style>

<script>

    function addProductHeaderUpdate() {
        let _products = '{% for p in product_set %}' + '<option value="{{ p.id }}">{{ p.name }}</option>' +
            '{% endfor %}'
        $('#table-product-add-update > tbody').append(
            '<tr class="text-center">' +
            '<td class="item-product-add-update align-middle text-center">' +
            '<select id="product_add-id-update" class="form-control form-control-sm product-add-update">' +
            '<option value="0">Seleccione</option>' + _products + '</select>' +
            '</td>' +
            '<td class="item-quantity-add-update align-middle text-center pt-0">' +
            '<input type="text" class="form-control form-control-sm text-right quantity-add-update" placeholder="0.00" autocomplete="off">' +
            '</td>' +
            '<td class="item-price-unit-add-update align-middle text-center pt-0">' +
            '<input type="text" class="form-control form-control-sm text-right price-unit-add-update" placeholder="0.00" autocomplete="off">' +
            '</td>' +
            '<td class="item-amount-add-update align-middle text-center pt-0">' +
            '<input type="text" class="form-control form-control-sm text-right amount-add-update" placeholder="0.00" autocomplete="off">' +
            '</td>' +
            '<td class="align-middle pt-0">' +
            '<button type="button" onclick="deleteItemHeader(this)" class="btn btn-danger btn-sm delete-detail-update"><i class="fa fa-trash"></i></button>' +
            '</td>' +
            '</tr>'
        );
        counterHeader()
    }

    function deleteItemHeader(btn) {
        btn.parentNode.parentNode.remove();
        counterHeader()
    }

    function counterHeader() {
        let l = 1;
        $(`#tbody-product-add-update tr`).each(function () {
            $(this).attr('i', l);
            l++;
        });
    }

    $(document).on('keyup', '.quantity-add-update', function (e) {
        calculateTotalHeaderUpdate($(this));
    });

    $(document).on('keyup', '.price-unit-add-update', function (e) {
        calculateTotalHeaderUpdate($(this));
    });

    function calculateTotalHeaderUpdate(input) {
        let _tr = input.closest('tr');
        let _quantity = Number(_tr.find('.quantity-add-update').val());
        let _price_unit = Number(_tr.find('.price-unit-add-update').val());
        let _total = _quantity * _price_unit;
        _tr.find('.amount-add-update').val(_total.toFixed(2));

    }

    function calculateTotalUpdate() {
        let sum_quantity = 0;
        let sum_amount = 0;
        $('.dates-quotas-update td.item-quantity-add-update input.quantity-add-update').each(function () {
            let quantity = Number($(this).val())
            sum_quantity = sum_quantity + quantity
        });
        $('.dates-quotas-update td.item-amount-add-update input.amount-add-update').each(function () {
            let amount = Number($(this).val())
            sum_amount = sum_amount + amount
        });
        $("#total-quantity-update").val(sum_quantity.toFixed(2));
        $("#total-amount-update").val(sum_amount.toFixed(2));
    }

    $(document).on('keyup', '.quantity-add-update', function () {
        let _tr = $(this).parent('td').parent('tr');
        let _quantity_row = Number($(this).val());
        let _price_unit_row = Number(_tr.find('td.item-price-unit-add-update input.price-unit-add-update').val());
        let _amount = _tr.find('td.item-amount-add-update input.amount-add-update');
        let _new_amount = _quantity_row * _price_unit_row
        _amount.val(_new_amount.toFixed(2))
        calculateTotalUpdate()
    });

    $(document).on('click', '#clean-dates-update', function () {
        $('.dates-quotas-update').empty();
        $('#nro_dates-update').val('');
        $('#nro_dates-update').focus();

        $('#total-quantity-update').val('');
        $('#total-amount-update').val('');
        $('#tbody-product-add-update tr:not([i="1"])').remove();
        $('#tbody-product-add-update tr[i="1"]').find('input').val('');

        $('#btn-add-dates-update').removeAttr('disabled');
        $('#product_add-id-update').val('0');
    });

    function validateHeaderUpdate() {
        let flag = true;

        $('#tbody-product-add-update tr').each(function () {
            let $tr = $(this);
            let product = $tr.find('.product-add-update').val();
            let quantity = $tr.find('.quantity-add-update').val();
            let price = $tr.find('.price-unit-add-update').val();

            if (product === '0' || quantity === '' || price === '') {
                toastr.warning('Por favor, complete todos los campos antes de continuar: Producto, Cantidad y Precio Unitario');
                flag = false;
                return false;
            }
        });

        return flag;
    }

    function addDatesUpdate() {
        let _nro_dates = $('#nro_dates-update');
        //let product = $('#product_add_id').val();
        //let _quantity = $('#quantity_add');
        //let _price_unit = $('#price_unit');
        let _btn_add = $('#btn-add-dates-update');
        if (_nro_dates.val().length === 0) {
            toastr.warning('Favor de ingresar una numero de fechas', 'Error de llenado');
            _nro_dates.focus();
            _btn_add.removeAttr('disabled');
            return false;
        }
        _btn_add.attr('disabled', true);

        if (!validateHeaderUpdate()) {
            _btn_add.removeAttr('disabled');
            return false;
        }

        for (let i = 0; i < _nro_dates.val(); i++) {
            let _number = i + 1;
            let _date_quota = '{{ date_now }}';

            $('.dates-quotas-update').append(
                '<div class="card mb-2 main-dates-update" style="border-color: #848d9f">' +
                '<div class="card-header pt-1 pb-1">' +
                '<div class="row">' +
                '<div class="col-sm-2 col-md-2 col-lg-2 text-left item-number-update">' +
                '<label for="number-quota-update" class="mt-2 font-weight-bold">' + 'FECHA DE ENTREGA ' + _number + '</label>' +
                '<input type=hidden class="number-quota-update" value="' + _number + '">' +
                '</div>' +
                '<div class="col-sm-3 col-md-3 col-lg-3 item-date-quota-update">' +
                '<input type="date" class="form-control date-quota-update text-center" id="date-quota-update" value="' + _date_quota + '">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '<div class="card-body p-1">' +
                '<table id="table-date-update-' + _number + '" class="table table-hover table-sm align-content-center table-bordered mb-0">' +
                '<thead>' +
                '<tr class="text-center text-white" style="background: #1a77c8">' +
                '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'Item' + '</th>' +
                '<th scope="col" class="align-middle font-weight-normal" style="width: 60%;">' + 'Producto' + '</th>' +
                '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'Cantidad' + '</th>' +
                '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'P. U.' + '</th>' +
                '<th scope="col" class="align-middle font-weight-normal" style="width: 10%;">' + 'Monto' + '</th>' +
                '</tr>' +
                '</thead>' +
                '<tbody id="details-table-date-update-' + _number + '" number="' + _number + '">' +
                '</tbody>' +
                '</table>' +
                '</div>' +
                '</div>'
            );

            $('#tbody-product-add-update tr').each(function () {
                let selectOptions = '';
                let _tr = $(this);
                let item = _tr.attr("i");
                let product = _tr.find('td.item-product-add-update select.product-add-update').val()
                let _quantity = _tr.find('td.item-quantity-add-update input.quantity-add-update');
                let _quantity_add = Number(_quantity.val()) / Number(_nro_dates.val());
                let _price_unit = _tr.find('td.item-price-unit-add-update input.price-unit-add-update');
                let _amount = _quantity_add * Number(_price_unit.val())

                for (let j = 0; j < product_set.length; j++) {
                    let productId = product_set[j][0];
                    if (productId === product) {
                        selectOptions += '<option value="' + productId + '" selected>' + product_set[j][1] + '</option>';
                    } else {
                        selectOptions += '<option value="' + productId + '">' + product_set[j][1] + '</option>';
                    }
                }
                $('#details-table-date-update-' + _number).append(
                    '<tr class="text-center">' +
                    '<td class="item-number-update align-middle text-center">' + item + '</td>' +
                    '<td class="item-product-add-update align-middle text-center">' +
                    '<select id="product_id" class="form-control form-control-sm product-add-update">' + selectOptions +
                    '</select>' +
                    '</td>' +
                    '<td class="item-quantity-add-update align-middle text-center">' +
                    '<input type="text" class="form-control text-right quantity-add-update" placeholder="0.00" autocomplete="off" value="' + _quantity_add.toFixed(2) + ' ">' +
                    '</td>' +
                    '<td class="item-price-unit-add-update align-middle text-center">' +
                    '<input type="text" class="form-control text-right price-unit-add-update" placeholder="0.00" autocomplete="off" value="' + _price_unit.val() + ' ">' +
                    '</td>' +
                    '<td class="item-amount-add-update align-middle text-center">' +
                    '<input type="text" class="form-control text-right amount-add-update" placeholder="0.00" autocomplete="off" value="' + _amount.toFixed(2) + '">' +
                    '</td>' +
                    '</tr>');
            });

        }
        calculateTotalUpdate()
    }


    $('.client-table-update').on('focusin', function (e) {
        $(this).parent('div').find('div.dropdown-menu').css({
            'background-color': 'transparent',
            'border': 'transparent',
        })
        //$(this).val('');
        //$('#id_unit_product').val('0')
        //$('#id_sender').val('');
        //$('#id-nro-document-sender').val('');
        //$('#id_address').val('');
        //$('#document_type_sender').val('0');
        //$('#document_type_sender').trigger('change');
    });

    $(document).on('keypress', '.client-table-update', function (e) {
        $(this).parent('div').find('div.dropdown-menu').empty()

        if (e.keyCode === 13) {

            e.preventDefault()

            $(this).trigger("enterKey");
            let _client_name = $(this).val();
            {#let _td = $(this).parent('td')#}
            let _menu = $(this).parent('div').find('div.dropdown-menu')

            if (_client_name.length > 3) {

                $.ajax({
                    url: '/sales/get_clients_by_criteria/',
                    async: true,
                    dataType: 'json', // for response
                    type: 'GET',
                    data: {
                        'value': _client_name,
                    },
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            let list = response.client_list;
                            _menu.css({'background-color': '#fff', 'border': '1px solid rgba(0,0,0,.15)'})
                            for (let i = 0; i < list.length; i++) {
                                _menu.append(`<a class="dropdown-item client-item-update" client_name="${list[i].client_names}" client_document_number="${list[i].client_document_number}" client_address="${list[i].client_address}" client_type_document="${list[i].client_type_document}" href="#" data-id="${list[i].client_id}">cliente: ${list[i].client_names} - RUC: ${list[i].client_document_number}</a>`)
                            }
                        }
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        if (jqXhr.status === 500) {
                            toastr.error(jqXhr.responseJSON.error, 'Mensaje');
                        } else {
                            if (textStatus === 'timeout') {
                                toastr.error('Failed from timeout', 'Mensaje');
                            } else {
                                console.log(" STATUS: " + xhr + " " + textStatus);
                            }
                        }
                    }
                });
            } else {

                toastr.warning('Para la busqueda ingrese minimo 3 caracteres', 'Error de llenado');
                return false;
            }
        }
    });

    $(document).on('click', '.client-item-update', function (e) {

        let _client_id = $(this).attr('data-id');
        let _client_address = $(this).attr('client_address');
        let _client_name = $(this).attr('client_name');
        let _tr = $(this).parent('div.dropdown-menu').parent('td').parent('tr')
        let _td = $(this).parent('div.dropdown-menu').parent('td')
        let _client_type_document = $(this).attr('client_type_document')
        let _client_document_number = $(this).attr('client_document_number')

        $("#client_id_update").val(_client_id);
        $(".client-table-update").val(_client_name);

        $(this).parent('div.dropdown-menu').empty()
        $(this).parent('div.dropdown-menu').addClass('hide')
    });

    $('#btn-update-contract').on('click', function (e) {
        updateContract()
    })

    function updateContract() {
        let _contract = $('#contract_id').val()
        let _number_contract = $('#number_contract_update').val()
        let _register_date = $('#register_date_update').val()
        let _client = $('#client_id_update').val();
        let _observations = $('#observations_update').val()
        let _nro_dates = $('#nro_dates-update').val()
        let _user = $('#user_id_update').val()

        if (_number_contract.length === 0) {
            toastr.warning('¡Favor de ingresar el numero de contrato!', 'Error de Datos');
            return false;
        }
        if (_register_date.length === 0) {
            toastr.warning('¡Favor de seleccionar una fecha valida', 'Error de Datos!');
            return false;
        }
        if (_client === '') {
            toastr.warning('¡Favor de seleccionar un cliente', 'Error de Datos!');
            return false;
        }
        if (_nro_dates === '0') {
            toastr.warning('¡Ingrese al menos una Fecha de entrega', 'Error de Datos!');
            return false;
        }
        if (_user === '0') {
            toastr.warning('¡Favor de seleccionar el vendedor', 'Error de Datos!');
            return false;
        }
        let contract_update = {
            "contract": _contract,
            "number_contract": _number_contract,
            'register_date': _register_date,
            'client': _client,
            'observation': _observations,
            'user': _user,
            "dates": []
        };
        let dateUpdateObj = {};
        let itemUpdateObj = {};
        $('#main-dates-update').each(function () {
            let nro_quota = $(this).find("div.item-number-update input.number-quota-update").val()
            dateUpdateObj = {
                "nro_quota": nro_quota,
                "date_quota": $(this).find("div.item-date-quota-update input.date-quota-update").val(),
                "items": []
            }
            $(`tbody#details-table-date-update-${nro_quota} tr`).each(function () {
                itemUpdateObj = {
                    "product": $(this).find("td.item-product-add-update select.product-add-update").val(),
                    "quantity": $(this).find("td.item-quantity-add-update input.quantity-add-update").val(),
                    "price_unit": $(this).find("td.item-price-unit-add-update input.price-unit-add-update").val(),
                }
                dateUpdateObj.items.push(itemUpdateObj)
            });
            contract_update.dates.push(dateUpdateObj);
        })
        console.log(contract_update)
    }

</script>