{% load operations %}
<table class="table table-sm table-striped table-bordered roboto-condensed-regular table-details m-0">
    <thead>
    <tr class="text-center bg-dark text-white m-0 p-0 text-uppercase">
        <td class="text-center" style="width: 10%">Estado</td>
        <td class="text-center" style="width: 40%">Producto</td>
        <td class="text-center" style="width: 5%">Lote</td>
        <td class="text-center" style="width: 10%">Fecha Venc. Lote</td>
        <td class="text-center" style="width: 5%">Cantidad</td>
        <td class="text-center" style="width: 10%">Tipo Unidad</td>
        <td class="text-center" style="width: 8%">N.C.</td>
    </tr>
    </thead>
    <tbody>
    {% for dt in details %}
        <tr class="col-form-label bg-secondary text-white p-0 m-0">
            <td class="text-center">{{ dt.get_status_quantity_display }}</td>
            <td> - {{ dt.product.name }}</td>

            <td class="text-center">
                {% if dt.status_quantity == 'I' %}{{ dt.purchase.batch_number|upper }}{% endif %}</td>
            <td class="text-center">
                {% if dt.status_quantity == 'I' %}{{ dt.purchase.batch_expiration_date|date:'d-m-Y' }}{% endif %}</td>

            <td class="text-center">{{ dt.quantity|floatformat:0 }}</td>
            <td class="text-center">{{ dt.unit.description }}</td>
            <td class="text-center p-1">
                {% if dt.status_quantity == 'D' %}
                    <button type="button" class="btn btn-danger btn-sm generate-credit-note" pk="{{ dt.id }}">Nota de Credito</button>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>

    /*$('.table-details tbody tr td').each(function () {
        let _str = $(this).text();
        _str = _str.replace(',', '.');
        $(this).text(_str);
    });*/

</script>