<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(21,99,181);">

            <h6 class="modal-title text-white roboto-condensed-regular">REGISTRAR NOTA DE CREDITO</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
        <div class="modal-body roboto-condensed-regular">
            <div class="card-body bg-light p-0">
                <div class="row m-1 mt-2">
                    <div class="col-md-6 p-1">
                        <label for="nro-document" class="text-primary">Nro de Documento:</label>
                        <input type="text"
                               class="form-control" name="nro-document" id="nro-document"
                               placeholder="Nº de nota de credito" required
                               value="" maxlength="200">
                    </div>
                    <div class="col-md-6 p-1">
                        <label for="id-date-issue" class="text-primary">Fecha de emisión:</label>
                        <input type="date"
                               class="form-control" name="date-issue" id="id-date-issue"
                               placeholder="" required
                               value="{{ date }}">
                    </div>
                </div>
                <div class="row m-1 mt-2">
                    <div class="col-sm-12 p-1">
                        <div class="card col-sm-12 p-0">
                            <table class="table-hover table-sm table-bordered" id="id-table-detail-note"
                                   style="width: 100%;">
                                <thead class="text-uppercase small text-center">
                                <tr class="text-white" style="background: #0783d6">
                                    <th scope="col" class="font-weight-normal" style="width: 10%;">Nº</th>
                                    <th scope="col" class="font-weight-normal" style="width: 50%;">Producto</th>
                                    <th scope="col" class="font-weight-normal" style="width: 15%;">Cantidad</th>
                                    <th scope="col" class="font-weight-normal" style="width: 15%;">Unidad</th>
                                </tr>
                                </thead>
                                <tbody id="new-note-credit">
                                <tr>
                                    <td class="text-center align-middle">1</td>
                                    <td class="text-center align-middle">{{ purchase_detail_obj.product.name }}</td>
                                    <td class="text-center align-middle">{{ purchase_detail_obj.quantity|floatformat:0 }}</td>
                                    <td class="text-center align-middle">{{ purchase_detail_obj.unit.name }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer p-1">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btn-close">Cerrar
                </button>
                &nbsp;
                <button id="save-new-guide" type="button" class="btn btn-sm btn-success">
                    Registrar Nota de Credito
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


</script>