{% if purchases %}
    <div class="card border-info m-3">
        <div class="card-header bg-info">
            <h4 class="card-title text-center text-white">LISTA DE ORDENES DE COMPRAS</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive dataTables_wrapper ">
                <table id="puchase-data-grid"
                       class="table table-primary table-striped align-content-center table-bordered response"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr class="text-center bg-info text-white text-uppercase" style="height: 20px">
                        {#                        <th>#</th>#}
                        <th class="th-sm" style="width: 5%">Contrato</th>
                        <th class="th-sm" style="width: 10%">Proveedor</th>
                        <th class="th-sm" style="width: 7%">Orden de Compra</th>
                        <th class="th-sm" style="width: 7%">Fecha compra</th>
                        <th class="th-sm" style="width: 18%">Cliente</th>
                        <th class="th-sm" style="width: 18%">Cliente Referido</th>
                        <th class="th-sm" style="width: 17%">Direccion de entrega</th>
                        <th class="th-sm" style="width: 5%">Usuario</th>
                        <th class="th-sm" style="width: 8%">Estado</th>
                        <th class="th-sm" style="width: 5%">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in purchases %}
                        <tr class="text-center ">
                            {#                            <td>{{ p.id }}</td>#}
                            <td>{{ p.contract_detail.contract.contract_number|default:'-' }}</td>
                            <td>{{ p.supplier.name }}</td>
                            <td>{{ p.bill_number }}</td>
                            <td>{{ p.purchase_date|date:'d-m-Y' }}</td>
                            <td>{{ p.client_reference.names|upper }}</td>
                            <td>{{ p.client_reference_entity.names|default:'-'|default_if_none:'-' }}</td>
                            <td>{{ p.delivery_address|default:'-'|default_if_none:'-'|upper }}</td>
                            <td>{{ p.user.worker_set.last.employee.names }}</td>
                            <td class="font-weight-bold {% if p.status == 'S' %} text-danger {% else %} text-success
                            {% endif %} bg-white">{{ p.get_status_display }}</td>
                            <td class="p-1">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success  dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       <i class="fas fa-filter"></i>
                                    </button>
                                    <div class="dropdown-menu bg-secondary text-white font-italic">
                                        <a class="dropdown-item assignment-store" pk="{{ p.id }}"><i
                                                class="fas fa-save pr-1"></i> Asignar / Ver </a>
                                        <a class="dropdown-item btn-update" pk="{{ p.id }}"><i
                                                class="fas fa-edit pr-1"></i> Editar </a>
                                        <a class="dropdown-item btn-annular" pk="{{ p.id }}"><i
                                                class="fas fa-edit pr-1"></i> Anular </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="text-center bg-info text-white" style="height: 20px">
                        {#                        <th>#</th>#}
                        <th class="th-sm">Contrato</th>
                        <th class="th-sm">Proveedor</th>
                        <th class="th-sm">Numero comprobante</th>
                        <th class="th-sm">Fecha compra</th>
                        <th class="th-sm">Cliente</th>
                        <th class="th-sm">Cliente Referido</th>
                        <th class="th-sm">Direccion de entrega</th>
                        <th class="th-sm">Usuario</th>
                        <th class="th-sm">Estado</th>
                        <th class="th-sm">Accion</th>
                    </tr>
                    </tfoot>
                </table>

            </div>

        </div>
        <!-- Card -->
    </div>

{% else %}
    <h1>No existen compras registradas</h1>
{% endif %}