<div class="table-responsive">
    <table class="table table-hover table-sm table-bordered table-admin mb-0" id="details-table" style="min-width: 600px;">
        <thead>
            <tr class="text-center">
                <th style="width: 4%;">Nº</th>
                <th style="width: 35%;">Descripción del artículo</th>
                <th style="width: 10%;">Cantidad</th>
                <th style="width: 12%;">Unidad</th>
                <th style="width: 12%; background-color: #518d86 !important;">Valor unitario</th>
                <th style="width: 12%;">Importe</th>
                <th style="width: 5%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="item-num align-middle text-center">1</td>
                <td class="align-middle">
                    <input type="text" class="form-control form-control-sm desc-input" placeholder="Ej: Resmas de papel A4">
                </td>
                <td class="align-middle">
                    <input type="number" step="0.01" class="form-control form-control-sm qty-input text-center" placeholder="0" value="0">
                </td>
                <td class="align-middle">
                    <select class="form-control form-control-sm unit-select">
                        <option value="0">Otro</option>
                        {% for u in units %}
                            <option value="{{ u.id }}">{{ u.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" class="form-control form-control-sm unit-free-input mt-1 d-none" placeholder="Especificar unidad">
                </td>
                <td class="align-middle">
                    <div class="input-icon">
                        <input type="number" step="0.01" class="form-control form-control-sm price-input" placeholder="0.00" value="0">
                        <i class="change-money">S/</i>
                    </div>
                </td>
                <td class="align-middle">
                    <div class="input-icon input-icon-right">
                        <input type="text" class="form-control form-control-sm total-input" placeholder="0.00" readonly>
                        <i class="change-money">S/</i>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <button type="button" class="btn btn-outline-danger btn-sm border-2 delete-row btn-sales-rounded"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="bg-light">
                <td colspan="5" class="text-right font-weight-bold align-middle">SUBTOTAL:</td>
                <td class="align-middle">
                    <div class="input-icon input-icon-right">
                        <input type="text" id="subtotal-foot" class="form-control form-control-sm font-weight-bold" placeholder="0.00" readonly>
                        <i class="change-money">S/</i>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr class="bg-light">
                <td colspan="5" class="text-right font-weight-bold align-middle">TOTAL:</td>
                <td class="align-middle">
                    <div class="input-icon input-icon-right">
                        <input type="text" id="total-foot" class="form-control form-control-sm font-weight-bold" placeholder="0.00" readonly>
                        <i class="change-money">S/</i>
                    </div>
                </td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>
