{% if purchases_store %}

    <div class="card border-info roboto-condensed-regular">
        <div class="card-header bg-info">
            <h4 class="card-title text-center font-weight-bold" style="font-family: Helvetica,sans-serif">LISTA DE COMPRAS ASIGNADAS</h4>
        </div>
        <div class="card-body p-1">
            <div class="table-responsive dataTables_wrapper ">
                <table id="purchase-store-data-grid"
                       class="table table-striped align-content-center table-bordered response">
                    <thead>
                    <tr class="text-center" style="background-color: #c3e6f8">
                        <th>O/C</th>
                        <th class="th-sm">Proveedor</th>
                        <th class="th-sm" style="background-color: #cdcdcd;">Factura</th>
                        <th class="th-sm" style="background-color: #cdcdcd;">Guia de Remisión</th>
                        <th class="th-sm">Fecha compra</th>
                        <th class="th-sm">Fecha de Asignación</th>
                        <th class="th-sm">Estado</th>
                        <th class="th-sm">Nro Lote</th>
                        <th class="th-sm">Fecha Venc. Lote</th>
                        <th class="th-sm">Almacen Destino</th>
                        <th class="th-sm">Ver Detalle</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in purchases_store %}
                        <tr class="text-center ">
                            <td>{{ p.parent_purchase.bill_number }}</td>
                            <td>{{ p.parent_purchase.supplier.name }}</td>
                            <td class="font-weight-bold" style="background-color: #cdcdcd;">{{ p.parent_purchase.number_bill }}</td>
                            <td class="font-weight-bold" style="background-color: #cdcdcd;">{{ p.guide_number }}</td>
                            <td>{{ p.parent_purchase.purchase_date|date:'d-m-Y'}}</td>
                            <td>{{ p.assign_date|date:'d-m-Y' }}</td>
                            <td class="text-success bg-white font-weight-bold">{{ p.get_status_display }}</td>
                            <td>{{ p.batch_number }}</td>
                            <td>{{ p.batch_expiration_date|date:'d-m-Y' }}</td>
                            <td>{{ p.store_destiny.name }}</td>
                            <td class="p-1">
                                <button type="button" class="btn btn-sm btn-show-detail" pk="{{ p.id }}">
                                    <i class="fas fa-sort-down fa-lg see-icon"></i>
                                </button>
                            </td>
                        </tr>
                         <tr style="display: none">
                            <td colspan="10" class="table-details-purchase bg-white p-0"></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <strong>Atencion!</strong> No existen compras en almacen en el rango de fechas seleccionado
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<script>

</script>