{% extends 'home.html' %}
{% block title %}
    coronasoft.dev | Compras
{% endblock title %}

{% block body %}
    <div class="row">
        <div class="card col-sm-12">
            <div class="card-body" id="render-form">
                {% include "buys/purchase_create.html" %}
            </div>
        </div>
    </div>
    <div class="row mt-4 ml-4">
        <div class="card col-sm-10">
            <div class="card-body ">
                <div class="table-responsive" id="render-table">
                    {% include "buys/purchase_detail_list.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block extrajs %}
    <script type="text/javascript">
        {#document.ready = document.getElementById("opciones").value = '0';#}
        $('#id_proveedor').select2({
            theme: 'bootstrap4',
        });
        $('#id_producto').select2({
            theme: 'bootstrap4',
        });
        $('#id-sales-reference').select2({
            theme: 'bootstrap4',
        });
        $('#id-sales-reference-entity').select2({
            theme: 'bootstrap4',
        });
        /*
        $('#id-truck').select2({
            theme: 'bootstrap4',
        });
        */
        $("#btn-new").click(function () {
            limper_form();
        });

        window.onload = function () {
            {#document.getElementById('id-tr-reference').style.visibility = "hidden"; // hide#}
            {#document.getElementById('id-tr-reference-entity').style.visibility = "hidden"; // hide#}
        }

        function limper_form(request) {
            $('#id_fechacompra').val('');
            $("#id_factura").val('');
            $("#id_entrega").val('');
            $('#id_proveedor option').removeAttr('selected');
            $('#id_proveedor option:first').attr('selected', 'selected');
            $('#id_proveedor').trigger('change');
            $('#id_currency option').removeAttr('selected');
            $('#id_currency option:first').attr('selected', 'selected');
            $('#id_currency').trigger('change');

            document.getElementById("id-tr-reference").hidden = true;
            document.getElementById("id-tr-reference-entity").hidden = true;
        };

        function limper(request) {
            $('#id_cantidad').val('');
            $('#id_preciounitario').val('');
            $('#id_producto option').removeAttr('selected');
            $('#id_producto option:first').attr('selected', 'selected');
            $('#id_producto').trigger('change');
            $("#id_unidad").empty().append('<option>Seleccione</option>');

            {#$('#id_producto option[value=0]').attr('selected','selected');#}
            {#$('#id_unidad option[value=0]').attr('selected','selected');#}
        };

        function limper_reference(request) {
            $('#id_razon_social').val('');
            $('#id_ruc').val('');
            $('#id_direccion').val('');
            $('#id_referencia').val('');
        };

        function limper_reference_entity(request) {
            $('#id_razon_social_entity').val('');
            $('#id_ruc_entity').val('');
            $('#id_direccion_entity').val('');
        };

        $("#id_add").click(function () {

            let id_product = $('#id_producto').val();
            let name_product = $('#id_producto option:selected').text();
            let quantity = parseFloat($('#id_cantidad').val());
            let id_unit = $('#id_unidad').val();
            let name_unit = $('#id_unidad option:selected').text();
            let price_unit = parseFloat($('#id_preciounitario').val());
            if (id_product > 0 && quantity > 0 && id_unit > 0 && price_unit > 0) {
                if ($("#id_detail_data_grid tr[product=" + id_product + "]").length) {
                    toastr.warning('PRODUCTO YA SELECCIONADO, SELECCIONE OTRO.!');
                    return false;
                }
                $('#id_detail_data_grid').append(
                    '<tr product="' + id_product + '">' +
                    '<td class="item-numero">' + '</td>' +
                    '<td class="text-center">' + '</td>' +
                    '<td>' + name_product + '</td>' +
                    '<td class="item-quantity  text-right">' + quantity.toFixed(2) + '</td>' +
                    '<td class="item-unit text-center" pu="' + id_unit + '">' + name_unit + '</td>' +
                    '<td class="item-price text-right">' + price_unit.toFixed(4) + '</td>' +
                    '<td class="text-right">' + (quantity * price_unit).toFixed(4) + '</td>' +
                    {#'<td class="text-center">' + '<button type="button" onclick="deleteItem(' + id_product + ')" class="btn btn-sm delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +#}
                    '<td class="align-middle text-center"> ' + '<button type="button" onclick="deleteItem(' + id_product + ')" class="btn btn-success delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +
                    '</tr>'
                );
                //$index++;
                limper()
                counterStrike()
                toastr.info('PRODUCTO AGREGADO', '¡MENSAJE!');


            } else {
                {#toastr.succes('info messages');#}
                toastr.warning('POR FAVOR, COMPLETE TODO LOS CAMPOS!');
            }

        });

        $("#id_add_reference").click(function () {

            let razon_social = $('#id_razon_social').val();
            let ruc = $('#id_ruc').val();
            let direccion = $('#id_direccion').val();
            let referencia = $('#id_referencia').val();

            if (razon_social && ruc) {
                $.ajax({
                    url: '/buys/add_reference/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    // registra nuevo referencia de venta
                    data: {
                        'razon_social': razon_social,
                        'ruc': ruc,
                        'direccion': direccion,
                        'referencia': referencia
                    },
                    // si va bien retorna la data
                    success: function (response) {
                        toastr.success('REFERENCIA DE VENTA AGREGADO CORRECTAMENTE!');
                        const $select = document.querySelector("#id-sales-reference");
                        const option = document.createElement('option');
                        option.value = response.id;
                        option.text = response.business_name;
                        $select.appendChild(option);
                        limper_reference();
                    },
                });


            } else {
                {#toastr.succes('info messages');#}
                toastr.warning('POR FAVOR, COMPLETE TODO LOS CAMPOS!');
            }
        });

        $("#id_add_reference_entity").click(function () {

            let razon_social_entity = $('#id_razon_social_entity').val();
            let ruc_entity = $('#id_ruc_entity').val();
            let direccion_entity = $('#id_direccion_entity').val();

            if (razon_social_entity && ruc_entity) {
                $.ajax({
                    url: '/buys/add_reference_entity/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    // registra nuevo referencia de venta
                    data: {
                        'razon_social_entity': razon_social_entity,
                        'ruc_entity': ruc_entity,
                        'direccion_entity': direccion_entity,
                    },
                    // si va bien retorna la data
                    success: function (response) {
                        toastr.success('REFERENCIA DE VENTA A LA ENTIDAD AGREGADO CORRECTAMENTE!');
                        const $select = document.querySelector("#id-sales-reference-entity");
                        const option = document.createElement('option');
                        option.value = response.id;
                        option.text = response.business_name;
                        $select.appendChild(option);
                        limper_reference_entity();
                    },
                });
            } else {
                {#toastr.succes('info messages');#}
                toastr.warning('POR FAVOR, COMPLETE TODO LOS CAMPOS!');
            }
        });

        $('#purchase-form').submit(function (event) {
            event.preventDefault();

            if ($("#id_detail_data_grid tbody tr").length > 0) {
                let Detail_purchase = {
                    "Details": [],
                    "Invoice": $('#id_factura').val(),
                    "ProviderId": $('#id_proveedor').val(),
                    "Date": $('#id_fechacompra').val(),
                    //"truck": $('#id-truck').val(),
                    "Type_bill": $('#id_type_bill').val(),
                    "delivery": $('#id_entrega').val(),
                    "currency": $('#id_currency').val(),
                    "referenceId": $('#id-sales-reference').val(),
                    "referenceEntityId": $('#id-sales-reference-entity').val()
                };
                // Recorre cada detalle de producto (son 2 arrays) each -> recorre

                $("#id_detail_data_grid tbody tr").each(function () {
                    var detailObj = {
                        "Product": $(this).attr('product'),
                        "Quantity": $(this).find("td.item-quantity").text(),
                        "Unit": $(this).find("td.item-unit").attr('pu'),
                        "Price": $(this).find("td.item-price").text(),
                    };
                    Detail_purchase.Details.push(detailObj);

                });

                {#console.log(JSON.stringify(Detail_purchase));#}
                {#alert('llego la hora de guardar.');#}

                $.ajax({

                    url: '/buys/save_purchase/',
                    async: true,
                    dataType: 'json', // for response
                    type: 'GET',
                    data: {'purchase': JSON.stringify(Detail_purchase)},
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            toastr.success(response.message, '¡COMPRA REGISTRADA CORRECTAMENTE!');
                            id_buys = response.pk

                            let url_print_pdf = "/buys/print_pdf_purchase_order/" + id_buys + "/";
                            window.location.href = url_print_pdf;

                            console.log(url_print_pdf)

                            setTimeout(() => {
                                location.reload();
                            }, 2000);
                        }
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                    }
                });

            } else {
                toastr.warning("PARA REALIZAR LA COMPRA NECESITA AGREGAR PRODUCTOS. ", '¡ADVERTENCIA!');
            }
        });

        $('#id_producto').change(function () {
            //recupera el id_dela opcion seleccionada
            let _search = $(this).val();
            //vacia el combo-borra opciones
            $('#id_unidad').empty();

            $.ajax({
                url: '/buys/get_units_by_product/',
                async: true,
                dataType: 'json',
                type: 'GET',
                //mando  id del producto del combo
                data: {'ip': _search},
                // si va bien retorna la data
                success: function (response) {
                    //le da formato array
                    let units = JSON.parse(response['units']);
                    units.forEach(
                        element =>
                            $('#id_unidad').append(
                                '<option value="' + element['pk'] + '">' + element['fields']['name'] + '</option>')
                    )
                },
            });
        });

        $('#id_proveedor').change(function () {
            //recupera el id_dela opcion seleccionada
            let supplier_id = $(this).val();

            {#console.log(_search)#}

            $.ajax({
                url: '/buys/is_supplier_reference/',
                async: true,
                dataType: 'json',
                type: 'GET',
                //mando  id del producto del combo
                data: {'supplier_id': supplier_id},
                // si va bien retorna la data
                success: function (response) {
                    if (response.status) {
                        {#document.getElementById('id-tr-reference').style.visibility = "visible"; // visible#}
                        {#document.getElementById('id-tr-reference-entity').style.visibility = "visible"; // visible#}
                        document.getElementById("id-tr-reference").hidden = false;
                        document.getElementById("id-tr-reference-entity").hidden = false;
                    } else {
                        {#document.getElementById('id-tr-reference').style.visibility = "hidden"; // hide#}
                        {#document.getElementById('id-tr-reference-entity').style.visibility = "hidden"; // hide#}
                        document.getElementById("id-tr-reference").hidden = true;
                        document.getElementById("id-tr-reference-entity").hidden = true;
                    }

                },
            });
        });

        //Bonton eliminar fila
        function deleteItem($id) {
            $('#details').find("tr[product=" + $id + "]").remove();
            counterStrike();
        }

        // reasigna numero de fila a los detalles
        function counterStrike() {
            let l = 1;
            $('#details tr').each(function () {
                $(this).attr('i', l);
                $(this).children('td:nth-child(2)').text(l);
                l++;
            });

        }


    </script>
{% endblock extrajs %}