{% extends 'home.html' %}
{% block title %}
    Compras
{% endblock title %}

{% block body %}

    <div class="card roboto-condensed-regular">
        <div class="card-header m-1" style="background: #3e6787">
            <h4 class="roboto-condensed-regular text-white font-weight-bold mt-3 mb-1">
                <label>REGISTRO DE COMPRAS</label>
            </h4>
        </div>
    </div>
    <div class="card-body pt-1">
        <div class="row border">
            <div class="card col-sm-12 p-0">
                <div class="card-body" id="render-header">
                    {% include "buys/purchase_header.html" %}
                </div>
            </div>
        </div>
        <div class="row border">
            <div class="card col-sm-12 p-0">
                <div class="card-body ">
                    <div class="table-responsive" id="render-detail">
                        {% include "buys/purchase_detail.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .input-icon {
            position: relative;
        }

        .input-icon > i {
        {#content: "$";#} position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
        }

        .input-icon > input {
            padding-left: 25px;
            padding-right: 8px;
        }

        .input-icon-right > i {
            right: 0;
        }

        .input-icon-right > input {
            padding-left: 0;
            padding-right: 25px;
            text-align: right;
        }
    </style>

{% endblock body %}


{% block extrajs %}

    <script type="text/javascript">

        $("#btn-new").click(function () {
            setTimeout(() => {
                location.reload()
            }, 1000);
        });

        $(document).on('change', '#money_type', function (e) {
            let type_money = $(this).val();
            if (type_money === 'D') {
                $(".change-money").text('$')
            } else {
                $(".change-money").text('S/')
            }
        });

        $(document).on('click', '#btn-add-new-detail', function () {
            let type_money = $("#money_type").val();
            let _val_money = 'S/'

            if (type_money === 'D') {
                _val_money = '$'
            }

            $('#detail_purchase > tbody').append(
                '<tr>' +
                '<td class="item-number align-middle text-center">' + '</td>' +
                '<td class="align-middle text-left product-item-table">' +
                '<input type="text" aria-label="" class="form-control text-uppercase product-table dropdown-toggle"' +
                'data-toggle="dropdown" aria-expanded="false"' +
                'placeholder="Ingrese un producto...">' +
                '<div class="dropdown-menu"></div>' +
                '</td>' +
                '<td class="align-middle item-quantity">' + '<input type="text" class="form-control text-center quantity-product text-uppercase" placeholder="0">' +
                '</td>' +
                '<td class="align-middle unit text-center">' +
                '<select class="form-control unit-product text-center" id="id_unit_product" name="unit_product" required>' +
                '<option value="0">Seleccione</option>' +
                '</td>' +
                '<td class="align-middle quantity-minimum text-center">' +
                '<input type="text" class="form-control text-center quantity-minimum-val">' +
                '</td>' +
                '<td class="item-price text-right align-middle">' + '<div class="input-icon">' +
                '<input type="text" class="form-control text-right text-uppercase price-unit-product" placeholder="0.00">' + '<i class="change-money">' + _val_money + '</i>' + '</div>' +
                '</td>' +
                '<td class="item-total text-right align-middle total-row">' + '<div class="input-icon">' +
                '<input type="text" class="form-control text-right text-uppercase total-detail" placeholder="0.00">' + '<i class="change-money">' + _val_money + '</i>' + '</div>' +
                '</td>' +
                '<td class="align-middle text-center"> ' + '<button type="button" onclick="deleteItem(this)" class="btn btn-danger delete-detail"><i class="fa fa-trash"></i></button>' + '</td>' +
                '</tr>');
            counter()
        });

        function deleteItem(btn) {
            btn.parentNode.parentNode.remove();
            counter();
        }

        function counter() {
            let l = 1;
            $('#details-table tr').each(function () {
                $(this).attr('i', l);
                $(this).children('td:nth-child(1)').text(l);
                l++;
            });
        }

        $(document).on('focusin', '.product-table', function (e) {
            let _menu = $(this).parent('td').find('div.dropdown-menu');
            _menu.empty();
            _menu.removeClass('show')
            _menu.prop('aria-expanded', false);
            _menu.css({
                'background-color': 'transparent',
                'border': 'transparent',
            })
            //$(this).val(' ');
            /*let _tr = $(this).parent('td').parent('tr')
            let _select = _tr.find('td.unit select.unit-product');
            let option = $('<option>').val(0).text('Seleccione');
            console.log("input", $(this).val())
            if ($(this).val() !== '') {
                _select.empty();
                _select.append(option);
                $(this).parent('td').find('div.dropdown-menu').css({
                    'background-color': 'transparent',
                    'border': 'transparent',
                })
            }*/
            //$(this).parent('td').find('div.dropdown-menu').empty();

        });

        $(document).on('keypress', '.product-table', function (e) {

            $(this).parent('td').find('div.dropdown-menu').empty();
            let _select_unit = $(this).parent('td').parent('tr').find('td.unit select.unit-product');
            let _select_quantity_unit = $(this).parent('td').parent('tr').find('td.item-quantity-x-unit select.quantity-unit');
            let _input = $(this)
            let _td = $(this).parent('td')
            let _menu = _td.find('.dropdown-menu')
            _menu.addClass('show');
            if (e.keyCode === 13) {
                e.preventDefault()
                $(this).trigger("enterKey");
                let _product_name = $(this).val();
                if (_product_name.length > 3) {
                    $.ajax({
                        url: '/buys/get_product_by_criteria_table/',
                        async: true,
                        dataType: 'json',
                        type: 'GET',
                        data: {
                            'value': _product_name,
                        },
                        contentType: 'application/json;charset=UTF-8',
                        headers: {"X-CSRFToken": '{{ csrf_token }}'},
                        success: function (response, textStatus, xhr) {
                            if (xhr.status === 200) {
                                _select_unit.empty()
                                _select_quantity_unit.empty()
                                //console.log(response.productList[0].unit_dict)
                                let _unit_dict = response.productList[0].unit_dict
                                let list = response.productList;
                                _input.prop('aria-expanded', true);
                                _menu.css({
                                    'background-color': '#fff',
                                    'border': '1px solid rgba(0,0,0,.15)',
                                    'position': 'absolute',
                                    'transform': 'translate3d(117px, 92px, 0px)',
                                    'top': '0x',
                                    'left': '0px',
                                    'will_change': 'transform'
                                });

                                for (let i = 0; i < list.length; i++) {
                                    let unit_dict = JSON.stringify(list[i].unit_dict)
                                    //console.log(JSON.stringify(list[i].unit_dict, null, 2))
                                    _menu.append(`<a class="dropdown-item product-item" unit='${unit_dict}'  brand="${list[i].brand}" href="#" data-id="${list[i].id}">${list[i].name} - ${list[i].brand}</a>`)
                                }
                            }
                        },
                        error: function (jqXhr, textStatus, xhr) {
                            if (jqXhr.status === 500) {
                                toastr.error(jqXhr.responseJSON.error, 'Mensaje');
                            } else {
                                if (textStatus === 'timeout') {
                                    toastr.error('Failed from timeout', 'Mensaje');
                                } else {
                                    console.log(" STATUS: " + xhr + " " + textStatus);
                                }
                            }
                        }
                    });
                } else {
                    toastr.warning('Para la busqueda ingrese minimo 3 caracteres', 'Error de llenado');
                    return false;
                }
            }
        });

        $(document).on('click', '.product-item', function (e) {

            let _product_id = $(this).attr('data-id');
            let _unit_dict = $(this).attr('unit');
            let _product_name = $(this).text();
            let _menu = $(this).parent('div.dropdown-menu');
            let _tr = $(this).parent('div.dropdown-menu').parent('td').parent('tr')
            let _td = $(this).parent('div.dropdown-menu').parent('td')
            let _select_unit = _tr.find('td.unit select.unit-product');
            //let _select_unit_quantity = _tr.find('td.item-quantity-x-unit select.quantity-unit');
            _tr.attr('product', _product_id);
            _td.find('input.product-table').val(_product_name);
            _select_unit.append($('<option>').val(0).text('Seleccione'));
            let units = JSON.parse(_unit_dict);
            //console.log(units)
            for (let i = 0; i < units.length; i++) {
                let _quantity_minimum = Number(units[i].quantity_minimum).toFixed(0);
                let option = $('<option>')
                    .val(units[i].unit_id)
                    .text(units[i].unit_name + ' ' + '(' + _quantity_minimum + 'UND' + ')')
                    .attr('qm', _quantity_minimum);
                _select_unit.append(option);
            }
            _menu.empty()
        });

        $(document).on('change', '.unit-product', async function (e) {
            let unit_id = $(this).val();
            let product_id = $(this).parent('td').parent('tr').attr('product')
            let _quantity = Number($(this).parent('td').parent('tr').find('td.item-quantity input.quantity-product').val())
            let _tr = $(this).parent('td').parent('tr')
            let _select_quantity_unit = _tr.find('td.item-quantity-x-unit select.quantity-unit');
            if (unit_id !== '0') {
                await getQuantityMinimumByProduct(product_id, unit_id, _tr, _quantity)
                if (unit_id === '1') { /*optimizar*/
                    _select_quantity_unit.val('1').change();
                }
            } else {
                toastr.warning('Seleccione una unidad valida', 'Error de llenado');
                $(this).val(1).change();
                return false;
            }

        });

        async function getQuantityMinimumByProduct(product_id, _unit, _tr, _quantity) {
            let _input_quantity_minimum = _tr.find('td.quantity-minimum input.quantity-minimum-val');
            let _price_unit_product = _tr.find('td.item-price input.price-unit-product');
            _input_quantity_minimum.val('')
            if (product_id !== '0') {
                $.ajax({
                    url: '/buys/get_quantity_minimum/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        'product_id': product_id,
                        'unit_id': _unit
                    },
                    success: function (response) {
                        let _quantity_minimum = Number(response.quantity_minimum).toFixed(2)
                        if (_quantity_minimum && _quantity) {
                            let _q_x_u = _quantity / _quantity_minimum
                            _input_quantity_minimum.val(_q_x_u.toFixed(2))
                        }
                        _price_unit_product.val(response.price_purchase);
                        $('.price-unit-product').trigger('keyup');
                    },
                });
            }
        }

        $(document).on('keyup', '.quantity-minimum-val', async function (e) {
            let _tr = $(this).parent('td').parent('tr');
            let _quantity_minimum = _tr.find('td.unit select.unit-product option:selected').attr('qm');
            let _val = $(this).val();
            let _quantity = _tr.find('td.item-quantity input.quantity-product');
            let _new_quantity = _val * _quantity_minimum
            _quantity.val(_new_quantity);
            $('.quantity-product').trigger('keyup');
        });

        $(document).on('keyup', '.quantity-product', function () {

            let _tr = $(this).parent('td').parent('tr')
            let _quantity = Number(_tr.find('td.item-quantity input.quantity-product').val())
            let _quantity_minimum = Number((_tr.find('td.unit select.unit-product option:selected').attr("qm")))

            if (!isNaN(_quantity_minimum)) {
                quantityDivideUnit(_quantity, _quantity_minimum, _tr)
            }
            calculateTotal(_tr)
            sum_table()
        });

        function quantityDivideUnit(quantity, quantity_minimum, tr) {
            let _quantity_quantity_minimum = quantity / quantity_minimum
            tr.find('td.quantity-minimum input.quantity-minimum-val').val(_quantity_quantity_minimum.toFixed(2));
        }

        $(document).on('keyup', '.price-unit-product', function () {

            let _tr = $(this).parent('div').parent('td').parent('tr')
            let _quantity = Number(_tr.find('td.item-quantity input.quantity-product').val())
            let _quantity_x_und = Number(_tr.find('td.item-quantity-x-unit input.quantity-x-unit').val())
            let _quantity_minimum = Number(_tr.find('td.quantity-minimum input.quantity-minimum-val').val())
            let _price_unit = Number(_tr.find('td.item-price div.input-icon input.price-unit-product').val())
            let _total = Number(_tr.find('td.total-row div.input-icon input.total-detail').val());

            if (_quantity !== 0 && _price_unit !== 0) {
                _total = _quantity_minimum * _price_unit
                _tr.find('td.item-total div.input-icon input.total-detail').val(Number(_total).toFixed(4));
            }
            calculateTotal(_tr)
            sum_table()
        });

        $(document).on('keyup', '.total-detail', function () {
            let _tr = $(this).parent('div').parent('td').parent('tr')
            let _total = Number(_tr.find('td.total-row div.input-icon input.total-detail').val());
            let _quantity = Number(_tr.find('td.item-quantity input.quantity-product').val())
            console.log('_total',_total)
            console.log('_quantity',_quantity)
            let price_unit = _total / _quantity
            console.log(price_unit)

            _tr.find('td.item-price div.input-icon input.price-unit-product').val(Number(price_unit).toFixed(2));
            calculateTotal(_tr)
            sum_table()
        });

        function sum_table() {
            let igv = 0;
            let base = 0;
            let sum_total = 0;
            let total_document = 0;
            let _total;

            $("tbody#details-table tr").each(function () {
                let td_total = Number($(this).find("td.total-row input.total-detail").val());
                sum_total = sum_total + td_total
            });

            let _check_igv = $("#details-table-foot tr input.check-igv")

            if (_check_igv.is(':checked')) {
                base = sum_total / 1.18
                igv = sum_total - base
                _total = base + igv
                total_document = _total

            } else {
                base = sum_total
                igv = sum_total * 0.18
                _total = base + igv
                total_document = _total
            }

            $("#detail_purchase tfoot tr input.total-foot-base").val(base.toFixed(4));
            $("#detail_purchase tfoot tr input.total-foot-igv").val(igv.toFixed(4));
            $("#detail_purchase tfoot tr input.total-foot-total").val(_total.toFixed(4));
            $("#detail_purchase tfoot tr input.total-foot-document").val(total_document.toFixed(4));
        }

        $(document).on('change', '#details-table-foot tr input.check-igv', function (e) {
            sum_table()
        });

        function calculateTotal(_tr) {

            let $quantity_minimum = Number(_tr.find('td.quantity-minimum input.quantity-minimum-val').val())
            let $price_unit = Number(_tr.find('td.item-price input.price-unit-product').val());
            let amount
            amount = $quantity_minimum * $price_unit
            _tr.find('td.total-row input.total-detail').val(amount.toFixed(4))

        }

        $('#purchase-form').submit(function (event) {
            event.preventDefault();
            let detailPurchase = []
            $("#details-table tr").each(function () {
                let detailObj = {
                    product: $(this).attr('product'),
                    quantity: $(this).find("td.item-quantity input.quantity-product").val(),
                    unit: $(this).find("td.unit select.unit-product").val(),
                    price: $(this).find("td.item-price input.price-unit-product").val(),
                };
                detailPurchase.push(detailObj);
            });
            let data = new FormData($('#purchase-form').get(0));
            data.append('detail', JSON.stringify(detailPurchase));
            $.ajax({
                url: '/buys/create_purchase/',
                type: 'POST',
                async: true,
                data: data,
                cache: false,
                processData: false,
                contentType: false,
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        setTimeout(() => {
                            location.reload();
                        }, 1000);
                    }
                },
                error: function (response) {
                    toastr.error(response.message, "Guardado Fallido");
                }
            });
        });

    </script>

{% endblock extrajs %}