{% extends 'home.html' %}

{% block title %}
    Fechas de Entrega
{% endblock title %}

{% block body %}

    <div class="card m-1 bg-light">
        <div class="row">
            <div class="col-lg-2 pt-3 ml-3">

            </div>
            <div class="col-lg-8 text-center pt-2">
                <h2 class="font-weight-bold roboto-condensed-regular"> LISTADO DE ENTREGAS PENDIENTES</h2>
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="row mt-1">
                <div id="file-list-grid" class="table-responsive small">
                    <div id="client-grid-list">{% include "buys/report_contracts_detail_grid.html" %}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-phase" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle" data-backdrop="static" data-keyboard="false"
         aria-hidden="true"></div>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">
        let activeCheckbox = null;
        $(document).on('change', '.check-c', function () {
            if ($(this).is(":checked")) {
                modal_phase($(this).attr("order"), 'C')
                activeCheckbox = this;
            } else {
                console.log("false")
            }
        });
        $(document).on('change', '.check-d', function () {
            if ($(this).is(":checked")) {
                modal_phase($(this).attr("order"), 'D')
                activeCheckbox = this;
            } else {
                console.log("false")
            }
        });
        $(document).on('change', '.check-g', function () {
            if ($(this).is(":checked")) {
                modal_phase($(this).attr("order"), 'G')
                activeCheckbox = this;
            } else {
                console.log("false")
            }
        });

        function modal_phase(order, phase) {

            $.ajax({
                url: '/comercial/modal_phase/',
                dataType: 'json',
                type: 'GET',
                data: {'order': order, 'phase': phase},
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        $('#modal-phase').html(response.form);
                        $('#modal-phase').modal('show');

                    } else {
                        toastr.error(response.message, 'Error');
                    }
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        }

        $(document).on('click', '#close-modal', function () {
            $('#modalConfirm').modal('hide');

            if (activeCheckbox) {
                $(activeCheckbox).prop('checked', false);
                activeCheckbox = null; // limpiamos
            }
        });

    </script>

{% endblock extrajs %}