{% if supplier_set %}
    <div class="card">
        <div class="card-header p-2">
            <a class="btn btn-outline-info mb-3 mt-3 btn-sm" data-toggle="modal"
               data-target="#modal-option">
                <i class="fas fa-user-plus"></i> &nbsp;NUEVO PROVEEDOR
            </a>
        </div>
        <div class="card-body p-2 table-responsive small">

            <div class="table-responsive dataTables_wrapper">
                <table id="client-data-grid" class="table table-bordered align-content-center w-100 h-100">
                    <thead>
                    <tr class="text-center font-weight-bold text-uppercase bg-light">
                        <th class="th-sm">Nº</th>
                        <th class="th-sm">RUC</th>
                        <th class="th-sm">Razon Social</th>
                        <th class="th-sm">Telefono</th>
                        <th class="th-sm">Email</th>
                        <th class="th-sm">Direccion</th>
                        <th class="th-sm"><i class="fas fa-edit"></i></th>
                    </tr>
                    </thead>
                    <tbody style="font-size: 13px;">
                    {% for s in supplier_set %}
                        <tr class="text-center" pk="{{ s.id }}">
                            <td class="align-middle">{{ forloop.counter }}</td>
                            <td class="align-middle">{{ s.name|upper }}</td>
                            <td class="align-middle">{{ s.ruc }}</td>
                            <td class="align-middle">{{ s.phone|default:"-" }}</td>
                            <td class="align-middle">{{ s.email|default:"-" }}</td>
                            <td class="align-middle text-left">
                                {% for c in s.supplieraddress_set.all %}
                                    <i class="fas fa-map-marker-alt"></i>
                                    {{ c.address|upper|default_if_none:"-"|default:"-" }}<br>
                                {% endfor %}
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-secondary client-edit"
                                        pk="{{ s.id }}"><i class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% else %}
    <h1>Lo sentimos, no hay registros.</h1>
{% endif %}