{% load operations %}
<div class="card border-primary mb-2">
    <div class="card-header text-center text-uppercase p-1 roboto-condensed-regular m-2"
         style="background-color: #ebebeb; border: yellow">
        <h2 class="roboto-condensed-regular font-weight-bold"> {{ client_obj }} </h2>
        <label>Deuda Pendiente: S/ {{ difference_debt }}</label>
    </div>
</div>
<div class="card table-responsive roboto-condensed-regular" id="grid-dictionary">
    <table class="table table-sm table-borderless table-hover mb-0" id="table-dictionary">
        <thead>
        <tr class="text-white small text-uppercase text-center">
            <td class="bg-primary">ID</td>
            <td class="bg-primary">TIPO</td>
            {#            <td class="bg-primary">CLIENTE</td>#}
            <td class="bg-primary">USUARIO</td>
            <td class="bg-primary">FECHA</td>
            <td class="bg-primary">ESTADO</td>
            <td class="bg-info">PRODUCTO</td>
            <td class="bg-info">TIPO UND.</td>
            <td class="bg-info">CANT.</td>
            <td class="bg-info">PRECIO (S/)</td>
            <td class="bg-info">IMPORTE</td>
            <td class="bg-primary">TOTAL</td>
            <td class="bg-danger">GASTOS</td>
            <td class="bg-secondary">MONTO PAGADO</td>
            <td class="bg-secondary">FECHA OPERACIÓN</td>
            <td class="bg-secondary">TIPO PAGO</td>
            <td class="bg-success">ACCIÓN</td>
            <td class="bg-primary text-right">TOTAL</td>
            <td class="bg-danger text-right">TOTAL GASTOS</td>
            <td class="bg-secondary text-right">PAGO FALTANTE</td>
        </tr>
        </thead>
        <tbody>
        {% for o in dictionary %}
            <tr info="{{ o.id }}">
                <td class="align-middle text-center id-obj " rowspan="{{ o.rowspan }}">{{ o.id }}</td>
                <td class="align-middle text-center " rowspan="{{ o.rowspan }}">{{ o.type }}</td>
                {#                <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.client }}</td>#}
                <td class="align-middle text-center plate "
                    rowspan="{{ o.rowspan }}">{{ o.user|upper }}</td>
                <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.date|date:"d-m-y" }}</td>
                <td class="align-middle text-center" rowspan="{{ o.rowspan }}">{{ o.status }}</td>

                {% for d in o.order_detail_set %}
                    <td class="align-middle text-center product-obj" rowspan="{{ d.rowspan }}"
                        dpk="{{ d.product_id }}">{{ d.product }}</td>
                    <td class="align-middle text-center unit-obj " rowspan="{{ d.rowspan }}">
                        <span class="text-success font-weight-bolder">{{ d.unit }}</span>
                    </td>
                    <td class="align-middle text-center quantity-obj" rowspan="{{ d.rowspan }}">
                        {{ d.quantity_sold|floatformat:0 }}
                    </td>
                    <td class="align-middle text-center" rowspan="{{ d.rowspan }}">S/ {{ d.price_unit }}</td>
                    <td class="align-middle text-center total-obj"
                        rowspan="{{ d.rowspan }}">S/ {{ d.multiply|replace_round }}</td>
                    {% if forloop.first %}
                        <td class="align-middle text-primary text-center font-weight-bold"
                            rowspan="{{ o.rowspan }}">S/ {{ o.subtotal|replace_round }}</td>
                    {% endif %}

                    {% if not d.has_spending %}
                        <td class="align-middle text-center body-spending" rowspan="{{ d.rowspan }}">
                            <button type="button"
                                    class="btn btn-outline-danger btn-expense"
                                    data-toggle="modal"
                                    data-target="#modal-expense" pk="{{ o.id }}"><i class="fas fa-receipt"></i>
                            </button>
                        </td>
                    {% else %}
                        <td class="align-middle text-success text-center body-spending "
                            rowspan="{{ d.rowspan }}"></td>
                    {% endif %}

                    {% for l in d.loan_payment_set %}
                        {% if forloop.first %}
                            <td class="align-middle text-center">{{ l.quantity|floatformat:0 }}</td>
                            <td class="align-middle text-center">{{ l.price }}</td>
                            <td class="align-middle text-center">{{ l.operation_date|date:"d-m-y" }}</td>
                            <td class="align-middle text-center">
                                {% if l.type != 'Deposito' %}
                                    {{ l.type }}
                                {% endif %}
                                {% if l.cash_flow %}
                                    <br>{{ l.cash_flow.cash.name }}
                                    <br>{{ l.cash_flow.operation_code }}
                                {% endif %}
                            </td>
                            <td class="align-middle text-success text-center repay-loan-obj"
                                rowspan="{{ d.rowspan }}">{{ d.repay_loan|floatformat:2 }}</td>

                            <td class="align-top text-success text-center "
                                rowspan="{{ d.rowspan }}">
                                <button type="button"
                                        class="btn btn-outline-success btn-block btn-payment"
                                        data-toggle="modal"
                                        data-target="#modal-payment" pk="{{ d.id }}">
                                    <i class="fas fa-cart-plus"></i>
                                </button>
                            </td>

                            {% if forloop.parentloop.first %}

                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_repay_loan }}</td>
                                <td class="align-middle text-danger font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_spending }}</td>

                                <td class="align-middle text-primary text-right total-remaining-repay-loan-obj pay-loan-rest"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan }}</td>
                            {% endif %}

                            </tr>
                        {% else %}
                            <tr class="">
                                <td class="align-middle text-center">{{ l.quantity|floatformat:0 }}</td>
                                <td class="align-middle text-center">{{ l.price }}</td>
                                <td class="align-middle text-center">{{ l.license_plate }}</td>
                                <td class="align-middle text-center">{{ l.operation_date|date:"d-m-y" }}</td>
                                <td class="align-middle text-center">
                                    {% if l.type != 'Deposito' %}
                                        {{ l.type }}
                                    {% endif %}
                                    {% if l.cash_flow %}
                                        <br>{{ l.cash_flow.cash.name }}
                                        <br>{{ l.cash_flow.operation_code }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                    {% empty %}
                        <td class="align-middle text-primary text-center"
                            colspan="3">SIN PAGOS
                        </td>
                        <td class="">
                            <button type="button"
                                    class="btn btn-outline-success btn-block btn-payment"
                                    data-toggle="modal"
                                    data-target="#modal-payment" pk="{{ d.id }}">
                                <i class="fas fa-cart-plus"></i>
                            </button>
                        </td>

                        {% if not o.has_loans %}
                            {% if o.order_detail_set.0.id == d.id %}
                                {% if o.details_count > 0 %}
                                    <td class="align-middle text-primary text-right"
                                        rowspan="{{ o.rowspan }}">S/ {{ o.total_repay_loan }}</td>
                                    <td class="align-middle text-danger font-weight-bold text-right"
                                        rowspan="{{ o.rowspan }}">S/ {{ o.total_spending }}</td>
                                    <td class="align-middle text-primary text-right total-remaining-repay-loan-obj pay-loan-rest"
                                        rowspan="{{ o.rowspan }}">S/ {{ o.total_remaining_repay_loan }}</td>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if o.order_detail_set.0.id == d.id %}
                                <td class="align-middle text-primary text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_repay_loan }}</td>
                                <!--TOTAL PAGADO GLP-->
                                <td class="align-middle text-danger font-weight-bold text-right"
                                    rowspan="{{ o.rowspan }}">{{ o.total_spending }}</td>
                                <!--TOTAL GASTOS-->
                                <td class="align-middle text-primary text-right total-remaining-repay-loan-obj pay-loan-rest"
                                    rowspan="{{ o.rowspan }}">{{ o.total_remaining_repay_loan }}</td>
                                <!--PAGO FALTANTE-->
                            {% endif %}
                        {% endif %}
                        </tr>
                    {% endfor %}
                {% empty %}
                    <td colspan="7" rowspan="0">SIN DETALLES</td>
                    </tr>

                {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr class="colcount">
            <td colspan="16" class="colcount-total"></td>
            <td class="align-middle text-primary text-right">S/ {{ sum_total_repay_loan }}</td>
            <td class="align-middle text-danger text-right">S/ {{ sum_total_cash_flow_spending }}</td>
            <td class="align-middle text-primary text-right">S/ {{ sum_total_remaining_repay_loan }}</td>
        </tr>
        </tfoot>
    </table>
</div>

<script type="text/javascript">

    $("#table-to-excel").click(function () {

        $('.colcount-quantity').prop('colspan', 3)
        $('.colcount-total').prop('colspan', 13)

        $("#table-dictionary").table2excel({
            // exclude CSS class
            exclude: ".noExl",
            name: "Worksheet GLP",
            filename: "kardex_glp",//do not include extension
            fileext: ".xlsx", // file extension
            preserveColors: true

        });
        setTimeout(() => {
            $('.colcount-quantity').prop('colspan', 9)
            $('.colcount-total').prop('colspan', 16)
        }, 1000);

    });

    /*$('#table-dictionary').each(function () {

        let count2 = $(this).find("td.body-spending button").length;
        if (count2 === 0) {
            $(this).find("td.head-spending").remove()
            $(this).find("td.body-spending").remove()
            $(this).find("td.colcount").attr('colspan', '22')
        }
    });*/


</script>
