{% extends 'home.html' %}

{% block title %}
    coronasoft.dev | lista de Ordenes
{% endblock title %}

{% block body %}
    <div class="row m-2 bg-light">
        <div class="col-sm-12 p-0">
            <div class="card">
                <div class="card-body text-center pb-0">
                    <h2 class="roboto-condensed-regular font-weight-bold">LISTADO DE ORDENES DE CLIENTES</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group row m-2 p-2 bg-light roboto-condensed-regular border">
        <label for="id-start-date" class="col-form-label font-weight-bold">Fecha Inicial:</label>
        <div class="col-sm-1">
            <input type="date" class="form-control" id="id-start-date" value="{{ formatdate }}">
        </div>
        <label for="id-end-date" class="col-form-label font-weight-bold">Fecha Final:</label>
        <div class="col-sm-1">
            <input type="date" class="form-control" id="id-end-date" value="{{ formatdate }}">
        </div>
        <label for="person-names" class="col-form-label font-weight-bold">Seleccione Cliente:</label>
        <div class="col-sm-5">
            <div id="autocomplete-client" class="autocomplete">
                <input class="form-control autocomplete-input"
                       type="text"
                       id="person-names"
                       name="person-names"
                       maxlength="200"
                       autocomplete="off"
                       value=""
                       placeholder="Ingrese un cliente..."/>
                <ul class="autocomplete-result-list"></ul>
            </div>
            <input type="hidden" id="client_id" name="client-id">
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-warning btn-block font-weight-bold" id="btn-search">
                <i class="fas fa-hand-point-right"></i> Buscar
            </button>
        </div>
    </div>
    <div class="table-responsive p-2" id="table-order"></div>

    {#    MODAL DE PAGOS#}
    <div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title roboto-condensed-regular" id="exampleModalLabel1">REGISTRAR PAGO</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="lending">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    {#    MODAL DE GASTOS#}
    <div class="modal fade" id="modal-expense" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="exampleModalLabel2">REGISTRAR GASTO</h5>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="expense">
                    ...
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';


        $('#btn-search').click(function () {

            let _client_id = $('#client_id').val();
            let _start_date = $('#id-start-date').val();
            let _end_date = $('#id-end-date').val();
            $('#table-order').empty();
            $('#table-order').html(loader);
            $.ajax({
                url: '/sales/get_orders_by_client/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'client_id': _client_id,
                    'start_date': _start_date,
                    'end_date': _end_date,
                },
                success: function (response) {
                    $('#table-order').html(response['grid']);
                },
            });
        });


        new Autocomplete('#autocomplete-client', {
            search: input => {
                const url = `/buys/get_client/?search=${encodeURI(input.toUpperCase())}`

                return new Promise(resolve => {
                    if (input.length < 3) {
                        return resolve([])
                    }
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.results)
                        })
                })
            },
            renderResult: (result, props) => {
                let group = ''
                if (result.index % 3 === 0) {
                    group = '<li class="group">Group</li>'
                }
                return `
                ${group}
                <li ${props}>
                 <div class="h6" style="font-family: roboto_condensed_regular">
                    ${result.names}
                 </div>
                 <div class="wiki-snippet text-black">
                    Nª Documento: ${result.number_document}
                  </div>
                </li>
                `
            },
            getResultValue: result => result.names,
            onSubmit: result => {
                if (result) {
                    let client_id = result.id;
                    let type_client = result.type_client;
                    let _client_address = result.address;
                    $('#client_id').val(client_id);
                } else {
                    toastr.warning('Seleccione un cliente valido', 'Error de llenado');
                    return false;
                }
            }
        })

        $(document).on('click', '.btn-payment', function () {

            let _detail_id = $(this).attr('pk');
            let _start_date = $('#id-start-date').val();
            let _end_date = $('#id-end-date').val();
            $('#lending').empty();
            $.ajax({
                url: '/sales/get_order_detail_for_pay/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    'detail_id': _detail_id,
                    'start_date': _start_date,
                    'end_date': _end_date,
                },
                success: function (response) {
                    $('#lending').html(response.grid);
                },
                fail: function (response) {
                    console.log("error");
                }
            });
        });

        {#LLAMAR A EL MODAL DE GASTOS#}

        $(document).on('click', '.btn-expense', function () {
            let _order_id = $(this).attr('pk');

            let $tr = $('#table-dictionary').find('tr[info="' + _order_id + '"]');

            let $td_pilot = $tr.find('td.pilot').text();
            let $td_plate = $tr.find('td.plate').text();

            let $td_pay_loan = $tr.find('td.pay-loan-rest').text();
            let _start_date = $('#id-start-date').val();
            let _end_date = $('#id-end-date').val();

            $('#lending').empty();
            $.ajax({
                url: '/sales/get_expenses/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {
                    '_order_id': _order_id,
                    'start_date': _start_date,
                    'end_date': _end_date,
                },
                success: function (response) {
                    $('#expense').html(response.grid);
                    {#$('#id_driver').val($td_pilot);#}
                    {#$('#id_plate').val($td_plate);#}
                    $('#id_order').val(_order_id);
                    $('.pay-loan').val($td_pay_loan);
                },
                fail: function (response) {
                    console.log("error");
                }
            });
        });

    </script>

{% endblock extrajs %}

