{% if clients %}
    <div class="card-body p-2 table-responsive small">
        <div class="table-responsive dataTables_wrapper">
            <table id="client-data-grid" class="table table-bordered align-content-center w-100 h-100">
                <thead>
                <tr class="font-weight-bold text-uppercase bg-light">
                    <th class="th-sm text-center">Nº</th>
                    <th class="th-sm text-center">Codigo de Unidad Ejecutora</th>
                    <th class="th-sm text-center">Nombre</th>
                    <th class="th-sm text-center">Telefono</th>
                    <th class="th-sm text-center">Tipo</th>
                    <th class="th-sm text-center">Numero de Documento</th>
                    <th class="th-sm text-center">Tipo de Cliente</th>
                    <th class="th-sm text-center">Direccion</th>
                    {#                        <th class="th-sm">Distrito</th>#}
                    {#                        <th class="th-sm">Asociados</th>#}
                    <th class="th-sm text-center">Email</th>
                    <th class="th-sm text-center"><i class="fas fa-edit"></i></th>
                </tr>
                </thead>
                <tbody style="font-size: 13px;">
                {% for client in clients %}
                    <tr class="text-center" pk="{{ client.id }}">
                        <td class="align-middle">{{ forloop.counter }}</td>
                        <td class="align-middle">{{ client.cod_siaf|default_if_none:"-"|default:"-" }}</td>
                        <td class="align-middle">{{ client.names|upper }}</td>
                        <td class="align-middle">{{ client.phone|default:"-" }}</td>
                        <td class="align-middle">{{ client.clienttype_set.first.document_type.short_description }}</td>
                        <td class="align-middle">{{ client.clienttype_set.first.document_number }}</td>
                        <td class="align-middle font-weight-bold bg-light">{{ client.get_type_client_display|default:"-" }}</td>

                        <td class="align-middle text-left">
                            {% for c in client.clientaddress_set.all %}
                                {#                                    {{ client.clientaddress_set.first.address|upper|default_if_none:"-"|default:"-" }}#}
                                <i class="fas fa-map-marker-alt"></i>
                                {{ c.address|upper|default_if_none:"-"|default:"-" }}<br>
                            {% endfor %}
                        </td>

                        {#                            <td class="align-middle">#}
                        {#                                {% for associate in client.clientassociate_set.all %}#}
                        {#                                    <button class="btn btn-sm btn-block btn-outline-primary">{{ associate.subsidiary.name }}</button>#}
                        {#                                {% endfor %}#}
                        {#                            </td>#}
                        <td class="align-middle">{{ client.email|default:"-" }}</td>
                        <td class="align-middle">
                            <button type="button" class="btn btn-block btn-secondary client-edit"
                                    pk="{{ client.id }}"><i class="fas fa-edit"></i>
                            </button>
                            {#                                <button type="button" class="btn btn-block btn-primary client-new-associate"#}
                            {#                                        pk="{{ client.id }}">Asociar#}
                            {#                                </button>#}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <h1>Lo sentimos, no hay clientes registrados.</h1>
{% endif %}


{#<div class="card-body p-2 table-responsive small roboto-condensed-regular">#}
{#    <div class="table-responsive dataTables_wrapper">#}
{#        <table id="client-data-grid" class="table table-bordered align-content-center w-100 h-100">#}
{#            <thead>#}
{#            <tr class="font-weight-bold text-uppercase bg-light">#}
{#                <th class="th-sm text-center">Nº</th>#}
{#                <th class="th-sm text-center">Nombre o Sigla de la Entidad</th>#}
{#                <th class="th-sm text-center">Tipo de Procedimiento</th>#}
{#                <th class="th-sm text-center">Número de Procedimiento</th>#}
{#                <th class="th-sm text-center">Nomeclatura</th>#}
{#                <th class="th-sm text-center">Numero de convocatoria</th>#}
{#                <th class="th-sm text-center">Nº Tomos</th>#}
{#                <th class="th-sm text-center">Año</th>#}
{#                <th class="th-sm text-center">Objeto de Contratación</th>#}
{#                <th class="th-sm text-center">Descripción de Objeto</th>#}
{#                <th class="th-sm text-center">Ubicacion</th>#}
{#                <th class="th-sm text-center">Estado</th>#}
{#                <th class="th-sm text-center"><i class="fas fa-edit"></i></th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody style="font-size: 13px;">#}
{#                <tr class="text-center">#}
{#                    <td class="align-middle">1</td>#}
{#                    <td class="align-middle">EMPRESA DE GENERACION ELECTRICA DE AREQUIPA S.A. - EGASA</td>#}
{#                    <td class="align-middle">ADJUDICACION SIMPLIFICADA</td>#}
{#                    <td class="align-middle">15</td>#}
{#                    <td class="align-middle">AS-SM-15-2024-EGASA-1</td>#}
{#                    <td class="align-middle">1RA</td>#}
{#                    <td class="align-middle">1</td>#}
{#                    <td class="align-middle">2024</td>#}
{#                    <td class="align-middle">Servicio</td>#}
{#                    <td class="align-middle">SERVICIO DE MONITOREO DE PARÁMETROS HIDROLÓGICOS Y DE LECHO DE RÍO EN LAS PRESAS PILLONES, CHALHUANCA Y BAMPUTAÑE</td>#}
{#                    <td class="align-middle">A 010102</td>#}
{#                    <td class="align-middle">ARCHIVADO</td>#}
{#                    <td class="align-middle">#}
{#                        <button type="button" class="btn btn-block btn-secondary client-edit"#}
{#                                pk="{{ client.id }}"><i class="fas fa-edit"></i>#}
{#                        </button>#}
{#                    </td>#}
{#                </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#</div>#}