{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div id="modal-loader" class="overlay" style="display: none">
            <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header bg-light">
            <h6 class="modal-title">REGISTRAR NUEVO CLIENTE</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <input type="hidden" class="form-control" id="client_id" name="client-id">

        <div class="modal-body p-2">
            <div class="card">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_type">Documento:</label>
                                    <select class="form-control" id="document_type" name="document_type">
                                        <option value="00">Seleccionar</option>
                                        <option value="01">DNI</option>
                                        <option value="06">RUC</option>
                                        {#                                        {% for type in document_types %}#}
                                        {#                                            <option value="{{ type.id }}">{{ type.short_description }}</option>#}
                                        {#                                        {% endfor %}#}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_number">Numero de Documento:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="document_number"
                                               name="document_number" autocomplete="off"
                                               placeholder="">
                                        <div class="input-group-append">
                                            <button class="btn btn-warning btn-sm" id="btn-nro-client" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row dni">
                                <div class="col-lg-12">
                                    <label class="mb-1 mt-1 font-weight-light" for="names">Nombres / Razon
                                        Social:</label>
                                    <input type="text" class="form-control" id="names" autocomplete="off"
                                           name="names">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-2 font-weight-light" for="phone">Telefono:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control"
                                               id="phone" name="phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="email" class="mb-1 mt-2 font-weight-light">Correo:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control"
                                               placeholder="" id="email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="id_type_client">Tipo de cliente:</label>
                                    <select class="form-control" id="id_type_client" name="type_client">
                                        <option value="0">Seleccionar</option>
                                        {% for t in type_client %}
                                            <option value="{{ t.0 }}">{{ t.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 siaf d-none">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="cod_siaf">CODIGO DE UNIDAD EJECUTORA (SIAF):</label>
                                    <input type="text" class="form-control" id="cod_siaf" name="siaf">
                                </div>
                                {#            <div class="col-sm-6 col-md-6 col-lg-6">#}
                                {#                <label class="mb-1 mt-1 font-weight-light"#}
                                {#                       for="id_district">Seleccione distrito</label>#}
                                {#                <select id="id_district" name="id_district" class="form-control">#}
                                {#                    <option value="0">Seleccionar</option>#}
                                {#                    {% for district in districts %}#}
                                {#                        <option value="{{ district.id }}">{{ district.description }}</option>#}
                                {#                    {% endfor %}#}
                                {#                </select>#}
                                {#            </div>#}
                            </div>

                            <div class="row public d-none">
                                <div class="col-sm-9 col-md-9 col-lg-9 pr-0">
                                    <label class="mb-1 mt-2 font-weight-light" for="address">Dirección de
                                        Cliente:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="address" autocomplete="off"
                                               name="address" placeholder="Dirección">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 pl-1">
                                    <label class="mb-1 mt-2 font-weight-light"
                                           for="id_district">Seleccione distrito:</label>
                                    <select id="id_district" name="id_district" class="form-control">
                                        <option value="0">Seleccionar</option>
                                        <option value="0">Seleccionar</option>
                                        <option value="200901">JULIACA</option>
                                        <option value="200101">PUNO</option>
                                        <option value="040101">AREQUIPA</option>
                                        <option value="220101">TACNA</option>
                                        <option value="070101">CUSCO</option>
{#                                        {% for district in districts %}#}
{#                                            <option value="{{ district.id }}">{{ district.description }}</option>#}
{#                                        {% endfor %}#}
                                    </select>
                                </div>
                            </div>
                            <div class="row private main d-none">
                                <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                    <label class="mb-1 mt-2 font-weight-light" for="new_address">Dirección del
                                        Cliente:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                        </div>
                                        <input type="text" class="form-control new-address" id="new_address"
                                               autocomplete="off"
                                               name="address">
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                    <label class="mb-1 mt-2 font-weight-light"
                                           for="id_district2">Seleccione distrito:</label>
                                    <select id="id_district2" name="id_district2" class="form-control district">
                                        <option value="0">Seleccionar</option>
                                        <option value="200901">JULIACA</option>
                                        <option value="200101">PUNO</option>
                                        <option value="040101">AREQUIPA</option>
                                        <option value="220101">TACNA</option>
                                        <option value="070101">CUSCO</option>
                                        {#                    {% for district in districts %}#}
                                        {#                        <option value="{{ district.id }}">{{ district.description }}</option>#}
                                        {#                    {% endfor %}#}
                                    </select>
                                </div>
                                <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                    <label class="mb-1 mt-2 font-weight-light"
                                           for="id-add-new-addressee">&nbsp;</label>
                                    <button type="button" class="btn btn-outline-success btn-block"
                                            id="id-add-new-addressee">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light p-2">
            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>            &nbsp;
            <button id="btn-save-client" type="button" class="btn btn-primary font-weight-light">Registrar
            </button>
        </div>

        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                {#height: 46em;#}
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>

    </div>
</div>

<script type="text/javascript">

    loader = '<div class="container">' +
        '<div class="row">' +
        '<div class="col-md-12">' +
        '<div class="loader">' +
        '<p><strong><h4>Consultando datos...</h4></strong></p>' +
        '<div class="loader-inner"></div>' +
        '<div class="loader-inner"></div>' +
        '<div class="loader-inner"></div>' +
        '</div>' +
        '</div>' +
        '</div>' +
        '</div>';

    $(document).on('click', '#btn-nro-client', async function (e) {

        let _document_number = $('#document_number').val();
        let _type_doc = $('#document_type').val();

        if (_type_doc === '00') {
            toastr.warning('¡Favor de seleccionar el tipo de documento!', 'Error de Datos');
            return false;
        }
        if (_type_doc === '06' && _document_number.length !== 11) {
            toastr.warning('¡Favor de completar los caracteres requeridos: 11 caracteres para RUC!', 'Error de Datos');
            return false;
        }
        if (_type_doc === '01' && _document_number.length !== 8) {
            toastr.warning('¡Favor de completar los caracteres requeridos: 8 caracteres para DNI', 'Error de Datos');
            return false;
        }

        await searchClient(_type_doc, _document_number).then((value) => {
            $("#client_id").val(value.pk);
            $("#names").val(value.result);
            $("#address").val(value.address);
        }).catch((e) => {
            toastr.error(e.responseJSON.error, 'Error de Datos');
        })
    });

    $(document).on('keypress', '#document_number', async function (e) {

        if (e.keyCode === 13) {
            e.preventDefault()
            $(this).trigger("enterKey");
            let _document_number = $(this).val();
            let _type_doc = $('#document_type').val();

            if (_type_doc === '00') {
                toastr.warning('¡Favor de seleccionar el tipo de documento!', 'Error de Datos');
                return false;
            }
            if (_type_doc === '06' && _document_number.length !== 11) {
                toastr.warning('¡Favor de completar los caracteres requeridos: 11 caracteres para RUC!', 'Error de Datos');
                return false;
            }
            if (_type_doc === '01' && _document_number.length !== 8) {
                toastr.warning('¡Favor de completar los caracteres requeridos: 8 caracteres para DNI', 'Error de Datos');
                return false;
            }

            await searchClient(_type_doc, _document_number).then((value) => {
                $("#client_id").val(value.pk);
                $("#names").val(value.result);
                $("#address").val(value.address);
                $("#new_address").val(value.address);
            }).catch((e) => {
                toastr.error(e.responseJSON.error, 'Error de Datos');
            })
        }
    });

    function searchClient($type_document, $document_number) {

        $('#loading').html(loader).show()
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/sales/get_api_client/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'nro_document': $document_number,
                    'type': $type_document
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        resolve(response);
                        $('#loading').hide();
                    }
                },
                error: function (error) {
                    reject(error)
                    //console.log(reject);
                    //console.log(reject(error))
                    $('#loading').hide();
                },
            });
        })
    }


</script>