{% load static %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div id="modal-loader" class="overlay" style="display: none">
            <i class="fas fa-3x fa-sync fa-spin"></i>
        </div>
        <div class="modal-header bg-light">
            <h6 class="modal-title">ACTUALIZAR CLIENTE:</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <input type="hidden" class="form-control" id="client_id" name="client-id" value="{{ client_obj.id }}">

        <div class="modal-body p-2">
            <div class="card">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_type_update">Documento:</label>
                                    <select class="form-control" id="document_type_update" name="document_type_update">
                                        {#                                        <option value="00">Seleccionar</option>#}
                                        {% if client_obj.clienttype_set.last.document_type.id == '01' %}
                                            <option selected value="01">DNI</option>
                                            <option value="06">RUC</option>
                                        {% elif client_obj.clienttype_set.last.document_type.id == '06' %}
                                            <option selected value="06">RUC</option>
                                            <option value="01">DNI</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="document_number_update">Numero de Documento:</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="document_number_update"
                                               name="document_number" autocomplete="off"
                                               placeholder=""
                                               value="{{ client_obj.clienttype_set.last.document_number }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-warning btn-sm" id="btn-nro-client-update" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row dni">
                                <div class="col-lg-12">
                                    <label class="mb-1 mt-1 font-weight-light" for="names_update">Nombres / Razon
                                        Social:</label>
                                    <input type="text" class="form-control" id="names_update" autocomplete="off"
                                           name="names" value="{{ client_obj.names }}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="mb-1 mt-2 font-weight-light" for="phone">Telefono:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control"
                                               id="phone" name="phone" value="{{ client_obj.phone }}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="email" class="mb-1 mt-2 font-weight-light">Correo:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" class="form-control"
                                               placeholder="" id="email" name="email" value="{{ client_obj.email }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="id_type_client_update">Tipo de cliente:</label>
                                    <select class="form-control" id="id_type_client_update" name="type_client">
                                        <option value="0">Seleccionar</option>
                                        {% for t in type_client %}
                                            {% if client_obj.type_client == t.0 %}
                                                <option selected value="{{ t.0 }}">{{ t.1 }}</option>
                                            {% else %}
                                                <option value="{{ t.0 }}">{{ t.1 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 siaf-update d-none">
                                    <label class="mb-1 mt-1 font-weight-light"
                                           for="cod_siaf">CODIGO DE UNIDAD EJECUTORA (SIAF):</label>
                                    <input type="text" class="form-control" id="cod_siaf" name="siaf"
                                           value="{{ client_obj.cod_siaf|default_if_none:'-' }}">
                                </div>
                                {#            <div class="col-sm-6 col-md-6 col-lg-6">#}
                                {#                <label class="mb-1 mt-1 font-weight-light"#}
                                {#                       for="id_district">Seleccione distrito</label>#}
                                {#                <select id="id_district" name="id_district" class="form-control">#}
                                {#                    <option value="0">Seleccionar</option>#}
                                {#                    {% for district in districts %}#}
                                {#                        <option value="{{ district.id }}">{{ district.description }}</option>#}
                                {#                    {% endfor %}#}
                                {#                </select>#}
                                {#            </div>#}
                            </div>
                            {% if client_obj.type_client == 'PU' %}
                                {% if client_obj.clientaddress_set.all %}
                                    {% for d in client_obj.clientaddress_set.all %}
                                        <div class="row public-update">
                                            <div class="col-sm-9 col-md-9 col-lg-9 pr-0">
                                                <label class="mb-1 mt-2 font-weight-light" for="address_update">Dirección de
                                                    Cliente:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="address_update"
                                                           autocomplete="off"
                                                           name="address" placeholder="Dirección"
                                                           value="{{ d.address }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3 pl-1">
                                                <label class="mb-1 mt-2 font-weight-light"
                                                       for="id_district">Seleccione distrito:</label>
                                                <select id="id_district" name="id_district" class="form-control">

                                                    {% for t in districts %}
                                                        {% if t.id == d.district.id %}
                                                            <option selected
                                                                    value="{{ t.id }}">{{ t.description }}</option>
                                                        {% else %}
                                                            <option value="{{ t.id }}">{{ t.description }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {#                                                <option value="0">Seleccionar</option>#}
{#                                                    {% if d.district.id == '1720' %}#}
{#                                                        <option value="1720">JULIACA</option>#}
{#                                                    {% elif d.district.id == '1702' %}#}
{#                                                        <option value="1702">PUNO</option>#}
{#                                                    {% elif d.district.id == '338' %}#}
{#                                                        <option value="338">AREQUIPA</option>#}
{#                                                    {% elif d.district.id == '1829' %}#}
{#                                                        <option value="1829">TACNA</option>#}
{#                                                    {% elif d.district.id == '752' %}#}
{#                                                        <option value="752">CUSCO</option>#}
{#                                                    {% endif %}#}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row private-update d-none main">
                                            <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                                <label class="mb-1 mt-2 font-weight-light" for="new_address_update">Dirección
                                                    del
                                                    Cliente:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control new-address"
                                                           id="new_address_update"
                                                           autocomplete="off"
                                                           name="address" value="{{ d.address }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                                <label class="mb-1 mt-2 font-weight-light"
                                                       for="id_district2">Seleccione distrito:</label>
                                                <select id="id_district2" name="id_district2"
                                                        class="form-control district">
                                                    <option value="0">Seleccionar</option>
                                                    <option value="1720">JULIACA</option>
                                                    <option value="1702">PUNO</option>
                                                    <option value="338">AREQUIPA</option>
                                                    <option value="1829">TACNA</option>
                                                    <option value="752">CUSCO</option>
                                                    {#                    {% for district in districts %}#}
                                                    {#                        <option value="{{ district.id }}">{{ district.description }}</option>#}
                                                    {#                    {% endfor %}#}
                                                </select>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                                <label class="mb-1 mt-2 font-weight-light"
                                                       for="id-add-new-addressee">&nbsp;</label>
                                                <button type="button" class="btn btn-outline-success btn-block"
                                                        id="id-add-new-addressee">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="row public-update">
                                        <div class="col-sm-9 col-md-9 col-lg-9 pr-0">
                                            <label class="mb-1 mt-2 font-weight-light" for="address_update">Dirección de
                                                Cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="address_update" autocomplete="off"
                                                       name="address" placeholder="Dirección" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 pl-1">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id_district">Seleccione distrito:</label>
                                            <select id="id_district" name="id_district" class="form-control">
                                                <option selected disabled value="0">Seleccionar</option>
                                                <option value="1720">JULIACA</option>
                                                <option value="1702">PUNO</option>
                                                <option value="338">AREQUIPA</option>
                                                <option value="1829">TACNA</option>
                                                <option value="752">CUSCO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row private-update d-none main">
                                        <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                            <label class="mb-1 mt-2 font-weight-light" for="new_address_update">Dirección del
                                                Cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control new-address" id="new_address_update"
                                                       autocomplete="off"
                                                       name="address" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id_district2">Seleccione distrito:</label>
                                            <select id="id_district2" name="id_district2" class="form-control district">
                                                <option selected disabled value="0">Seleccionar</option>
                                                <option value="1720">JULIACA</option>
                                                <option value="1702">PUNO</option>
                                                <option value="338">AREQUIPA</option>
                                                <option value="1829">TACNA</option>
                                                <option value="752">CUSCO</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id-add-new-addressee">&nbsp;</label>
                                            <button type="button" class="btn btn-outline-success btn-block"
                                                    id="id-add-new-addressee">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% elif client_obj.type_client == 'PR' %}
                                {% if client_obj.clientaddress_set %}
                                    {% for d in client_obj.clientaddress_set.all %}
                                        <div class="row private-update main">
                                            <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                                <label class="mb-1 mt-2 font-weight-light" for="new_address_update">Dirección
                                                    del
                                                    Cliente:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control new-address"
                                                           id="new_address_update"
                                                           autocomplete="off"
                                                           name="address" value="{{ d.address }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                                <label class="mb-1 mt-2 font-weight-light"
                                                       for="id_district2">Seleccione distrito:</label>
                                                <select id="id_district2" name="id_district2"
                                                        class="form-control district">
                                                    {% if d.district.id == '1720' %}
                                                        <option value="1720">JULIACA</option>
                                                    {% elif d.district.id == '1702' %}
                                                        <option value="1702">PUNO</option>
                                                    {% elif d.district.id == '338' %}
                                                        <option value="338">AREQUIPA</option>
                                                    {% elif d.district.id == '1829' %}
                                                        <option value="1829">TACNA</option>
                                                    {% elif d.district.id == '752' %}
                                                        <option value="752">CUSCO</option>
                                                    {% endif %}
                                                    {#                    {% for district in districts %}#}
                                                    {#                        <option value="{{ district.id }}">{{ district.description }}</option>#}
                                                    {#                    {% endfor %}#}
                                                </select>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                                <label class="mb-1 mt-2 font-weight-light"
                                                       for="id-add-new-addressee">&nbsp;</label>
                                                <button type="button" class="btn btn-outline-success btn-block"
                                                        id="id-add-new-addressee">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row public-update d-none">
                                            <div class="col-sm-9 col-md-9 col-lg-9 pr-0">
                                                <label class="mb-1 mt-2 font-weight-light" for="address_update">Dirección de
                                                    Cliente:</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control" id="address_update"
                                                           autocomplete="off"
                                                           name="address" placeholder="Dirección"
                                                           value="{{ d.address }}">
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3 pl-1">
                                                <label class="mb-1 mt-2 font-weight-light"
                                                       for="id_district">Seleccione distrito:</label>
                                                <select id="id_district" name="id_district" class="form-control">
                                                    {#                                                <option value="0">Seleccionar</option>#}
                                                    {% if d.district.id == '1720' %}
                                                        <option value="1720">JULIACA</option>
                                                    {% elif d.district.id == '1702' %}
                                                        <option value="1702">PUNO</option>
                                                    {% elif d.district.id == '338' %}
                                                        <option value="338">AREQUIPA</option>
                                                    {% elif d.district.id == '1829' %}
                                                        <option value="1829">TACNA</option>
                                                    {% elif d.district.id == '752' %}
                                                        <option value="752">CUSCO</option>
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="row public-update">
                                        <div class="col-sm-9 col-md-9 col-lg-9 pr-0">
                                            <label class="mb-1 mt-2 font-weight-light" for="address_update">Dirección de
                                                Cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="address_update" autocomplete="off"
                                                       name="address" placeholder="Dirección" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 pl-1">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id_district">Seleccione distrito:</label>
                                            <select id="id_district" name="id_district" class="form-control">
                                                <option selected disabled value="0">Seleccionar</option>
                                                <option value="1720">JULIACA</option>
                                                <option value="1702">PUNO</option>
                                                <option value="338">AREQUIPA</option>
                                                <option value="1829">TACNA</option>
                                                <option value="752">CUSCO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row private-update d-none main">
                                        <div class="col-sm-8 col-md-8 col-lg-8 pr-0">
                                            <label class="mb-1 mt-2 font-weight-light" for="new_address_update">Dirección del
                                                Cliente:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="fas fa-address-card"></i></span>
                                                </div>
                                                <input type="text" class="form-control new-address" id="new_address_update"
                                                       autocomplete="off"
                                                       name="address" value="">
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3 pl-1 pr-1">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id_district2">Seleccione distrito:</label>
                                            <select id="id_district2" name="id_district2" class="form-control district">
                                                <option selected disabled value="0">Seleccionar</option>
                                                <option value="1720">JULIACA</option>
                                                <option value="1702">PUNO</option>
                                                <option value="338">AREQUIPA</option>
                                                <option value="1829">TACNA</option>
                                                <option value="752">CUSCO</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1 col-md-1 col-lg-1 pl-0">
                                            <label class="mb-1 mt-2 font-weight-light"
                                                   for="id-add-new-addressee">&nbsp;</label>
                                            <button type="button" class="btn btn-outline-success btn-block"
                                                    id="id-add-new-addressee">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light p-2">
            <button type="button" class="btn btn-secondary font-weight-light" data-dismiss="modal">Cerrar</button>
            &nbsp;
            <button id="btn-update-client" type="button" class="btn btn-primary font-weight-light">Registrar
            </button>
        </div>

        <div class="mr-3 ml-0" style="
                display: none;
                position: fixed;
                top: 8px;
                left: 5px;
                background: #bdd9f5;
                opacity: 0.5;
                width: 100%;
                {#height: 46em;#}
                !important;bottom: 6px;
                padding-right: 65em;
                padding-left: 55em;
                padding-top: 22em;" id="loading">

        </div>

    </div>
</div>

<script type="text/javascript">

    loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p><strong>Cargando Reniec/Sunat...</strong></p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

    $('#id_type_client_update').trigger('change');

    $(document).on('change', '#id_type_client_update', function () {
        let _type = $(this).val();
        if (_type === 'PU') {
            $('.public-update').removeClass('d-none');
            $('.private-update').addClass('d-none');
            $('.siaf-update').removeClass('d-none');
        } else if (_type === 'PR') {
            $('.public-update').addClass('d-none');
            $('.private-update').removeClass('d-none');
            $('.siaf-update').addClass('d-none');
        } else {
            $('.public-update').addClass('d-none');
            $('.private-update').addClass('d-none');
            $('.siaf-update').addClass('d-none');
        }
    });


    $(document).on('keypress', '#document_number_update', async function (e) {

        if (e.keyCode === 13) {
            e.preventDefault()
            $(this).trigger("enterKey");
            let _document_number = $(this).val();
            let _type_doc = $('#document_type_update').val();

            if (_type_doc === '00') {
                toastr.warning('¡Favor de seleccionar el tipo de documento!', 'Error de Datos');
                return false;
            }
            if (_type_doc === '06' && _document_number.length !== 11) {
                toastr.warning('¡Favor de completar los caracteres requeridos: 11 caracteres para RUC!', 'Error de Datos');
                return false;
            }
            if (_type_doc === '01' && _document_number.length !== 8) {
                toastr.warning('¡Favor de completar los caracteres requeridos: 8 caracteres para DNI', 'Error de Datos');
                return false;
            }

            await searchClientUpdate(_type_doc, _document_number).then((value) => {
                $("#names_update").val(value.result);
                $("#address_update").val(value.address);
                $("#new_address_update").val(value.address);
            }).catch((e) => {
                toastr.error(e.responseJSON.error, 'Error de Datos');
            })
        }
    });

    $(document).on('click', '#btn-nro-client-update', async function (e) {
        console.log("eee")
        let _document_number = $('#document_number_update').val();
        let _type_doc = $('#document_type_update').val();

        if (_type_doc === '00') {
            toastr.warning('¡Favor de seleccionar el tipo de documento!', 'Error de Datos');
            return false;
        }
        if (_type_doc === '06' && _document_number.length !== 11) {
            toastr.warning('¡Favor de completar los caracteres requeridos: 11 caracteres para RUC!', 'Error de Datos');
            return false;
        }
        if (_type_doc === '01' && _document_number.length !== 8) {
            toastr.warning('¡Favor de completar los caracteres requeridos: 8 caracteres para DNI', 'Error de Datos');
            return false;
        }

        await searchClientUpdate(_type_doc, _document_number).then((value) => {
            {#$("#client_id").val(value.pk);#}
            $("#names_update").val(value.result);
            $("#address_update").val(value.address);
            $("#new_address_update").val(value.address);
        }).catch((e) => {
            toastr.error(e.responseJSON.error, 'Error de Datos');
        })
    });

    function searchClientUpdate($type_document, $document_number) {

        $('#loading').html(loader).show()
        return new Promise((resolve, reject) => {
            $.ajax({
                url: '/sales/get_api_client/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'nro_document': $document_number,
                    'type': $type_document
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        resolve(response);
                        $('#loading').hide();
                    }
                },
                error: function (error) {
                    reject(error)
                    //console.log(reject);
                    //console.log(reject(error))
                    $('#loading').hide();
                },
            });
        })
    }


</script>