{% load operations %}
<table class="table table-sm table-striped table-bordered roboto-condensed-regular table-details m-0" pk="{{ bill_obj.id }}">
    <thead>
    <tr class="text-center bg-dark text-white m-0 p-0 text-uppercase">
        <td class="text-center" style="width: 10%">Estado</td>
        <td class="text-center" style="width: 35%">Producto</td>
        <td class="text-center" style="width: 5%">Lote</td>
        <td class="text-center" style="width: 10%">Fecha Venc. Lote</td>
        <td class="text-center" style="width: 5%">Cantidad</td>
        <td class="text-center" style="width: 10%">Tipo Unidad</td>
        <td class="text-center" style="width: 13%">Nota de Crédito</td>
    </tr>
    </thead>
    <tbody>
    {% for dt in details_bill %}
        <tr class="col-form-label bg-secondary text-white p-0 m-0" detail="{{ dt.id }}">
            <td class="text-center">
                {{ dt.get_status_quantity_display }}
                <input type="hidden" value="{{ purchase_obj.id }}">
            </td>
            <td> - {{ dt.product.name }}</td>

            <td class="text-center">
                {% if dt.status_quantity == 'I' %}{{ dt.purchase.batch_number|upper|default:'-'|default_if_none:'-' }}{% endif %}</td>
            <td class="text-center">
                {% if dt.status_quantity == 'I' %}{{ dt.purchase.batch_expiration_date|date:'d-m-Y' }}{% endif %}</td>

            <td class="text-center">{{ dt.quantity|floatformat:0 }}</td>
            <td class="text-center">{{ dt.unit.description }}</td>
            <td class="text-center p-1 credit-note">
                {% if dt.status_quantity == 'D' %}
                    {% if dt.bill.creditnote_set.all %}
                        <span class="text-warning">{{ dt.bill.creditnote_set.all.last.nro_document|upper }}</span><br>
                        Factura: <span class="text-warning">{{ dt.bill.creditnote_set.all.last.bill }}</span>
                    {% else %}
                        <button type="button" class="btn btn-danger btn-sm generate-credit-note" pk="{{ dt.id }}"
                                bill="{{ bill_obj.id }}">Nota de Crédito
                        </button>
                    {% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
