{% load operations %}
{% if inventories %}

<table class="table table-bordered table-sm table-striped roboto-condensed-regular">
    <thead>
        <tr>
            <th scope="col" style="text-transform: uppercase;" colspan="4" class="bg-primary text-center text-white-50 h6">Descripcion</th>
            <th scope="col" style="text-transform: uppercase;" colspan="3" class="bg-secondary text-center text-white-50 h6">Entradas</th>
            <th scope="col" style="text-transform: uppercase;" colspan="3" class="bg-success text-center text-white-50 h6">Salidas</th>
            <th scope="col" style="text-transform: uppercase;" colspan="3" class="bg-danger text-white-50 text-center h6">Saldo</th>
        </tr>
        <tr>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-primary text-black-50 small">Id</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-primary text-black-50 small">Fecha</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-primary text-black-50 small">Movimiento</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-primary text-black-50 small">Tipo de <br>operación</th>

            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-secondary text-black-50 small">Cantidad</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-secondary text-black-50 small">Precio unitario</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-secondary text-black-50 small">Precio total</th>

            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-success text-black-50 small">Cantidad</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-success text-black-50 small">Precio unitario</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-success text-black-50 small">Precio total</th>

            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-danger text-black-50 small">Cantidad restante</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-danger text-black-50 small">Precio restante</th>
            <th scope="col" style="text-transform: uppercase;" class="align-middle text-center table-danger text-black-50 small">Precio total restante</th>
        </tr>
    </thead>
    <tbody>
        <tr class="detail">
        {% for kardex in inventories %}
        <tr class="detail" ps="{{ kardex.product_store.id }}">

            <td class="align-middle text-primary" >{{ kardex.id }}</td>
            <td class="align-middle text-primary text-center" >{{ kardex.create_at|date:"d/m/Y" }}</td>
            <td class="align-middle text-primary text-left small font-weight-bolder"style="font-size: 10px">
                {% if kardex.bill_detail.id %}
                    <span class="text-success">COMPRA</span><br>
                    <span class="text-success">{{ kardex.bill_detail.bill }}</span>
                {% elif kardex.order_detail.id %}
                    <span class="text-success">VENTA</span>
                    <span class="text-success">{{ kardex.order_detail.order.serial }}-{{ kardex.order_detail.order.correlative }}</span>
{#                    {% if kardex.guide_detail.guide.programming is None %}#}
{#                        {% if kardex.guide_detail.guide.guide_motive.type == 'E' %}#}
{#                            NOTA DE ENTRADA:<br>[{{ kardex.guide_detail.guide.get_serial }}-{{ kardex.guide_detail.guide.code }}]#}
{#                        {% elif kardex.guide_detail.guide.guide_motive.type == 'S' %}#}
{#                            NOTA DE SALIDA:<br>[{{ kardex.guide_detail.guide.get_serial }}-{{ kardex.guide_detail.guide.code }}]#}
{#                        {% endif %}#}
{#                    {% endif %}#}
                {% endif %}
            </td>
            <td class="align-middle text-primary" >{{ kardex.get_operation_display }}</td>

            <td class="align-middle text-secondary text-center" >{% if kardex.operation == 'E' %}{{ kardex.quantity|replace_round_separator }}{% else %}0{% endif %}</td>
            <td class="align-middle text-secondary text-right" >{% if kardex.operation == 'E' %}{{ kardex.price_unit|replace_round }}{% else %}0{% endif %}</td>
            <td class="align-middle text-secondary text-right" >{% if kardex.operation == 'E' %}{{ kardex.price_total|replace_round_separator }}{% else %}0{% endif %}</td>

            <td class="align-middle text-success text-center" >{% if kardex.operation == 'S' %}{{ kardex.quantity|replace_round }}{% else %}0{% endif %}</td>
            <td class="align-middle text-success text-right" >{% if kardex.operation == 'S' %}{{ kardex.price_unit|replace_round }}{% else %}0{% endif %}</td>
            <td class="align-middle text-success text-right" >{% if kardex.operation == 'S' %}{{ kardex.price_total|replace_round }}{% else %}0{% endif %}</td>

            <td class="align-middle text-danger text-center" >{{ kardex.remaining_quantity|replace_round_separator }}</td>
            <td class="align-middle text-danger text-right" >{{ kardex.remaining_price|replace_round_separator }}</td>
            <td class="align-middle text-danger text-right" >{{ kardex.remaining_price_total|replace_round_separator }}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>

{% else %}
    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
        <strong>Atencion!</strong> No hay operaciones registradas.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}