{% load operations %}
{% if bill_dict %}
    <div class="card-body p-1 table-responsive small">
        <div class="table-responsive dataTables_wrapper roboto-condensed-regular">
            <table id="purchase-list-with-bill"
                   class="table table-striped table-bordered table-dark text-dark align-content-center table-info"
                   style="font-size: 13px;background-color: #d0e2e9;">
                <thead>
                <tr class="font-weight-bold text-uppercase bg-warning text-center"
                    style="background: #3e6787; font-size: 14px">
                    <th class="th-sm align-middle" style="width: 10%" rowspan="2">Fecha de Registro</th>
                    <th class="th-sm align-middle" style="width: 10%" rowspan="2">Fecha de Expiracion</th>
                    <th class="th-sm align-middle" style="width: 10%" rowspan="2">Número de Factura</th>
                    <th class="th-sm align-middle" style="width: 10%" rowspan="2">Número de Pedido</th>
                    <th class="th-sm align-middle" style="width: 15%" rowspan="2">Proveedor</th>
                    <th class="th-sm align-middle" style="width: 20%" rowspan="2">Direccion de Entrega</th>
                    <th class="th-sm align-middle" style="width: 10%" rowspan="2">Estado</th>
                    <th class="th-sm align-middle" style="width: 10%" rowspan="2">Acciones</th>
                </tr>
                </thead>
                <tbody id="body-finances-bill" style="font-size: 12px;">
                {% for b in bill_dict %}
                    <tr class="text-center details" pk="{{ b.id }}">
                        <td class="align-middle">{{ b.register_date|date:'d-m-Y' }}</td>
                        <td class="align-middle">{{ b.expiration_date|date:'d-m-Y' }}</td>
                        <td class="align-middle text-center font-weight-bold">{{ b.serial }} - {{ b.correlative }}</td>
                        <td class="align-middle text-center">{{ b.order_number|upper }}</td>
                        <td class="align-middle text-center">{{ b.supplier_name }}</td>
                        <td class="align-middle text-center">{{ b.delivery_address }}</td>
                        <td class="align-middle text-center font-weight-bold" {% if b.status_store == 'S' %}
                            style="background-color: #f6dfdf" {% else %}style="background-color: #b2fac4"{% endif %}>
                            {% if b.refund %}
                                {{ b.status_store_text }} <span class="text-danger">(NC)</span>
                            {% else %}
                                {{ b.status_store_text }}
                            {% endif %}
                        </td>
                        <td class="align-middle text-center font-weight-bold">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-sm btn-show-detail btn-outline-success" pk="{{ b.id }}">
                                <i class="fas fa-sort-down fa-lg see-icon"></i> Ver Detalle
                            </button>
                            </div>
                        </td>
                    </tr>
                    <tr class="show-detail" pk="{{ b.id }}" style="display: none">
                        <td colspan="1"></td>
                        <td colspan="5" class="table-details-bill p-0"></td>
                        <td colspan="1"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% else %}
    <div class="card text-center roboto-condensed-regular p-3 border-info m-3">
        <div class="card-header font-weight-bold text-black-50" style="background-color: #88a3b9 ">
            Atencion!
        </div>
        <div class="card-body">
            <h5 class="card-title text-info roboto-condensed-regular font-weight-bold">No existen Facturas...</h5>
        </div>
    </div>
{% endif %}
