{% extends 'home.html' %}

{% block title %}
    Logistica
{% endblock title %}

{% block body %}

    <div class="card m-2 border-dark">
        <div class="card-header bg-info border-dark">
            <h4 class="card-title text-center font-weight-bold roboto-condensed-regular">LOGÍSTICA - LISTADO DE FACTURAS
                EN ALMACEN</h4>
        </div>
        <div class="card-body p-0">
            <div class="" id="purchase-grid-list">{% include "sales/logistic_bill_warehouse_grid.html" %}</div>
        </div>
    </div>

    <div class="modal fade" id="assignment" data-backdrop="static" data-keyboard="false"
         tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

    <div class="modal fade" id="modal-credit-note" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

    <style>
        .input-icon {
            position: relative;
        }

        .input-icon > i {
            position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
        }

        .input-icon > input {
            padding-left: 25px;
            padding-right: 8px;
        }

        .input-icon-right > i {
            right: 0;
        }

        .input-icon-right > input {
            padding-left: 0;
            padding-right: 25px;
            text-align: right;
        }

    </style>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        $(document).on('click', '.btn-show-detail', function () {
            let bill_id = $(this).attr('pk');
            let _table = $(this).closest('td').parent('tr').next('tr').children('td.table-details-bill');
            let _icon = $(this).find('i.see-icon')

            if (_icon.hasClass("fas fa-sort-down fa-lg")) {
                _icon.removeClass('fas fa-sort-down fa-lg');
                _icon.addClass('fas fa-sort-up fa-lg')

                openDetail(bill_id, _table)
            } else {
                _icon.removeClass('fas fa-sort-up fa-lg');
                _icon.addClass('fas fa-sort-down fa-lg');

                closeDetail(_table)
            }
        });

        function openDetail(bill_id, _table) {
            $.ajax({
                url: '/sales/get_details_by_bill/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'bill_id': bill_id},
                success: function (response) {
                    _table.html(response.grid);
                    _table.parent('tr').slideDown("fast");
                },
            });
        }

        function closeDetail($td) {
            $td.parent('tr').slideUp("fast");
        }

        $(document).on('click', '.generate-credit-note', function () {
            let bill_detail_id = $(this).attr('pk');
            let bill_id = $(this).attr('bill');
            $.ajax({
                url: '/sales/bill_credit_note/',
                dataType: 'json',
                type: 'GET',
                data: {'bill_detail_id': bill_detail_id, 'bill_id': bill_id},
                success: function (response) {
                    $('#modal-credit-note').html(response.form);
                    $('#modal-credit-note').modal('show');
                },
                fail: function (response) {
                    toastr.error('Error en la petición', '¡Mensaje!');
                }
            });
        });

    </script>

{% endblock extrajs %}