{% extends 'home.html' %}

{% block title %}
    Logistica
{% endblock title %}

{% block body %}

    <div class="card m-2 border-dark">
        <div class="card-header bg-warning border-dark">
            <h4 class="card-title text-center font-weight-bold roboto-condensed-regular">LOGÍSTICA - LISTADO DE FACTURAS
                POR INGRESAR</h4>
        </div>
        <div class="card-body p-0">
            <div class="card-body p-2">
                <input id="myInput" type="text" placeholder="Ingrese factura a buscar..." aria-label="..."
                       class="form-control form-control-lg text-uppercase">
            </div>
            <div class="" id="purchase-grid-list">{% include "sales/logistic_list_grid.html" %}</div>
        </div>
    </div>

    <div class="modal fade" id="assignment" data-backdrop="static" data-keyboard="false"
         tabindex="-1" role="dialog" aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

    <div class="modal fade" id="modal-credit-note" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle"
         aria-hidden="true"></div>

    <style>
        .input-icon {
            position: relative;
        }

        .input-icon > i {
            position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 25px;
            text-align: center;
            font-style: normal;
        }

        .input-icon > input {
            padding-left: 25px;
            padding-right: 8px;
        }

        .input-icon-right > i {
            right: 0;
        }

        .input-icon-right > input {
            padding-left: 0;
            padding-right: 25px;
            text-align: right;
        }

    </style>

{% endblock body %}

{% block extrajs %}

    <script type="text/javascript">

        $(document).on('click', '.assignment-store', function () {
            let search = $(this).attr('pk');
            $.ajax({
                url: '/sales/assign_to_warehouse/',
                dataType: 'json',
                type: 'GET',
                data: {'pk': search},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#assignment').html(response.form);
                        $('#assignment').modal('show');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error(jqXhr.responseJSON.detalle, '¡MENSAJE!');
                }

            });
        });

        $(document).on('click', '.btn-show-detail', function () {
            let bill_id = $(this).attr('pk');
            let _table = $(this).closest('td').parent('tr').next('tr').children('td.table-details-bill');
            let _icon = $(this).find('i.see-icon')

            if (_icon.hasClass("fas fa-sort-down fa-lg")) {
                _icon.removeClass('fas fa-sort-down fa-lg');
                _icon.addClass('fas fa-sort-up fa-lg')

                openDetail(bill_id, _table)
            } else {
                _icon.removeClass('fas fa-sort-up fa-lg');
                _icon.addClass('fas fa-sort-down fa-lg');

                closeDetail(_table)
            }
        });

        function openDetail(bill_id, _table) {
            $.ajax({
                url: '/sales/get_details_by_bill/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'bill_id': bill_id},
                success: function (response) {
                    _table.html(response.grid);
                    _table.parent('tr').slideDown("fast");
                },
            });
        }

        function closeDetail($td) {
            $td.parent('tr').slideUp("fast");
        }

        $(document).ready(function () {

            $("#myInput").on("keyup", function () {
                $("#purchase-list-with-bill tbody tr td").closest("tr").hide()
                var value = $(this).val().toUpperCase();
                if (value) {
                    $("#purchase-list-with-bill tbody tr td:contains('" + value + "')").each(function (index) {
                        //console.log(index)
                        const parent = $(this).closest("tr")
                        const rowspan = $(this).attr("rowspan")
                        //console.log(rowspan)
                        if (rowspan !== undefined) {
                            var current = parent
                            for (var i = 0; i < rowspan; i++) {
                                console.log(current.text())
                                current.show()
                                current = current.next()
                            }
                        } else {
                            parent.show()
                        }
                    })
                } else {
                    //$("#purchase-list-with-bill tbody tr td").closest("tr").show()
                    $("#purchase-list-with-bill tbody tr").next("tr.details").show()
                }
            });
        });


    </script>

{% endblock extrajs %}