{% load operations %}

<table class="table table-bordered table-sm table-striped roboto-condensed-regular text-uppercase">
    <thead>
        <tr style="background-color: #0B3040" class="text-white">
            <th scope="col" colspan="5" class="align-middle text-center small">DOCUMENTO DE TRASLADO, COMPROBANTE DE PAGO, DOCUMENTO INTERNO O SIMILAR</th>
            <th scope="col" colspan="1" class="align-middle text-center small"></th>
            <th scope="col" colspan="3" class="align-middle text-center small">Entradas</th>
            <th scope="col" colspan="3" class="align-middle text-center small">Salidas</th>
            <th scope="col" colspan="3" class="align-middle text-center small">Saldo</th>
        </tr>
        <tr style="background-color: #0B3040" class="text-white">
            <th scope="col" class="align-middle text-center small">Periodo</th>
            <th scope="col" class="align-middle text-center small">Fecha</th>
            <th scope="col" class="align-middle text-center small">Tipo</th>
            <th scope="col" class="align-middle text-center small">Serie</th>

            <th scope="col" class="align-middle text-center small">Numero</th>
            <th scope="col" class="align-middle text-center small">Tipo de Operacion</th>
            <th scope="col" class="align-middle text-center small">Cantidad</th>

            <th scope="col" class="align-middle text-center small">Costo<br>Unitario</th>
            <th scope="col" class="align-middle text-center small">Costo<br>Total</th>
            <th scope="col" class="align-middle text-center small">Cantidad2</th>

            <th scope="col" class="align-middle text-center small">Costo<br>Unitario3</th>
            <th scope="col" class="align-middle text-center small">Costo<br>Total4</th>
            <th scope="col" class="align-middle text-center small">Cantidad5</th>
            <th scope="col" class="align-middle text-center small">Costo<br>Unitario6</th>
            <th scope="col" class="align-middle text-center small">Costo<br>Total7</th>
        </tr>
    </thead>
    <tbody>
        <tr class="detail">
        {% for kardex in inventories %}
        <tr class="detail" ps="{{ kardex.product_store.id }}">

            <td class="align-middle text-primary" >{{ kardex.id }}</td>
            <td class="align-middle text-primary text-center" >{{ kardex.create_at|date:"d/m/Y" }}</td>
            <td class="align-middle text-primary text-left small font-weight-bolder"style="font-size: 10px">
                {% if kardex.bill_detail.id %}
                    <span class="text-success">COMPRA</span><br>
                    <span class="text-success">{{ kardex.bill_detail.bill }}</span>
                {% elif kardex.order_detail.id %}
                    <span class="text-success">VENTA</span>
                    <span class="text-success">{{ kardex.order_detail.order.serial }}-{{ kardex.order_detail.order.correlative }}</span>
{#                    {% if kardex.guide_detail.guide.programming is None %}#}
{#                        {% if kardex.guide_detail.guide.guide_motive.type == 'E' %}#}
{#                            NOTA DE ENTRADA:<br>[{{ kardex.guide_detail.guide.get_serial }}-{{ kardex.guide_detail.guide.code }}]#}
{#                        {% elif kardex.guide_detail.guide.guide_motive.type == 'S' %}#}
{#                            NOTA DE SALIDA:<br>[{{ kardex.guide_detail.guide.get_serial }}-{{ kardex.guide_detail.guide.code }}]#}
{#                        {% endif %}#}
{#                    {% endif %}#}
                {% endif %}
            </td>
            <td class="align-middle text-primary" >{{ kardex.get_operation_display }}</td>

            <td class="align-middle text-secondary text-center" >{% if kardex.operation == 'E' %}{{ kardex.quantity|replace_round_separator }}{% else %}0{% endif %}</td>
            <td class="align-middle text-secondary text-right" >{% if kardex.operation == 'E' %}{{ kardex.price_unit|replace_round }}{% else %}0{% endif %}</td>
            <td class="align-middle text-secondary text-right" >{% if kardex.operation == 'E' %}{{ kardex.price_total|replace_round_separator }}{% else %}0{% endif %}</td>

            <td class="align-middle text-success text-center" >{% if kardex.operation == 'S' %}{{ kardex.quantity|replace_round }}{% else %}0{% endif %}</td>
            <td class="align-middle text-success text-right" >{% if kardex.operation == 'S' %}{{ kardex.price_unit|replace_round }}{% else %}0{% endif %}</td>
            <td class="align-middle text-success text-right" >{% if kardex.operation == 'S' %}{{ kardex.price_total|replace_round }}{% else %}0{% endif %}</td>

            <td class="align-middle text-danger text-center" >{{ kardex.remaining_quantity|replace_round_separator }}</td>
            <td class="align-middle text-danger text-right" >{{ kardex.remaining_price|replace_round_separator }}</td>
            <td class="align-middle text-danger text-right" >{{ kardex.remaining_price_total|replace_round_separator }}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>