{% load operations %}
{% if products %}
    <div class="card roboto-condensed-regular">
        <div class="card-header pt-0 pb-0">
            <label class="col-form-label col-form-label-lg font-weight-bold">LISTADO DE PRODUCTOS</label>
        </div>
        <div class="card-body overflow-auto pl-0 ml-1 pr-0 mr-1">
            <div class="container-fluid pl-0 ml-1 pr-0 mr-1">
                <div class="row text-white m-0" style="background-color: #3e6787">
                    <div class="col-1 border py-3 d-flex justify-content-center align-items-center">Codigo</div>
                    <div class="col border py-3 d-flex justify-content-center align-items-center">
                        Nombre
                    </div>
                    <div class="col-1 border py-3 d-flex justify-content-center align-items-center">Categoria</div>
                    <div class="col-1 border py-3 d-flex justify-content-center align-items-center">Detalles</div>
                    <div class="col-3 border d-flex flex-column">
                        <div class="row flex-fill">
                            <div class="col d-flex justify-content-center align-items-center">Stock en sedes</div>
                        </div>
                        <div class="row flex-fill">
                            <div class="col-4 border-top d-flex justify-content-center align-items-center">Sede</div>
                            <div class="col-4 border-left border-top d-flex justify-content-center align-items-center">
                                Almacen
                            </div>
                            <div class="col-4 border-left border-top d-flex justify-content-center align-items-center">
                                Stock
                            </div>
{#                            <div class="col-2 border-left border-top d-flex justify-content-center align-items-center">#}
{#                                Kardex#}
{#                            </div>#}
                        </div>
                    </div>
                    <div class="col-2 border d-flex flex-column">
                        <div class="row flex-fill">
                            <div class="col d-flex justify-content-center align-items-center">Unidades</div>
                        </div>
                        <div class="row flex-fill">
                            <div class="col-3 border-left border-top d-flex justify-content-center align-items-center">
                                Unidad
                            </div>
                            <div class="col-3 border-left border-top d-flex justify-content-center align-items-center text-center">
                                Precio Compra
                            </div>
                            <div class="col-4 border-left border-top d-flex justify-content-center align-items-center text-center">
                                Precio Venta
                            </div>
                            <div class="col-2 border-left border-top d-flex justify-content-center align-items-center">
                                C/Min
                            </div>
                        </div>
                    </div>
                    <div class="col-1 border py-3 d-flex justify-content-center align-items-center">Acciones</div>
                </div>
            </div>
            <div class="container-fluid table-like pl-0 ml-1 pr-0 mr-1 bg-light">
                {% for product in products %}
                    <div class="row w-100 border-top border-dark m-0">
                        <div class="col-1 border id d-flex justify-content-center align-items-center"
                             data-sort-value="original-order">{{ product.code|default:'-'|default_if_none:'-'|upper }}</div>
                        <div class="col border text-break search-field name d-flex justify-content-center align-items-center font-weight-bold">{{ product.name }}</div>
                        <div class="col-1 border text-break search-field category d-flex justify-content-center align-items-center">{{ product.product_subcategory.product_category.name }}</div>
                        <div class="col-1 border details">
                            <address class="text-left">
                                <strong>Codigo: {{ product.code|default:'-'|default_if_none:'-'|upper }}</strong><br>
{#                                Stock Minimo: <i>{{ product.stock_min }}</i><br>#}
{#                                Stock Maximo: <i>{{ product.stock_max }}</i><br>#}
                                Familia: {{ product.product_family.name }}<br>
                                Marca: {{ product.product_brand.name }}<br>
                                Peso: {{ product.weight|safe }} gr<br>
                            </address>
                        </div>
                        <div class="col-3 border stock d-flex flex-column">
{#                            {% for product_store in product.productstore_set.all %}#}
{#                                <div class="row flex-fill">#}
{#                                    <div class="col-4 border-top d-flex align-items-center text-left">{{ product_store.subsidiary_store.subsidiary.name }}</div>#}
{#                                    <div class="col-4 border-left border-top d-flex justify-content-center align-items-center">{{ product_store.subsidiary_store.name }}</div>#}
{#                                    <div class="col-4 border-left border-top d-flex justify-content-center align-items-center">{{ product_store.stock|safe }}</div>#}
{#                                    <div class="col-2 border-left border-top d-flex justify-content-center align-items-center">{{ product_store.last_remaining_quantity|default:"-"|safe }}</div>#}
{#                                </div>#}
{#                            {% endfor %}#}
                            {% for product_store in product.productstore_set.all %}
                                <div class="row flex-fill">
                                    <div class="col-4 border-top d-flex align-items-center text-left">{{ product_store.subsidiary_store.subsidiary.name }}</div>
                                    <div class="col-4 border-left border-top d-flex justify-content-center align-items-center">{{ product_store.subsidiary_store.name }}</div>
                                    <div class="col-4 border-left border-top d-flex flex-column">
                                    {% for product_detail in product.productdetail_set.all %}
                                        <div class="row flex-fill">
                                            <div class="col-12 d-flex justify-content-center align-items-center border-top">
                                               {{ product_store.stock|safe|divide_stock:product_detail.quantity_minimum|safe }} ({{ product_detail.unit }})
                                            </div>
{#                                            <div class="col-6 d-flex justify-content-center align-items-center">#}
{#                                               {{ product_detail.unit }}#}
{#                                            </div>#}
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-2 border units d-flex flex-column">

                            {% for product_detail in product.productdetail_set.all %}
                                <div class="row flex-fill">
                                    <div class="col-3 border-left border-top d-flex justify-content-center align-items-center">{{ product_detail.unit.description }}</div>
                                    <div class="col-3 border-left border-top d-flex justify-content-center align-items-center">{{ product_detail.price_purchase|safe }}</div>
                                    <div class="col-4 border-left border-top d-flex justify-content-center align-items-center">{{ product_detail.price_sale|safe }}</div>
                                    <div class="col-2 border-left border-top d-flex justify-content-center align-items-center">{{ product_detail.quantity_minimum|safe }}</div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-1 border update d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Opciones
                                </button>
                                <div class="dropdown-menu bg-danger text-light">
                                    <a class="dropdown-item"
                                       onclick="showModalEdition('{% url 'sales:json_product_edit' product.id %}')">
                                        <i class="fas fa-edit"></i> Editar</a>
                                    <a class="dropdown-item quantity-on-hand" pk="{{ product.id }}">
                                        <i class="fas fa-sync-alt"></i> Inventario inicial (Cantidad a la mano)</a>
                                    <a class="dropdown-item get-kardex" pk="{{ product.id }}">
                                        <i class="fas fa-sync-alt"></i> Ver kardex</a>
                                    <a class="dropdown-item get-product-detail" pk="{{ product.id }}">
                                        <i class="fas fa-sync-alt"></i> Ver presentaciones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <!-- Card -->
    </div>



{% else %}
    <h1>No existen productos registrados</h1>
{% endif %}

<script type="text/javascript">


</script>
