{% extends 'home.html' %}
{% load static %}
{% load operations %}
{% block title %}
    Ventas
{% endblock title %}

{% block body %}

    {% if error != "" %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Inconcebible!</h4>
            <p>{{ error }}</p>
            <hr>
        </div>
    {% else %}
        <div class="card-group" style="display: flex;">
            <div class="card p-0 pl-2 pt-2" style="flex: 0 0 46%;" id="tab-two">
                {% include "sales/sales_grid_tab1.html" %}
            </div>
            <div class="card p-0 mt-2" style="flex: 0 0 54%;">

                <div id="product_list_sales">

                    <div class="card text-center roboto-condensed-regular p-3 border-info m-3">
                        <div class="card-header font-weight-bold text-black-50" style="background-color: #88a3b9 ">
                            Atencion!
                        </div>
                        <div class="card-body">
                            <h5 class="card-title text-info roboto-condensed-regular font-weight-bold">Ingrese un
                                producto
                                para comenzar la búsqueda...</h5>
                        </div>
                    </div>
                </div>

                <div class="loader-container col-auto" id="loader-product" style="display: none;">
                    <div class="loader"></div>
                </div>
            </div>
        </div><!-- card-group -->
    {% endif %}

    <div class="modal fade" id="modal-batch" tabindex="-1" role="dialog"
         aria-labelledby="ModalHelpTitle" data-backdrop="static" data-keyboard="false"
         aria-hidden="true"></div>


    <style>
        /* Chrome, Safari, Edge, Opera */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>

{% endblock body %}


{% block extrajs %}

    <script type="text/javascript">

        loader = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p><strong>Cargando Reniec/Sunat...</strong></p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        loader2 = '<div class="container">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="loader">' +
            '<p>Cargando Comprobante...</p>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '<div class="loader-inner"></div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

        $("#id-nro-document-sender").attr('maxlength', 8);
        sessionStorage.setItem('document', '01');
        sessionStorage.setItem('BillType', 'V');

        $(document).on('click', '#btn-new-form', function () {
            window.location.href = '/sales/sales_list';
        });

        if ($("#radio2").is(':checked')) {
            $("#document_type_sender").attr('disabled', 'disabled');
            $("#id_client_name").removeAttr('disabled');
            $("#document_type_sender").find('option[value]').removeAttr('selected');
            $("#document_type_sender").find('option[value="0"]').attr('selected', 'selected');
            $("#id-nro-document-sender").attr('readonly', true);
            $("#document_type_sender").trigger('change');
        }

        $("#radio1,#radio2").click(function () {
            if ($("#radio1").is(':checked')) {
                $("#person-names").val('');
                $("#person-names").attr('disabled', 'disabled');
                $("#document_type_sender").removeAttr('disabled');
                $("#id-nro-document-client").attr('readonly', false);
                $('#document_type_sender').val(0);
                $("#client-id").val('');
                $("#client_address").val('');
                $("#client_name").val('');

            } else if ($("#radio2").is(':checked')) {
                $("#document_type_sender").attr('disabled', 'disabled');
                $("#document_type_sender").find('option[value]').removeAttr('selected');
                $("#document_type_sender").find('option[value="0"]').attr('selected', 'selected');
                $("#document_type_sender").trigger('change');
                $("#person-names").removeAttr('disabled');
                $("#client-id").val('');
                $("#client_address").val('');
                $("#client_name").val('');
                $("#id-nro-document-client").val('');
                $("#id-nro-document-client").attr('readonly', true);
            }
        });

        $('#transaction_payment_type').change(function () {
            let type = $('#transaction_payment_type').val();
            if (type === 'E') {
                $('#cash').css('display', '');
                $('#deposit').css('display', 'none');
                $('#id_cash').trigger('change');
                $('#credit').css('display', 'none');
            } else if (type === 'D') {
                $('#deposit').css('display', '');
                $('#cash').css('display', 'none');
                $('#credit').css('display', 'none');
            } else if (type === 'C') {
                $('#credit').css('display', '');
                $('#cash').css('display', 'none');
                $('#deposit').css('display', 'none');
            } else if (type === '0') {
                $('#credit').css('display', 'none');
                $('#cash').css('display', 'none');
                $('#deposit').css('display', 'none');
            }
        });

        $(document).on('change', '#document_type_sender', function () {
            let _val = $(this).val();
            if (_val === '01') {
                $("#id-nro-document-sender").attr('maxlength', 8);
                sessionStorage.setItem('document', '01')
                $('#id-nro-document-sender').val('');
                $('#id_sender').val('');
                $('#id-address-line').css('display', 'none');
                $('#id_address').val('')
                {#$('#id_address_sender').val('');#}
            } else if (_val === '06') {
                $("#id-nro-document-sender").attr('maxlength', 11);
                sessionStorage.setItem('document', '06')
                $('#id-nro-document-sender').val('');
                $('#id_sender').val('');
                $('#id-address-line').css('display', '');
                $('#id_address').val('')
            } else if (_val === '04' || _val === '07' || _val === '00') {
                $("#id-nro-document-sender").attr('maxlength', 15);
                sessionStorage.setItem('document', '')
                $('#id_sender').val('');
                $('#id-nro-document-sender').val('');
                $('#id-address-line').css('display', 'none');
                $('#id_address').val('')
            }
        });

        $('#id-nro-document-client').keypress(function (e) {

            if (e.keyCode === 13) {
                e.preventDefault()
                $(this).trigger("enterKey");

                if ($('#document_type_sender').val() === '0' || $('#document_type_sender').val() === null) {
                    toastr.warning('¡Favor seleecionar un tipo de documento!', 'Error de Datos');
                    return false;
                }

                let _document_number = $('#id-nro-document-client').val();
                if ((sessionStorage.getItem('document') === '01') && (_document_number.length !== 8)) {
                    toastr.warning('¡Favor de completar los caracteres requeridos: 8 caracteres para DNI', 'Error de Datos');
                    return false;
                } else {
                    if ((sessionStorage.getItem('document') === '06') && (_document_number.length !== 11)) {
                        toastr.warning('¡Favor de completar los caracteres requeridos: 11 caracteres para RUC!', 'Error de Datos');
                        return false;
                    }
                }

                $('#loading-666').html(loader).show()

                $.ajax({
                    url: '/sales/get_name_business/',
                    async: true,
                    dataType: 'json', // for response
                    type: 'GET',
                    data: {
                        'nro_document': $('#id-nro-document-client').val(),
                        'type': $('#document_type_sender').val()
                    },
                    contentType: 'application/json;charset=UTF-8',
                    headers: {"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (response, textStatus, xhr) {
                        if (xhr.status === 200) {
                            toastr.success(response.message, '¡Bien hecho!');
                            $("#client_name").val(response.result);
                            $("#client-id").val(response.client_id);
                            $("#client_address").val(response.address);
                            $('#loading-666').hide();
                        }
                    },
                    error: function (jqXhr, textStatus, xhr) {
                        if (jqXhr.status === 500) {
                            toastr.error(jqXhr.responseJSON.error, '¡Error de Consulta!');
                        } else {
                            if (textStatus === 'timeout') {
                                toastr.error('Failed from timeout', '¡Error de Consulta!');
                            } else {
                                console.log(" STATUS: " + xhr + " " + textStatus);
                            }
                        }
                        $('#loading-666').hide();
                    },
                });
                return false;
            }
        });

        function hasRowDetails() {
            var _response = false;
            if ($("#sales-details tr").length > 0) {
                _response = true;
            }
            return _response;
        }

        function calculateTotal() {
            var sum = 0;
            $('#sales-details tr td.item-total').each(function () {
                let total_detail = Number($(this).find('input.input-total-detail').val());
                sum = sum + total_detail;
            });
            $('#sum-total').val(sum.toFixed(2));
        }

        function deleteItem($product, $unit) {
            //let quantity_delete = 0
            //let quantity_min = 0
            let rows = $('#sales-details').find("tr[product=" + $product + "][pu=" + $unit + "]");
            let quantity_delete = parseFloat(rows.find('td.item-quantity input.input-quantity').val());
            let quantity_min = parseFloat(rows.find('td.item-unit').attr('unit_min'));
            $('#sales-details').find("tr[product=" + $product + "][pu=" + $unit + "]").remove();
            let _row = $('table#product-data-grid tbody tr[product=' + $product + ']');
            //let old_stock = parseFloat(_row.find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary[store_="V"] td.item-stock').text());
            //_row.find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary[store_="V"] td.item-stock').text((old_stock + (quantity_delete * quantity_min)).toFixed(2));
            let quantity_minimum_calculate = quantity_min * quantity_delete
            _row.find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary[store_="V"] td.item-stock div.row').each(function () {
                let current_stock = $(this).find('span.current-stock').text();
                let quantity_minimum = $(this).attr('qm');
                let difference = quantity_minimum_calculate / quantity_minimum
                let new_stock = Number(current_stock) + Number(difference)
                $(this).find('span.current-stock').text(new_stock.toFixed(2))
            })
            calculateTotal();
            counterStrike();
        }

        function counterStrike() {
            var index = 1;
            $('#sales-details tr').each(function () {
                $(this).attr('i', index);
                $(this).children('td:first').text(index);
                index++;
            });
        }

        $(document).on('click', 'table#product-data-grid tbody tr td table.table-prices tbody tr td.prices-list div button', async function () {
            let value = $(this).attr('pk');
            let price = parseFloat($(this).attr('ip'));
            let tr = $(this).parent('div').parent('div').parent('td').parent('tr');
            let unit_id = tr.attr('unit');
            let name_unit = tr.attr('unitname');
            let product_id = tr.attr('product');
            let product_brand = tr.attr('product_brand');
            let name_product = tr.attr('productname');
            let quantity_minim = parseFloat(tr.attr('quantity_minum'));
            let quantity = parseFloat(tr.find('td.quantity-sales-price input.quantity-select').val());
            let stock = parseFloat(tr.parent('tbody').parents('table.table-prices').parent('td').parent('tr').find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary[store_="V"] td.item-stock').text());
            let store_id = tr.parent('tbody').parents('table.table-prices').parent('td').parent('tr').find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary').attr('store_id');
            let tr_table_stock = tr.parent('tbody').parents('table.table-prices').parent('td').parent('tr').find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary');
            let batch_id = tr_table_stock.find('td.item-batch input.batch-id').val();
            let batch_number = tr_table_stock.find('td.item-batch input.number-batch').val();

            if (isNaN(quantity)) {
                toastr.warning('Ingrese la cantidad del producto');
                tr.find('td.quantity-sales-price input.quantity-select').val('')
                return false
            }
            if (quantity === '' || quantity === 0) {
                toastr.warning('Ingrese la cantidad del producto');
                tr.find('td.quantity-sales-price input.quantity-select').val('')
                return false
            }
            if (quantity < 0) {
                toastr.warning('La cantidad debe ser un valor positivo');
                tr.find('td.quantity-sales-price input.quantity-select').val('')
                return false
            }
            if ($("#sales-details tr[product=" + product_id + "][pu=" + unit_id + "]").length) {
                let $msg = 'El producto con este tipo de unidad ya se encuentra en el registro.';
                toastr.warning($msg, 'Mensaje');
                tr.find('td.quantity-sales-price input.quantity-select').val('')
                return false;
            }
            let _flag_stock = await check_stock(quantity, product_id, store_id)
            //console.log("unit_id", unit_id)
            //console.log("name_unit", name_unit)
            //console.log("quantity", quantity)
            //console.log("quantity_minim", quantity_minim)
            let quantity_minimum_calculate = quantity_minim * quantity
            //console.log("quantity_minimum_calculate", quantity_minimum_calculate)
            if (_flag_stock === true) {
                addDetail(unit_id, product_id, quantity, price, name_unit, unescape(name_product), store_id, quantity_minim, product_brand, batch_id, batch_number);
                //tr.parent('tbody').parents('table.table-prices').parent('td').parent('tr').find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary[store_="V"] td.item-stock').text((stock - quantity * quantity_minim).toFixed(2));
                tr.parent('tbody').parents('table.table-prices').parent('td').parent('tr').find('td.td-table-stock table.table-stock-headquarters tbody tr.my-subsidiary[store_="V"] td.item-stock div.row').each(function () {
                    let current_stock = $(this).find('span.current-stock').text();
                    let quantity_minimum = $(this).attr('qm');
                    let new_stock = current_stock - (quantity_minimum_calculate / quantity_minimum)
                    $(this).find('span.current-stock').text(new_stock.toFixed(2))
                })
            } else {
                toastr.warning('STOCK INSUFICIENTE EN ALMACEN');
            }
            tr.find('td.quantity-sales-price input.quantity-select').val('');
        });


        function addDetail(a, b, c, d, e, f, g, h, i, batch_id, batch_number) {

            let _unit_id = a
            let _product_id = b
            let _quantity = Number(c)
            let _price = parseFloat(d)
            let _total = _quantity * _price
            let _unit = e
            let _product_name = escapeHtml(f)
            let _product_store = g
            let _quantity_minim = parseFloat(h)

            //console.log(_quantity)
            //console.log(_price.toFixed(2))

            $('#sales-details').append(
                '<tr  guide_detail_id="' + '' + '" detail_id="' + 'NaN' + '" product="' + _product_id + '" store_p="' + _product_store + '" pu="' + _unit_id + '" batch="' + batch_id + '" class="text-uppercase small text-center" style="font-size: 14px;">' +
                '<td class="align-middle">' + '</td>' +
                '<td class="align-middle text-left item-product">' + '<input type="text" class="form-control form-control-sm input-product-name" value="' + _product_name + '">' + '</td>' +
                '<td class="align-middle item-quantity">' + '<input type="text" class="form-control form-control-sm text-right input-quantity" disabled value="' + _quantity.toFixed(2) + '">' + '</td>' +
                '<td class="align-middle item-unit" pu="' + _unit_id + '" unit_min="' + _quantity_minim + '">' + _unit + '</td>' +
                '<td class="align-middle item-batch" batch="' + batch_id + '">' + batch_number + '</td>' +
                '<td class="align-middle item-price">' + '<input type="text" class="form-control form-control-sm text-right input-price" value="' + _price.toFixed(2) + '">' + '</td>' +
                '<td class="align-middle item-total">' + '<input type="text" class="form-control form-control-sm text-right input-total-detail" value="' + _total.toFixed(2) + '">' + '</td>' +
                '<td>' + '<button type="button" onclick="deleteItem(' + _product_id + ',' + _unit_id + ')" class="btn btn-danger btn-sm">' +
                '<i class="fa fa-trash"></i></button>' + '</td>' +
                '</tr>'
            );
            calculateTotal();
            counterStrike();
        }

        function escapeHtml(text) {
            var map = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#039;'
            };

            return text.replace(/[&<>"']/g, function (m) {
                return map[m];
            });
        }

        $(document).on('keypress', '#custom-search-product', function (e) {

            $('#product_list_sales').empty();
            $('#custom-search-barcode').val(' ')

            if (e.keyCode === 13) {

                e.preventDefault()

                $(this).trigger("enterKey");

                let _product_name = $(this).val().trim();

                if (_product_name.length === 0) {
                    toastr.warning('¡Favor de ingresar una busqueda', 'Error de Datos');
                    return false;
                }
                getProduct(_product_name, '')

            }
        });

        function getProduct($product_name, $barcode) {

            $('div#loader-product').css('display', '');
            $.ajax({
                url: '/sales/get_product_grid/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'value': $product_name,
                    'barcode': $barcode
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response.message, '¡Bien hecho!');
                        {#$('#product-grid-list').html(response.grid);#}
                        $('#product_list_sales').html(response.grid).slideDown();
                        $('div#loader-product').css('display', 'none');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error de Consulta!');
                    } else {
                        if (textStatus === 'timeout') {
                            toastr.error('Failed from timeout', '¡Error de Consulta!');
                        } else {
                            console.log(" STATUS: " + xhr + " " + textStatus);
                        }
                    }
                }
            });
        }

        $(document).on('keyup', '#sales-details tr td.item-price input.input-price', function (e) {
            let val = Number($(this).val());
            let row = $(this).parent('td.item-price').parent('tr');
            let quantity = Number(row.find('td.item-quantity input.input-quantity').val());
            {#console.log('quantity',quantity)#}
            {#console.log('val',val)#}
            if (isNaN(val)) {
                $(this).val('')
            } else {
                let total_detail = quantity * val
                if (val !== '') {
                    row.find('td.item-total input.input-total-detail').val((total_detail).toFixed(2))
                    calculateTotal();
                }
            }
        });

        $(document).on('keyup', '#sales-details tr td.item-quantity input.input-quantity', function (e) {
            let val = Number($(this).val());
            let row = $(this).parent('td.item-quantity').parent('tr');
            let price = Number(row.find('td.item-price input.input-price').val());
            if (isNaN(val)) {
                $(this).val('')
            } else {
                if (val !== '') {
                    row.find('td.item-total input.input-total-detail').val((price * val).toFixed(2))
                    calculateTotal();
                }
            }
        });

        $(document).on('keyup', '#sales-details tr td.item-total input.input-total-detail', function (e) {
            let val = Number($(this).val());
            {#console.log('total', val)#}
            let row = $(this).parent('td.item-total').parent('tr');
            let quantity = Number(row.find('td.item-quantity input.input-quantity').val());
            let price = Number(row.find('td.item-price input.input-price').val());
            {#console.log('quantity', quantity)#}

            let price_unit = val / quantity
            {#console.log('price_unit', price_unit)#}
            row.find('td.item-price input.input-price').val((price_unit).toFixed(2))
            calculateTotal();

        });

        $(document).on('change', '#document_type_client', async function () {
            let _val = $(this).val();
            if (_val === '01') {
                $("#document_number_client").attr('maxlength', 8);
                sessionStorage.setItem('client-document', '01')
                $('#document_number_client').val('');
            } else if (_val === '06') {
                $("#document_number_client").attr('maxlength', 11);
                sessionStorage.setItem('client-document', '06')
                $('#document_number_client').val('');
            } else if (_val === '00') {
                $("#document_number_client").attr('maxlength', 15);
                sessionStorage.setItem('client-document', '')
                let new_n_order = await get_last_number_others();
                $('#document_number_client').val(new_n_order);
            }
        });

        var serial_set = [
            {% for s in series %}
                [
                    '{{ s.id }}',
                    '{{ s.serial }}',
                    '{{ s.correlative }}',
                    '{{ s.type_document }}'
                ],
            {% endfor %}
        ]

        $(document).on('change', '#type_document', async function () {
            let _val = $(this).val();
            let filteredSerials = serial_set.filter(function (item) {
                return item[3] === _val;
            });
            let $idSerial = $('#id_serial');
            $idSerial.empty();
            $idSerial.append('<option selected disabled value="0">Seleccione</option>');
            filteredSerials.forEach(function (item) {
                $idSerial.append(new Option(item[1], item[0]));
            });
        });

        $(document).on('change', '#id_serial', async function () {
            let _val = $('#id_serial option:selected').text();
            $.ajax({
                url: '/sales/get_correlative/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {'serial': _val},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        $('#correlative').val(response.correlative)
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error de Consulta!');
                    } else {
                        if (textStatus === 'timeout') {
                            toastr.error('Failed from timeout', '¡Error de Consulta!');
                        } else {
                            console.log(" STATUS: " + xhr + " " + textStatus);
                        }
                    }
                }
            });
        });

        $("#document_number_client").attr('maxlength', 8);
        sessionStorage.setItem('client-document', '01')

        async function check_stock(_quantity, _product_id, store_id) {

            let _flag_stock = true

            await $.ajax({
                url: '/sales/check_stock/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'quantity': _quantity,
                    'product': _product_id,
                    'store_id': store_id
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        {#console.log(response.flag)#}
                        _flag_stock = response.flag;
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error('¡ERROR!');
                }
            });
            return _flag_stock
        }

        async function get_last_number_others() {

            let new_n_order = 0;

            await $.ajax({
                url: '/sales/get_last_id_type_others/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        new_n_order = response.new_n_order;
                        //console.log(new_n_order)
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error('¡ERROR!');
                }
            });
            return new_n_order
        }

        new Autocomplete('#autocomplete-client', {
            search: input => {
                const url = `/buys/get_client/?search=${encodeURI(input.toUpperCase())}`

                return new Promise(resolve => {
                    if (input.length < 3) {
                        //$('#person-number').val('')
                        //$('#order-number').val('')
                        return resolve([])
                    }
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.client)
                        })
                })
            },
            renderResult: (result, props) => {
                let group = ''
                if (result.index % 3 === 0) {
                    group = '<li class="group">Group</li>'
                }
                return `
                ${group}
                <li ${props}>
                 <div class="h6" style="font-family: roboto_condensed_regular">
                    ${result.names}
                 </div>
                 <div class="wiki-snippet text-black">
                    Tipo: ${result.type_client_display}
                  </div>
                </li>
                `
            },
            getResultValue: result => result.names,
            onSubmit: result => {
                if (result) {
                    let client_id = result.id;
                    let type_client = result.type_client;
                    let _address_dict = result.address;
                    $('#client-id').val(client_id);
                    $('#client_name').val(result.names);
                    $('#client_address').val(result.last_address);

                } else {
                    toastr.warning('Seleccione un cliente valido', 'Error de llenado');
                    return false;
                }

            }
        });

        function searchSale() {
            let order_id = $('#search_sale').val();
            $.ajax({
                url: '/sales/get_order_by_id/',
                async: true,
                dataType: 'json',
                type: 'GET',
                data: {'order_id': order_id},
                success: function (response) {
                    if (response.success) {
                        $(".sale").addClass('d-none');
                        $(".sale-store").removeClass('d-none');
                        $("#order_id").val(response.order_id);
                        $('#transaction_payment_type').val(response.transaction_payment_type)
                        $("#transaction_payment_type").trigger('change');
                        let Detail = response['detail'];
                        //console.log(Detail)
                        $('table#id-table-detail-order tbody#sales-details').empty();
                        Detail.forEach(
                            e =>
                                addOrderDetail(e.id, e.product_id, e.product_name, e.quantity, e.price, e.unit_id, e.unit_name, e.unit_min, e.batch_id, e.batch_number)
                        )
                    } else {
                        toastr.error(response.bill, response.message);

                    }
                },
                fail: function (response) {
                    toastr.error("error");
                }
            });
        }

        function addOrderDetail(detail, product_id, product_name, quantity, price, unit, unit_name, unit_min, batch_id, batch_number) {

            let _total = quantity * price
            let disabledAttr = detail ? 'disabled' : '';

            $('#sales-details').append(
                '<tr detail_id="' + detail + '" product="' + product_id + '" unit="' + unit + '" class="text-uppercase small text-center" style="font-size: 14px;">' +
                '<td class="align-middle">' + '</td>' +
                '<td class="align-middle text-left item-product">' + '<input type="text" class="form-control form-control-sm input-product-name"  value="' + product_name + '" ' + disabledAttr + '>' + '</td>' +
                '<td class="align-middle item-quantity">' + '<input type="number" class="form-control form-control-sm text-right input-quantity" value="' + Number(quantity).toFixed(0) + '" ' + disabledAttr + '>' + '</td>' +
                '<td class="align-middle item-unit" unit="' + unit + '" unit_min="' + unit_min + '">' + unit_name + '</td>' +
                '<td class="align-middle item-unit" batch_id="' + batch_id + '">' + batch_number + '</td>' +
                '<td class="align-middle item-price">' + '<input type="number" class="form-control form-control-sm text-right input-price" value="' + Number(price).toFixed(2) + '">' + '</td>' +
                '<td class="align-middle item-total">' + '<input type="number" class="form-control form-control-sm text-right input-total-detail" value="' + Number(_total).toFixed(2) + '">' + '</td>' +
                //'<td>' + '<button type="button" onclick="deleteItem(' + product_id + ',' + unit + ')" class="btn btn-danger btn-sm">' +
                '<i class="fa fa-trash"></i></button>' + '</td>' +
                '</tr>'
            );
            calculateTotal();
            counter();
        }

        function counter() {
            let index = 1;
            $('#sales-details tr').each(function () {
                $(this).attr('i', index);
                $(this).children('td:first').text(index);
                index++;
            });

        }

        $(document).on('keypress', '#order-form', function (event) {
            if (event.which === 13 || event.keyCode === 13) {
                event.preventDefault();
                return false;
            } else return true;
        });

        $('#order-form').submit(function (e) {
            e.preventDefault();

            let _transaction_payment_type = $('#transaction_payment_type')
            if ($('#client-id').val() === '') {
                toastr.warning('!Seleccione un cliente o busquelo por Numero de documento¡', 'Error de Llenado');
                return false;
            }
            if (_transaction_payment_type.val() === '0') {
                toastr.warning('¡Selecione el tipo de pago!', 'Mensaje');
                return false;
            }
            if (_transaction_payment_type.val() === 'E') {
                if ($('#id_date').val() === '') {
                    toastr.error('No puede realizar ventas sin aperturar la caja', 'Mensaje');
                    return false;
                }
            }
            if (_transaction_payment_type.val() === 'C') {
                if (hasRowDetailsCredits() === false) {
                    toastr.warning('Registre las cuotas de pago y la condicion de pago');
                    return false
                }
            }
            /*if (($('#type').val() === 'E') && ($('#id_serie').val() === '0')) {
                toastr.warning('¡Favor de completar la serie!', 'Mensaje');
                $('#id_serie').focus();
                return false;
            }*/
            if (hasRowDetails() === false) {
                toastr.warning('¡Elija los productos..!', 'Mensaje');
                return false;
            }

            /*if ($('#id-type-order').val() === 'T') {
                if ($('#id_date_completion').val() === '' || $('#id_place_delivery').val() === '' || $('#id_type_quotation').val() === '0' || $('#id_name_type_quotation').val() === '' || $('#id_observation').val() === '') {
                    toastr.warning('Complete los campos de la cotización');
                    return false;
                }
            }*/

            /*if ($('#user_id').val() === '0') {
                toastr.warning('Seleccione el Usuario');
                return false;
            }*/

            /*let sales = {
                "Details": [],
                "Client": $('#id-client-sender').val(),
                "Address": $('#id_address').val(),
                "SaleTotal": $('#sum-total').val(),
                "TransactionPaymentType": $('#transaction_payment_type').val(),
                "Distribution": $('#id_distribution').val(),
                "OrderType": 'V',
                "Serie": $('#id_serie').val(),
                "BillType": sessionStorage.BillType,
                "Date": $('#date').val(),
                "Demo": ($('#demo').is(':checked')) ? 1 : 0,
                "type_payment": $('#transaction_payment_type').val(),
                "cash": $('#id_cash').val(),
                "date_cash": $('#id_date').val(),
                "cash_deposit": $('#id_cash_deposit').val(),
                "cod_operation": $('#code-operation').val(),
                "validity_date": $('#id_validity_date').val(),
                "date_completion": $('#id_date_completion').val(),
                "place_delivery": $('#id_place_delivery').val(),
                "type_quotation": $('#id_type_quotation').val(),
                "observation": $('#id_observation').val(),
                "name_type_quotation": $('#id_name_type_quotation').val(),
                "order_sale_quotation": Number($('#id_order_sale_quotation').val()),
                "userID": $('#user_id').val()
            };*/

            let detailOrder = []
            let creditDict = []

            $("#sales-details tr").each(function () {
                let _quantity = $(this).find("td.item-quantity input.input-quantity").val();
                if (_quantity === '' || _quantity <= 0) {
                    toastr.warning('Ingrese un valor valido para la cantidad');
                    return false
                }
                let _price = $(this).find("td.item-price input.input-price").val();
                if (_price === '' || _quantity <= 0) {
                    toastr.warning('Ingrese un valor valido para el precio');
                    return false
                }
                let detailObj = {
                    guide_detail: $(this).attr('guide_detail_id'),
                    detail: $(this).attr('detail_id'),
                    product: $(this).attr('product'),
                    unit: $(this).find("td.item-unit").attr('pu'),
                    quantity: parseFloat($(this).find("td.item-quantity input.input-quantity").val()).toFixed(2),
                    price: parseFloat($(this).find("td.item-price input.input-price").val()).toFixed(2),
                    detailTotal: parseFloat($(this).find("td.item-total input.input-total-detail").val()).toFixed(2),
                    store: $(this).attr("store_p"),
                    batch: $(this).attr("batch")
                };
                detailOrder.push(detailObj);
            });
            $("#credit_details tr").each(function () {
                let creditObj = {
                    date: $(this).find("td.item-date-credit input.input-date").val(),
                    amount: $(this).find("td.item-amount-credit input.input-amount").val(),
                };
                creditDict.push(creditObj);
            });

            let selectElement = document.getElementById('id_serial');
            let selectedOptionText = selectElement.options[selectElement.selectedIndex].text;
            let data = new FormData($('#order-form').get(0));
            data.append('detail', JSON.stringify(detailOrder));
            data.append('serial_text', selectedOptionText);
            data.append('credit', JSON.stringify(creditDict));
            console.log(detailOrder)
            //$('#save-order').prop('disabled', true)
            $.ajax({
                url: '/sales/save_order/',
                async: true,
                dataType: 'json', // for response
                type: 'POST',
                cache: false,
                processData: false,
                data: data,
                contentType: false,
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        if (response.msg_sunat !== undefined) {
                            toastr.success(response.message + response.msg_sunat, '¡Mensaje!');
                        } else {
                            toastr.success(response.message, '¡Mensaje!');
                        }
                        let order_id = response.order_id
                        window.location.href = "/sales/print_order_bill/" + order_id + "/";
                        if (response.guide) {
                            setTimeout(() => {
                                window.open("/buys/contracts/", '_self');
                            }, 2000);
                        } else {
                            setTimeout(() => {
                                location.reload();
                            }, 2000);
                        }
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error(jqXhr.responseJSON.error, '¡ERROR!');
                }
            });
        });

        function AddDetailsCredit() {
            let _amount = 0
            let total = parseFloat($('#sum-total').val()).toFixed(2);
            let valor = parseFloat($('#amount-credit-total').val()).toFixed(2);
            let _days = isNaN(parseInt($('#condition_days').val(), 10)) ? 0 : parseInt($('#condition_days').val(), 10);
            let dateInput = $('#date');
            let currentDate = new Date(dateInput.val())
            currentDate.setDate(currentDate.getDate() + 1);
            currentDate.setDate(currentDate.getDate() + _days);
            let year = currentDate.getFullYear();
            let month = (currentDate.getMonth() + 1).toString().padStart(2, '0');
            let day = currentDate.getDate().toString().padStart(2, '0');
            let formattedDate = `${year}-${month}-${day}`;

            _amount = parseFloat(total - valor).toFixed(2)
            if (_amount > 0) {
                $('#credit_details').append(
                    '<tr class="text-uppercase small text-center" style="font-size: 14px;">' +
                    '<td class="align-middle">' + '</td>' +
                    '<td class="align-middle item-date-credit">' + '<input type="date" class="form-control form-control-sm input-date" value="' + formattedDate + '">' + '</td>' +
                    '<td class="align-middle item-amount-credit">' + '<input type="text" step="0.01" class="form-control form-control-sm text-right input-amount" value="' + _amount + '">' + '</td>' +
                    '<td class="align-middle item-delete">' + '<button type="button"  class="btn btn-secondary btn-sm">' +
                    '<i class="fa fa-trash"></i></button>' + '</td>' +
                    '</tr>'
                );
                calculateTotalPayment();
                counterStrikePayment();
            } else {
                toastr.warning('Monto completado')
            }


        }

        function calculateTotalPayment() {
            let sum = 0;
            $('#credit_details tr td.item-amount-credit input.input-amount').each(function () {
                sum = sum + parseFloat($(this).val());
                if (sum > $('#id-total-guide').val()) {
                    toastr.warning('Monto superado')
                    sum = sum - parseFloat($(this).val());
                    $(this).val('')
                }
            });
            $('#amount-credit-total').val(sum.toFixed(2))
        }

        function counterStrikePayment() {
            let ind = 1;
            $('#credit_details tr').each(function () {
                $(this).attr('i', ind);
                $(this).children('td:first').text(ind);
                $(this).find('td.item-delete button').attr('onclick', 'deleteItemCredit(' + ind + ')')
                ind++;
            });
        }

        function deleteItemCredit($pk) {
            $('#credit_details').find("tr[i=" + $pk + "]").remove();
            calculateTotalPayment();
            counterStrikePayment();
        }

        $(document).on('keyup', '#credit_details tr td.item-amount-credit input.input-amount', function (e) {
            let val = $(this).val();
            if (isNaN(val)) {
                $(this).val('')
            } else {
                if (val !== '') {
                    calculateTotalPayment();
                }
            }
        })

        function hasRowDetailsCredits() {
            var _response = false;
            if ($("#credit_details tr").length > 0) {
                _response = true;
            }
            return _response;
        }

        $(document).on('click', '.check-store', function () {
            const $currentTable = $(this).closest('table');
            $currentTable.find('.my-subsidiary').removeClass('bg-success text-white my-subsidiary');
            $(this).closest('tr').addClass('bg-success text-white my-subsidiary');
            const $currentRow = $(this).closest('tr');
            $currentRow.find('td.item-batch button.btn-batch').text('Ver');
            $currentRow.find('td.item-batch input.batch-id').val('0');
            $currentRow.find('td.item-batch input.stock-batch').val('');
            $currentRow.addClass('bg-success text-white my-subsidiary');
            $currentTable.find('.item-batch').addClass('d-none');
            $currentRow.find('.item-batch').removeClass('d-none');
            let table_prices = $currentTable.parent('td').parent('tr').find('td.prices-table table.table-prices');
            table_prices.find('tr td.prices-list div.price-select').removeClass('d-none');
            table_prices.find('tr td.prices-list span.out-stock').addClass('d-none');
        });


        new Autocomplete('#autocomplete-product', {
            search: input => {
                const url = `/sales/get_product_autocomplete/?search=${encodeURI(input.toUpperCase())}`

                return new Promise(resolve => {
                    if (input.length < 3) {
                        //$('#person-number').val('')
                        //$('#order-number').val('')
                        return resolve([])
                    }
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.product)
                        })
                })
            },
            renderResult: (result, props) => {
                let group = ''
                if (result.index % 3 === 0) {
                    group = '<li class="group">Group</li>'
                }
                return `
                ${group}
                <li ${props}>
                 <div class="h6 font-weight-bold" style="font-family: roboto_condensed_regular">
                    ${result.names}
                 </div>
                 <div class="wiki-snippet text-black">
                    Marca: ${result.brand}
                  </div>
                </li>
                `
            },
            getResultValue: result => result.names,
            onSubmit: result => {
                if (result) {
                    getProductSelected(result.id)
                } else {
                    toastr.warning('Seleccione un producto valido', 'Error de llenado');
                    return false;
                }

            }
        });

        function getProductSelected($product_id) {

            $('#product_list_sales').empty();
            $('div#loader-product').css('display', '');

            $.ajax({
                url: '/sales/get_product_by_id/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'productId': $product_id,
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        //toastr.success(response.message, '¡Bien hecho!');
                        $('#product_list_sales').html(response.grid).slideDown();
                        $('div#loader-product').css('display', 'none');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    if (jqXhr.status === 500) {
                        toastr.error(jqXhr.responseJSON.error, '¡Error de Consulta!');
                    } else {
                        if (textStatus === 'timeout') {
                            toastr.error('Failed from timeout', '¡Error de Consulta!');
                        } else {
                            console.log(" STATUS: " + xhr + " " + textStatus);
                        }
                    }
                }
            });
        }

        document.addEventListener('click', function (event) {
            if (event.target.id === 'clean_product') {
                document.getElementById('product_list_sales').innerHTML = '';
                document.getElementById('product-names').value = '';
            }
        });

        $(document).on('click', '.btn-batch', function (e) {

            let store_id = $(this).attr("ps");
            $.ajax({
                url: '/sales/modal_batch/',
                dataType: 'json',
                type: 'GET',
                data: {'ps': store_id},
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        $('#modal-batch').html(response.form);
                        $('#modal-batch').modal('show');

                    } else {
                        toastr.error(response.message, 'Error');
                    }
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        });


    </script>

{% endblock extrajs %}
