{% extends 'home.html' %}
{% block title %}
    Guia de Remision
{% endblock title %}

{% block body %}

    <div class="card m-3 roboto-condensed-regular">
        <div class="card-header pt-0">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 mb-0" style="background: #1a77c8">
                    {% if contract_detail_obj %}
                        <input type="hidden" id="contract_detail_id" name="contract-detail"
                               value="{{ contract_detail_obj.id }}">
                        <h6 class="roboto-condensed-regular text-white font-weight-bold mt-4 mb-0">
                            <label>{{ contract_detail_obj.contract.contract_number }} -
                                FECHA: {{ contract_detail_obj.date|date:'d-m-Y' }}</label>
                        </h6>
                    {% else %}
                        <h6 class="text-white font-weight-bold mt-4 mb-0">
                            <label>GUÍA DE REMISIÓN REMITENTE:</label>
                        </h6>
                    {% endif %}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-black-50" style="background: #1a77c8">
                    <table class="table table-bordered mt-1 mb-1" style="background: #ffffff">
                        <tbody>
                        <tr class="text-center">
                            <td class="font-weight-bold align-middle" style="border-width: 3px; border-color: black">
                                Guia de Remisión Electrónica - Remitente<br>RUC: 20604193053
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 p-3" style="background: #1a77c8">
                    <div class="btn-group btn-block" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success m-1" onclick="saveGuide()">EMITIR GUÍA</button>
                        <button type="button" class="btn btn-secondary m-1">NUEVO</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body bg-light p-0">
            <div class="row col-md-12 mb-3 mt-2 m-0 p-0">
                <div class="col-md-2">
                    <label for="issue" class="text-primary">Fecha Emisión</label>
                    <input class="form-control" type="date" value="{{ date_now }}" id="issue"
                           name="issue" required>
                </div>
                <div class="col-md-2">
                    <label for="transfer" class="text-primary">Fecha Traslado</label>
                    <input class="form-control" type="date" value="{{ date_now }}" id="transfer"
                           name="transfer" required>
                </div>
            </div>
            {#            <div class="d-flex">#}
            {#                <hr class="my-auto flex-grow-1 bg-lightblue">#}
            {#                <div class="px-2 font-weight-bold" style="font-size: .8375rem;">DATOS DEL DESTINATARIO</div>#}
            {#                <hr class="my-auto flex-grow-1 bg-lightblue">#}
            {#            </div>#}
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="id_motive" class="text-primary">Motivo de Traslado</label>
                    <select class="form-control" id="id_motive"
                            name="id-motive">
                        <option selected disabled value="0">Seleccione</option>
                        {% for m in motive_set %}
                            <option value="{{ m.id }}">{{ m.description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="hidden" id="client_id" value="{{ contract_detail_obj.contract.client.id }}">
                    <label for="person-names" class="text-primary">RUC (Destinatario)</label>
                    <div id="autocomplete-client" class="autocomplete">
                        <input class="form-control autocomplete-input"
                               type="text"
                               id="person-names"
                               name="person-names"
                               maxlength="200"
                               autocomplete="off"
                               value="{{ contract_detail_obj.contract.client.clienttype_set.last.document_number }}"
                               {% if contract_detail_obj %}disabled{% endif %}
                               placeholder="Buscar Cliente..."/>
                        <ul class="autocomplete-result-list"></ul>
                    </div>
                    {#                    {% if contract_detail_obj %}#}
                    {#                        <label for="document-client" class="text-primary">RUC (Destinatario)</label>#}
                    {#                        <input type="text"#}
                    {#                               class="form-control" name="document-client" id="document-client" disabled#}
                    {#                               required#}
                    {#                               value="{{ contract_detail_obj.contract.client.clienttype_set.last.document_number }}"#}
                    {#                               maxlength="200">#}
                    {#                    {% else %}#}
                    {#                        <label for="person-names">RUC (Destinatario)</label>#}
                    {#                        <div id="autocomplete-client" class="autocomplete">#}
                    {#                            <input class="form-control autocomplete-input"#}
                    {#                                   type="text"#}
                    {#                                   id="person-names"#}
                    {#                                   name="person-names"#}
                    {#                                   maxlength="200"#}
                    {#                                   autocomplete="off"#}
                    {#                                   value=""#}
                    {#                                   placeholder="Buscar Cliente..."/>#}
                    {#                            <ul class="autocomplete-result-list"></ul>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                </div>
                <div class="col-md-8">
                    <label for="name-client" class="text-primary">Razón Social (Destinatario)</label>
                    <input type="text"
                           class="form-control" name="name-client" id="name-client" disabled
                           value="{{ contract_detail_obj.contract.client.names }}" maxlength="500">
                </div>
            </div>
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="btn-add-origin" class="text-primary mb-3">Agrega el punto de partida</label>
                    <button id="btn-add-origin" class="btn btn-sm btn-block btn-primary" type="button"
                            onclick="AddOrigin('modal_guide_origin')">
                        <i class="fas fa-plus"></i> Agregar
                    </button>
                </div>
                <div class="col-md-2">
                    <label for="location-origin" class="text-primary mb-3">Ubigeo Origen</label>
                    <input type="text"
                           class="form-control" name="location-origin" id="location-origin"
                           placeholder="" disabled value="">
                </div>
                <div class="col-md-8">
                    <label for="origin-address" class="text-primary mb-3">Direccion de partida</label>
                    <input type="text"
                           class="form-control" name="origin-address" id="origin-address"
                           placeholder="" disabled value="">
                </div>
            </div>
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="btn-add-origin" class="text-primary mb-3">Agrega el punto de llegada</label>
                    <button id="btn-add-origin" class="btn btn-sm btn-block btn-primary" type="button"
                            onclick="AddDestiny('modal_guide_destiny')">
                        <i class="fas fa-plus"></i> Agregar
                    </button>
                </div>
                <div class="col-md-2">
                    <label for="location-destiny" class="text-primary mb-3">Ubigeo Destino</label>
                    <input type="text"
                           class="form-control" name="location-destiny" id="location-destiny"
                           placeholder="" disabled value="">
                </div>
                <div class="col-md-8">
                    <label for="destiny-address" class="text-primary mb-3">Direccion de Destino</label>
                    <input type="text"
                           class="form-control" name="destiny-address" id="destiny-address"
                           placeholder="" disabled value="">
                </div>
            </div>
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="transport-modality" class="text-primary">Modalidad de Transporte</label>
                    <select class="form-control" id="transport-modality"
                            name="transport-modality">
                        <option selected disabled value="0">Seleccione</option>
                        <option value="1">PUBLICO</option>
                        <option value="2">PRIVADO</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="transport-modality" class="text-primary">Agregar Transportista</label>
                    <button id="btn-add-origin" class="btn btn-sm btn-block btn-success" type="button"
                            onclick="AddCarrier('modal_guide_carrier')">
                        <i class="fas fa-plus"></i> Agregar
                    </button>
                </div>

                <div class="col-md-2">
                    <label for="document-transport" class="text-primary">Número de Documento (Transportista)</label>
                    <input type="text"
                           class="form-control" name="document-transport" id="document-transport"
                           placeholder="" disabled
                           value="" maxlength="200">
                    <input type="hidden" id="guide_carrier_id">
                </div>
                <div class="col-md-6">
                    <label for="name-transport" class="text-primary">Razón Social (Transportista)</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport"
                           placeholder="" disabled
                           value="" maxlength="500">
                </div>
            </div>
            <div class="row col-md-12 mt-1 pr-0">
                <div class="col-md-2">
                    <label for="plate" class="text-primary">Vehiculo (Placa)</label>
                    <input type="text"
                           class="form-control" name="plate" id="plate"
                           placeholder="" disabled
                           value="" maxlength="20">
                    <input type="hidden" id="guide_vehicle_id">
                </div>
                <div class="col-md-2">
                    <label for="document-driver" class="text-primary">DNI (Conductor)</label>
                    <input type="text"
                           class="form-control" name="document-driver" id="document-driver"
                           placeholder="" disabled
                           value="" maxlength="20">
                    <input type="hidden" id="driver_id">
                </div>
                <div class="col-md-2">
                    <label for="license-driver" class="text-primary">Nro Licencia (Conductor)</label>
                    <input type="text"
                           class="form-control" name="license-driver" id="license-driver"
                           placeholder="" disabled
                           value="" maxlength="20">
                </div>
                <div class="col-md-6">
                    <label for="names-driver" class="text-primary">Nombres y Apellidos (Conductor)</label>
                    <input type="text"
                           class="form-control" name="names-driver" id="names-driver"
                           placeholder="" disabled
                           value="" maxlength="20">
                </div>
            </div>

            <div class="row col-md-12 mt-1 pr-0">
                <div class="col-md-2">
                    <label for="weight" class="text-primary">Peso bruto total (KGM)</label>
{#                    <input type="text"#}
{#                           class="form-control" name="weight" id="weight"#}
{#                           placeholder="" required#}
{#                           value="{{ weight_total }}" maxlength="20">#}
                    <div class="input-icon">
                        <input type="text"
                               name="weight" id="weight"
                               class="form-control text-right text-uppercase total-detail" style="padding-right: 33px"
                               value="{% if weight_total > '0' %}{{ weight_total }}{% endif %}">
                        <i class="change-money">Kg</i>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="id-package" class="text-primary">Numero Bultos</label>
                    <input type="text"
                           class="form-control" name="id-package" id="id-package"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
                <div class="col-md-8 align-self-center">
                    <label for="id_observation" class="text-primary">Observaciones</label>
                    <input type="text"
                           class="form-control" name="id-observation" id="id_observation"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
            </div>

            <div class="d-flex mt-3">
                <hr class="my-auto flex-grow-1 bg-lightblue">
                <div class="px-2 font-weight-bold" style="font-size: .8375rem;">DETALLE DE LA GUIA</div>
                <hr class="my-auto flex-grow-1 bg-lightblue">
            </div>
            <div class="row m-1 mt-2">
                <div class="col-sm-12 p-1">
                    <div class="card col-sm-12 p-0">
                        <table class="table-hover table-sm table-bordered" id="id-table-detail-guide"
                               style="width: 100%;">
                            <thead class="text-uppercase small text-center">
                            <tr class="text-white" style="background: #0783d6">
                                <th scope="col" class="font-weight-normal" style="width: 10%;">Nº</th>
                                <th scope="col" class="font-weight-normal" style="width: 45%;">Descripcion</th>
                                <th scope="col" class="font-weight-normal" style="width: 15%;">Cantidad</th>
                                <th scope="col" class="font-weight-normal" style="width: 15%;">Unidad</th>
                                <th scope="col" class="font-weight-normal" style="width: 15%; background-color: #518d86">Cant. / U. M.</th>
                                {#                                <th scope="col" class="font-weight-normal" style="width: 10%;">Eliminar</th>#}
                            </tr>
                            </thead>
                            <tbody id="guide-details">
                            {% if contract_detail_obj %}
                                {% for c in contract_dict %}
                                    <tr product="{{ c.product_id }}" unit_id="">
                                        <td class="item-numero align-middle text-center">{{ c.counter }}</td>
                                        <td class="align-middle text-left product-item-table">
                                            <input type="text"
                                                   class="form-control text-uppercase product-table dropdown-toggle"
                                                   data-toggle="dropdown" aria-expanded="false"
                                                   placeholder="Ingrese producto..."
                                                   value="{{ c.product_name }}"
                                                   disabled>
                                            <div class="dropdown-menu"></div>
                                        </td>
                                        <td class="align-middle item-quantity">
                                            <input type="text"
                                                   class="form-control text-center quantity-product text-uppercase"
                                                   placeholder="0"
                                                   value="{{ c.quantity|safe|floatformat:0 }}">
                                        </td>
                                        <td class="align-middle unit">
                                            <select class="form-control unit-product text-center" id="id_unit_product"
                                                    name="unit_product" required>
                                                <option value="0">Seleccione</option>
                                                {% for u in c.units %}
                                                    <option value="{{ u.unit_id }}"
                                                            qm="{{ u.quantity_minimum }}">{{ u.unit_name }}
                                                        ({{ u.quantity_minimum }}UND)
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td class="align-middle quantity-minimum">
                                            <input type="text"
                                                   style="background-color: #bde7e2"
                                                   class="form-control text-center quantity-minimum-val text-uppercase"
                                                   placeholder="0">
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-origin" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
    <div class="modal fade" id="modal-destiny" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
    <div class="modal fade" id="modal-carrier" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>

    <style>

        .input-icon {
            position: relative;
        }

        .input-icon > i {
            position: absolute;
            display: block;
            transform: translate(0, -50%);
            top: 50%;
            pointer-events: none;
            width: 520px;
            text-align: center;
            font-style: normal;
        }

        /*.input-icon > input {
            padding-left: 25px;
            padding-right: 8px;
        }*/

        .input-icon-right > i {
            right: 0;
        }

        .input-icon-right > input {
            /*padding-left: 0;
            padding-right: 33px;*/
            text-align: center;
        }

    </style>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        let ubigeo_origin;
        let ubigeo_destiny;

        new Autocomplete('#autocomplete-client', {
            search: input => {
                const url = `/buys/get_client/?search=${encodeURI(input.toUpperCase())}`

                return new Promise(resolve => {
                    if (input.length < 3) {
                        //$('#person-number').val('')
                        //$('#order-number').val('')
                        return resolve([])
                    }
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            resolve(data.client)
                        })
                })
            },
            renderResult: (result, props) => {
                let group = ''
                if (result.index % 3 === 0) {
                    group = '<li class="group">Group</li>'
                }
                return `
                ${group}
                <li ${props}>
                 <div class="h6" style="font-family: roboto_condensed_regular">
                    ${result.names}
                 </div>
                 <div class="wiki-snippet text-black">
                    RUC: ${result.number_document}
                  </div>
                </li>
                `
            },
            getResultValue: result => result.number_document,
            onSubmit: handleClientSubmitGuide
        })

        async function handleClientSubmitGuide(result) {
            if (result) {
                let client_id = result.id;
                let _client_names = result.names
                let _client_address = result.address;
                $('#client_id').val(client_id);
                $('#name-client').val(_client_names);
            } else {
                toastr.warning('Seleccione un cliente valido', 'Error de llenado');
                return false;
            }
        }

        function AddOrigin(route) {
            $('#modal-origin').empty();
            $.ajax({
                url: '/comercial/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-origin').html(response.form);
                    $('#modal-origin').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        }

        function AddDestiny(route) {
            let client = $('#client_id').val();
            if (client !== '') {
                $('#modal-destiny').empty();
                $.ajax({
                    url: '/comercial/' + route + '/',
                    dataType: 'json',
                    type: 'GET',
                    data: {'client': client},
                    success: function (response) {
                        $('#modal-destiny').html(response.form);
                        $('#modal-destiny').modal('show');
                    },
                    fail: function (response) {
                        toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                    }
                });
            } else {
                toastr.warning('Primero Seleccione el Destinatario', '¡Mensaje!');
                return false;
            }
        }

        function AddCarrier(route) {
            $('#modal-carrier').empty();
            $.ajax({
                url: '/comercial/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-carrier').html(response.form);
                    $('#modal-carrier').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });

        }

        function checkUnitGuide() {
            let flag = false
            $('tbody#guide-details tr').each(function () {
                let _unit = $(this).find('td.unit select.unit-product').val()
                if (_unit === '0') {
                    flag = true
                }
            });
            return flag
        }

        function saveGuide() {

            let _contract_detail = $("#contract_detail_id").val()
            let _issue = $('#issue').val();
            let _transfer = $('#transfer').val();
            let _motive = $('#id_motive').val();
            let _client = $('#client_id').val();

            let _origin = $('#location-origin').val();
            let _origin_address = $('#origin-address').val();
            let _destiny = $('#location-destiny').val();
            let _destiny_address = $('#destiny-address').val();

            let _transport_modality = $('#transport-modality').val();

            let _carrier = $('#guide_carrier_id').val();
            let _vehicle_id = $('#guide_vehicle_id').val();
            let _driver_id = $('#driver_id').val();

            let _weight = $('#weight').val();
            let _n_package = $('#id-package').val();
            let _observations = $('#id_observation').val();

            if (_motive === null) {
                toastr.warning('¡Seleccione Motivo de Traslado!', 'Mensaje');
                return false;
            }
            if (_origin === '' && _origin_address === '') {
                toastr.warning('¡Agregue el Origen!', 'Mensaje');
                return false;
            }
            if (_destiny === '' && _destiny_address === '') {
                toastr.warning('¡Agregue el Destino!', 'Mensaje');
                return false;
            }
            if (_transport_modality === null) {
                toastr.warning('¡Seleccione la modalidad de Transporte!', 'Mensaje');
                return false;
            }
            if (_carrier === '') {
                toastr.warning('¡Agregue un Transportista!', 'Mensaje');
                return false;
            }
            if (_weight === '') {
                toastr.warning('¡Agregue el Peso Total!', 'Mensaje');
                return false;
            }
            if (_n_package === '') {
                toastr.warning('¡Agregue la cantidad de bultos!', 'Mensaje');
                return false;
            }
            if (checkUnitGuide() === true) {
                toastr.warning('¡Selecione el tipo de unidad en los productos!', 'Mensaje');
                return false;
            }

            let Guide = {
                "Details": [],
                "contract_detail": _contract_detail,
                "issue_date": _issue,
                "transfer_date": _transfer,
                "motive": _motive,
                "client": _client,
                "origin": _origin,
                "origin_address": _origin_address,
                "destiny": _destiny,
                "destiny_address": _destiny_address,
                "transport_modality": _transport_modality,
                "carrier": _carrier,
                "vehicle": _vehicle_id,
                "driver": _driver_id,
                "weight": _weight,
                "n_package": _n_package,
                "observations": _observations,
            }

            $("#id-table-detail-guide tbody#guide-details tr").each(function () {
                let detailObj = {
                    "Product": $(this).attr('product'),
                    "Quantity": $(this).find("td.item-quantity input.quantity-product").val(),
                    "Unit": $(this).find("td.unit select.unit-product").val(),
                    "QuantityUnit": $(this).find("td.quantity-minimum input.quantity-minimum-val").val(),
                };
                Guide.Details.push(detailObj);
            });
            //console.log(Guide)
            $.ajax({
                url: '/comercial/save_guide/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {'guide': JSON.stringify(Guide)},
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (xhr.status === 200) {
                        toastr.success(response.message, '¡Guía Registrada Correctamente!');
                        let guide_id = response.pk
                        window.location.href = "/comercial/guide/" + guide_id + "/";
                        if (response.contract) {
                            //console.log("contract")
                            setTimeout(() => {
                                window.open("/buys/contracts/", '_self');
                            }, 2000);
                        } else {
                            //console.log("Order")
                            setTimeout(() => {
                                location.reload();
                            }, 2000);
                        }
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                }
            });
        }

        $(document).on('change', '.unit-product', async function (e) {
            let unit_id = $(this).val();
            let product_id = $(this).parent('td').parent('tr').attr('product')
            let _quantity = Number($(this).parent('td').parent('tr').find('td.item-quantity input.quantity-product').val())
            let _tr = $(this).parent('td').parent('tr')
            let _select_quantity_unit = _tr.find('td.item-quantity-x-unit select.quantity-unit');
            if (unit_id !== '0') {
                await getQuantityMinimumByProduct(product_id, unit_id, _tr, _quantity)
                if (unit_id === '1') { /*optimizar*/
                    _select_quantity_unit.val('1').change();
                }
            } else {
                toastr.warning('Seleccione una unidad valida', 'Error de llenado');
                $(this).val(1).change();
                return false;
            }

        });

        async function getQuantityMinimumByProduct(product_id, _unit, _tr, _quantity) {
            let _input_quantity_minimum = _tr.find('td.quantity-minimum input.quantity-minimum-val');
            let _price_unit_product = _tr.find('td.item-price input.price-unit-product');
            _input_quantity_minimum.val('')
            if (product_id !== '0') {
                $.ajax({
                    url: '/buys/get_quantity_minimum/',
                    async: true,
                    dataType: 'json',
                    type: 'GET',
                    data: {
                        'product_id': product_id,
                        'unit_id': _unit
                    },
                    success: function (response) {
                        let _quantity_minimum = Number(response.quantity_minimum).toFixed(2)
                        if (_quantity_minimum && _quantity) {
                            let _q_x_u = _quantity / _quantity_minimum
                            _input_quantity_minimum.val(_q_x_u.toFixed(2))
                        }
                        _price_unit_product.val(response.price_purchase);
                        $('.price-unit-product').trigger('keyup');
                    },
                });
            }
        }


    </script>
{% endblock extrajs %}
