{% extends 'home.html' %}
{% block title %}
    Guia de Remision
{% endblock title %}

{% block body %}

    <div class="card m-3">
        <div class="card-header pt-0">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 mb-0" style="background: #1a77c8"></div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-black-50" style="background: #1a77c8">
                    <table class="table table-bordered mt-1 mb-1" style="background: #ffffff">
                        <tbody>
                        <tr class="text-center">
                            <td class="font-weight-bold align-middle" style="border-width: 3px; border-color: black">
                                Guia de Remisión Electrónica - Remitente<br>RUC: 20604193053
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 mb-0" style="background: #1a77c8"></div>
            </div>
        </div>
        <div class="card-body bg-light p-0">
            <div class="row col-md-12 mb-3 mt-2 m-0 p-0">
                <div class="col-md-12">

                </div>
            </div>
            {#            <div class="d-flex">#}
            {#                <hr class="my-auto flex-grow-1 bg-lightblue">#}
            {#                <div class="px-2 font-weight-bold" style="font-size: .8375rem;">DATOS DEL DESTINATARIO</div>#}
            {#                <hr class="my-auto flex-grow-1 bg-lightblue">#}
            {#            </div>#}
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="id-motive" class="text-primary">Motivo de Traslado</label>
                    <select class="form-control combo" id="id-motive"
                            name="id-motive">
                        <option selected disabled value="0">Seleccione</option>
                        {% for m in motive_set %}
                            <option value="{{ m.id }}">{{ m.description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="document-transport" class="text-primary">RUC (Destinatario)</label>
                    <input type="text"
                           class="form-control" name="document-transport" id="document-transport" disabled
                           required
                           value="{{ contract_detail_obj.contract.client.clienttype_set.last.document_number }}"
                           maxlength="200">
                    <input type="hidden" value="{{ contract_detail_obj.contract.client.id }}">
                </div>
                <div class="col-md-8">
                    <label for="name-transport" class="text-primary">Razón Social (Destinatario)</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport" disabled
                           value="{{ contract_detail_obj.contract.client.names }}" maxlength="500">
                </div>
            </div>
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="btn-add-origin" class="text-primary mb-3">Agrega el punto de partida</label>
                    <button id="btn-add-origin" class="btn btn-sm btn-block btn-success" type="button"
                            onclick="AddOrigin('modal_guide_origin', {{ contract_detail_obj.contract.client.id }})">
                        <i class="fas fa-plus"></i> Agregar
                    </button>
                </div>
                <div class="col-md-2">
                    <label for="name-transport" class="text-primary mb-3">Ubigeo Origen</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport"
                           placeholder="" disabled
                           value="" maxlength="500">
                </div>
                <div class="col-md-8">
                    <label for="name-transport" class="text-primary mb-3">Direccion de partida</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport"
                           placeholder="" disabled
                           value="" maxlength="500">
                </div>
            </div>
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="btn-add-origin" class="text-primary mb-3">Agrega el punto de llegada</label>
                    <button id="btn-add-origin" class="btn btn-sm btn-block btn-success" type="button"
                            onclick="AddDestiny('modal_guide_destiny')">
                        <i class="fas fa-plus"></i> Agregar
                    </button>
                </div>
                <div class="col-md-2">
                    <label for="name-transport" class="text-primary mb-3">Ubigeo Origen</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport"
                           placeholder="" disabled
                           value="" maxlength="500">
                </div>
                <div class="col-md-8">
                    <label for="name-transport" class="text-primary mb-3">Direccion de partida</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport"
                           placeholder="" disabled
                           value="" maxlength="500">
                </div>
            </div>
            <div class="row col-md-12 mt-3 pr-0">
                <div class="col-md-2">
                    <label for="transport-modality" class="text-primary">Modalidad de transporte</label>
                    <select class="form-control" id="transport-modality"
                            name="transport-modality">
                        <option selected disabled value="0">Seleccione</option>
                        <option value="1">PUBLICO</option>
                        <option value="2">PRIVADO</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label for="document-transport" class="text-primary">Número de Documento (Transportista)</label>
                    <input type="text"
                           class="form-control" name="document-transport" id="document-transport"
                           placeholder="" required
                           value="" maxlength="200">
                </div>
                <div class="col-md-8">
                    <label for="name-transport" class="text-primary">Razón Social (Transportista)</label>
                    <input type="text"
                           class="form-control" name="name-transport" id="name-transport"
                           placeholder="" disabled
                           value="" maxlength="500">
                </div>
            </div>
            <div class="row col-md-12 mt-1 pr-0">
                <div class="col-md-2">
                    <label for="plate" class="text-primary">Vehiculo (Placa)</label>
                    <input type="text"
                           class="form-control" name="plate" id="plate"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
                <div class="col-md-2">
                    <label for="document-driver" class="text-primary">DNI (Conductor)</label>
                    <input type="text"
                           class="form-control" name="document-driver" id="document-driver"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
                <div class="col-md-2">
                    <label for="license-driver" class="text-primary">Nro Licencia (Conductor)</label>
                    <input type="text"
                           class="form-control" name="license-driver" id="license-driver"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
                <div class="col-md-6">
                    <label for="names-driver" class="text-primary">Nombres y Apellidos (Conductor)</label>
                    <input type="text"
                           class="form-control" name="names-driver" id="names-driver"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
            </div>
            {#            <div class="row col-md-12 mt-1 pr-0">#}
            {#                <div class="col-md-3">#}
            {#                    <label for="id-date-issue" class="text-primary">Fecha Emision</label>#}
            {#                    <input type="date"#}
            {#                           class="form-control" name="id-date-issue" id="id-date-issue"#}
            {#                           placeholder="" required#}
            {#                           value="{{ date }}">#}
            {#                </div>#}
            {#                <div class="col-md-3">#}
            {#                    <label for="origin" class="text-primary">Ubigeo Origen</label>#}
            {#                    <select class="form-control" id="origin"#}
            {#                            name="origin">#}
            {#                        <option selected disabled value="0">Seleccione</option>#}
            {#                        {% for d in district_set %}#}
            {#                            {% if subsidiary_obj.district.id == d.id %}#}
            {#                                <option selected value="{{ d.id }}">{{ d.description }}</option>#}
            {#                            {% else %}#}
            {#                                <option value="{{ d.id }}">{{ d.description }}</option>#}
            {#                            {% endif %}#}
            {#                        {% endfor %}#}
            {#                    </select>#}
            {#                </div>#}
            {#                <div class="col-md-6">#}
            {#                    <label for="id-address-origin" class="text-primary">Direccion de partida</label>#}
            {#                    <input type="text"#}
            {#                           class="form-control" name="id-address-origin" id="id-address-origin"#}
            {#                           placeholder="" required#}
            {#                           value="{{ subsidiary_obj.address }}" maxlength="200">#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="row col-md-12 mt-1 pr-0">#}
            {#                <div class="col-md-3">#}
            {#                    <label for="id-date-transfer" class="text-primary">Fecha Traslado</label>#}
            {#                    <input type="date"#}
            {#                           class="form-control" name="id-date-transfer" id="id-date-transfer"#}
            {#                           placeholder="" required#}
            {#                           value="{{ date }}">#}
            {#                </div>#}
            {#                <div class="col-md-3">#}
            {#                    <label for="destiny" class="text-primary">Ubigeo Destino</label>#}
            {#                    <select class="form-control combo" id="destiny"#}
            {#                            name="destiny">#}
            {#                        <option value="0">Seleccione</option>#}
            {#                        {% for d in district_set %}#}
            {#                            <option value="{{ d.id }}">{{ d.description }}</option>#}
            {#                        {% endfor %}#}
            {#                    </select>#}
            {#                </div>#}
            {#                <div class="col-md-6">#}
            {#                    <label for="id-address-destination" class="text-primary">Direccion de destino</label>#}
            {#                    <input type="text"#}
            {#                           class="form-control" name="id-address-destination" id="id-address-destination"#}
            {#                           placeholder="" required#}
            {#                           value="" maxlength="200">#}
            {#                </div>#}
            {#            </div>#}
            <div class="row col-md-12 mt-1 pr-0">
                <div class="col-md-2">
                    <label for="weight" class="text-primary">Peso bruto total (KGM)</label>
                    <input type="text"
                           class="form-control" name="weight" id="weight"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
                <div class="col-md-2">
                    <label for="weight" class="text-primary">Numero Bultos</label>
                    <input type="text"
                           class="form-control" name="id-package" id="id-package"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
                <div class="col-md-8 align-self-center">
                    <label for="id_observation" class="text-primary">Observaciones</label>
                    <input type="text"
                           class="form-control" name="id-package" id="id-package"
                           placeholder="" required
                           value="" maxlength="20">
                </div>
            </div>

            <div class="d-flex">
                <hr class="my-auto flex-grow-1 bg-lightblue">
                <div class="px-2 font-weight-bold" style="font-size: .8375rem;">DETALLE DE LA GUIA</div>
                <hr class="my-auto flex-grow-1 bg-lightblue">
            </div>
            <div class="row m-1 mt-2">
                <div class="col-sm-12 p-1">
                    <div class="card col-sm-12 p-0">
                        <table class="table-hover table-sm table-bordered" id="id-table-detail-guide"
                               style="width: 100%;">
                            <thead class="text-uppercase small text-center">
                            <tr class="text-white" style="background: #0783d6">
                                <th scope="col" class="font-weight-normal" style="width: 10%;">Nº</th>
                                <th scope="col" class="font-weight-normal" style="width: 50%;">Descripcion</th>
                                <th scope="col" class="font-weight-normal" style="width: 15%;">Cantidad</th>
                                <th scope="col" class="font-weight-normal" style="width: 15%;">Unidad</th>
                                {#                                <th scope="col" class="font-weight-normal" style="width: 10%;">Eliminar</th>#}
                            </tr>
                            </thead>
                            <tbody id="new-guide-details">
                            {% if contract_detail_obj %}
                                {% for c in contract_dict %}
                                    <tr class="" product="{{ c.product_id }}" unit_id="">
                                        <td class="item-numero align-middle text-center">{{ c.counter }}</td>
                                        <td class="align-middle text-left product-item-table">
                                            <input type="text"
                                                   class="form-control text-uppercase product-table dropdown-toggle"
                                                   data-toggle="dropdown" aria-expanded="false"
                                                   placeholder="Ingrese producto..."
                                                   value="{{ c.product_name }}"
                                                   disabled>
                                            <div class="dropdown-menu"></div>
                                        </td>
                                        <td class="align-middle item-quantity">
                                            <input type="text"
                                                   class="form-control text-center quantity-product text-uppercase"
                                                   placeholder="0"
                                                   value="{{ c.quantity|safe|floatformat:0 }}">
                                        </td>
                                        <td class="align-middle unit">
                                            <select class="form-control unit-product text-center" id="id_unit_product"
                                                    name="unit_product" required>
                                                <option value="0">Seleccione</option>
                                                {% for u in c.units %}
                                                    <option value="{{ u.unit_id }}"
                                                            qm="{{ u.quantity_minimum }}">{{ u.unit_name }}
                                                        ({{ u.quantity_minimum }}UND)
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-origin" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>
    <div class="modal fade" id="modal-destiny" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="ModalHelpTitle" aria-hidden="true"></div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">

        function AddOrigin(route, client) {
            $('#modal-origin').empty();
            $.ajax({
                url: '/comercial/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {'client': client},
                success: function (response) {
                    $('#modal-origin').html(response.form);
                    $('#modal-origin').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });
        }

        function AddDestiny(route) {
            $('#modal-destiny').empty();
            $.ajax({
                url: '/comercial/' + route + '/',
                dataType: 'json',
                type: 'GET',
                data: {},
                success: function (response) {
                    $('#modal-destiny').html(response.form);
                    $('#modal-destiny').modal('show');
                },
                fail: function (response) {
                    toastr.error('Ocurrio un problema al mostrar el formulario', '¡Mensaje!');
                }
            });

        }


    </script>
{% endblock extrajs %}
