<div class="modal-dialog custom-position modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(21,99,181);">
            <h6 class="modal-title text-white roboto-condensed-regular pt-1">Agregar Transportista</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pb-0">
            <div class="card-body content-other-address p-1">
                <div class="row">
                    <div class="col-md-6">
                        <label for="department" class="font-weight-bold">Transportista</label>
                        <select class="form-control combo" id="department"
                                name="department">
                            <option selected disabled value="0">Seleccione</option>
                            {% for o in owner_set %}
                                <option value="{{ o.id }}">{{ o.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="district" class="font-weight-bold">Vehiculo</label>
                        <select class="form-control combo" id="district"
                                name="district">
                            <option selected disabled value="0">Seleccione</option>
                            {% for d in district_set %}
                                <option value="{{ d.id }}">{{ d.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="district" class="font-weight-bold">Conductor</label>
                        <select class="form-control combo" id="district"
                                name="district">
                            <option selected disabled value="0">Seleccione</option>
                            {% for d in district_set %}
                                <option value="{{ d.id }}">{{ d.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            {#                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btn-close">Cerrar#}
            {#                </button>                &nbsp;#}
            <button id="save-new-guide" type="button" onclick="addAddressOrigin()"
                    class="btn btn-block btn-outline-success">
                Agregar
            </button>
        </div>
    </div>
</div>

<style>
    .modal-dialog.custom-position {
        margin-top: 10%;
    }
</style>

<script type="text/javascript">



</script>