<div class="modal-dialog custom-position modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(21,99,181);">
            <h6 class="modal-title text-white roboto-condensed-regular pt-1">PUNTO DE LLEGADA</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <input type="hidden" id="client_id" value="{{ client_obj.id }}">
        <div class="modal-body pb-0 roboto-condensed-regular">
            <div class="card-body pb-0">
                <div class="custom-control custom-radio mb-1">
                    <input class="custom-control-input" type="radio" id="third-client-address-destiny"
                           name="customRadio" checked="">
                    <label for="third-client-address-destiny" class="custom-control-label">Establecimiento de un tercero
                        inscrito en el RUC</label>
                </div>
                <div class="custom-control custom-radio mb-1">
                    <input class="custom-control-input" type="radio" id="other-address-destiny" name="customRadio">
                    <label for="other-address-destiny" class="custom-control-label">Otra dirección</label>
                </div>
            </div>
            <div class="card-body content-third-client-address-destiny">
                <div class="row mt-1 mb-3">
                    <div class="col-md-3">
                        <label for="nro-document" class="font-weight-bold">Número de RUC:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text"
                               class="form-control text-uppercase" name="nro-document" id="nro-document"
                               value="{{ client_obj.clienttype_set.last.document_number }}">
                    </div>
                </div>

                <label class="font-weight-bold mt-2">Seleccione un establecimiento:</label>
                <div class="table-responsive">
                    <table id="destiny-address" class="table table-bordered">
                        <thead>
                        <tr class="text-left font-weight-bold" style="background-color: #e5e5e5">
                            <th class="th-sm" style="width: 5%"></th>
                            <th class="th-sm" style="width: 20%">Tipo</th>
                            <th class="th-sm" style="width: 30%">Ubigeo</th>
                            <th class="th-sm" style="width: 45%">Domicilio</th>
                        </tr>
                        </thead>
                        <tbody id="body-destiny-address" style="font-size: 13px;">
                        {% for c in client_address_set %}
                            <tr class="text-left" pk="{{ s.id }}">
                                <td class="align-middle item-check">
                                    <div class="form-check">
                                        <input class="form-check-input check-address-destiny" type="radio" name="radio1"
                                               id="address-selected">
                                        <label for="address-selected" class="form-check-label"></label>
                                    </div>
                                </td>
                                <td class="align-middle">{% if c.type_address == 'P' %}DOMICILIO FISCAL{% else %}SUCURSAL{% endif %}</td>
                                <td class="align-middle item-location-destiny">{{ c.district.ubigeo|default_if_none:'-' }}</td>
                                <td class="align-middle item-address-destiny">{{ c.address }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-body content-other-address-destiny d-none">
                <label class="font-weight-bold">Ingrese una dirección:</label>
                <div class="row mt-1">
                    <div class="col-md-6">
                        <label for="department_destiny" class="font-weight-bold">Departamento</label>
                        <select class="form-control combo" id="department_destiny" name="department_destiny"
                                onchange="loadProvincesDestiny()">
                            <option selected disabled value="0">Seleccione Departamento..</option>
                            {% for d in department %}
                                <option value="{{ d.id }}">{{ d.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="province_destiny" class="font-weight-bold">Provincia</label>
                        <select class="form-control combo" id="province_destiny"
                                onchange="loadDistrictsDestiny()" disabled>
                            <option selected disabled value="0">Seleccione Provincia..</option>
                            {% for p in province %}
                                <option value="{{ p.id }}">{{ p.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="district_destiny" class="font-weight-bold">Distrito</label>
                        <select class="form-control combo" id="district_destiny"
                                name="district-destiny" disabled>
                            <option selected disabled value="0">Seleccione Distrito..</option>
                            {% for d in district %}
                                <option value="{{ d.id }}" ub="{{ d.ubigeo }}">{{ d.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label for="new-address-destiny-text" class="font-weight-bold">Dirección detallada</label>
                        <input type="text"
                               class="form-control text-uppercase"
                               name="new-address-destiny-text" id="new-address-destiny-text"
                               placeholder="Direccion" required
                               value="" maxlength="200">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            {#                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btn-close">Cerrar#}
            {#                </button>                &nbsp;#}
            <button id="save-new-guide" type="button" onclick="addAddressDestiny()"
                    class="btn btn-block btn-outline-success">
                Agregar
            </button>
        </div>
    </div>
</div>


<style>
    .modal-dialog.custom-position {
        margin-top: 10%;
    }
</style>

<script type="text/javascript">

    $('.combo').select2({
        theme: 'bootstrap4',
    });

    $('#third-client-address-destiny').change(function () {
        if ($(this).is(":checked")) {
            $('.content-third-client-address-destiny').removeClass('d-none');
            $('.content-other-address-destiny').addClass('d-none');
        }
    });
    $('#other-address-destiny').change(function () {
        if ($(this).is(":checked")) {
            $('.content-third-client-address-destiny').addClass('d-none');
            $('.content-other-address-destiny').removeClass('d-none');
        }
    });

    function checkTableDestiny() {
        let check = false;
        $('#body-destiny-address tr td.item-check input.check-address-destiny').each(function () {
            if ($(this).is(":checked")) {
                check = true;
            }
        });
        return check;
    }

    function addAddressDestiny() {

        let _location = ''
        let _address = ''

        if ($('#third-client-address-destiny').is(":checked")) {

            if (checkTableDestiny() === false) {
                toastr.warning('SELECCIONE UN ESTABLECIMIENTO', 'Mensaje');
                return false;
            }
            $('#body-destiny-address tr td.item-check input.check-address-destiny').each(function () {
                if ($(this).is(":checked")) {
                    let tr = $(this).closest('tr');
                    _location = tr.find('td.item-location-destiny').text();
                    _address = tr.find('td.item-address-destiny').text();
                }
            });

        } else if ($('#other-address-destiny').is(":checked")) {
            let _department = $('#department-destiny');
            let _province = $('#province-destiny');
            let _district = $('#district-destiny');
            let _other_address_origin = $('#new-address-destiny-text');

            if (_department.val() === null) {
                toastr.warning('SELECCIONE DEPARTAMENTO', 'Mensaje');
                _department.focus();
                return false;
            }
            if (_province.val() === null) {
                toastr.warning('SELECCIONE PROVINCIA', 'Mensaje');
                _province.focus();
                return false;
            }
            if (_district.val() === null) {
                toastr.warning('SELECCIONE DISTRITO', 'Mensaje');
                _district.focus();
                return false;
            }
            if (_district.val() === null) {
                toastr.warning('SELECCIONE DISTRITO', 'Mensaje');
                _district.focus();
                return false;
            }
            if (_other_address_origin.val() === "") {
                toastr.warning('ESCRIBA UNA DIRECCIÓN', 'Mensaje');
                _district.focus();
                return false;
            }
            //_location = _district.val();
            _address = _other_address_origin.val();
        }

        $('#location-destiny').val(_location);
        $('#destiny-address').val(_address.toUpperCase());
        $('#modal-destiny').modal('hide');

        saveNewAddressClient();
    }

    function saveNewAddressClient() {
        let _client_id = $('#client_id').val();
        let _department_destiny = $('#department_destiny').val();
        let _province_destiny = $('#province_destiny').val();
        let _district_destiny = $('#district_destiny').val();
        let _new_address = $('#new-address-destiny-text').val();
        $.ajax({
            url: '/comercial/save_new_address_client/',
            async: true,
            dataType: 'json', // for response
            type: 'GET',
            data: {
                'client_id': _client_id,
                'department_destiny': _department_destiny,
                'province_destiny': _province_destiny,
                'district_destiny': _district_destiny,
                'new_address': _new_address,
            },
            contentType: 'application/json;charset=UTF-8',
            headers: {"X-CSRFToken": '{{ csrf_token }}'},
            success: function (response, textStatus, xhr) {
                if (xhr.status === 200) {
                    toastr.success("Agregada Nueva Dirección correctamente", 'Éxito');
                }
            },
            error: function (jqXhr, textStatus, xhr) {
                toastr.error("ERROR. ", '¡INCONCEBIBLE!');
            }
        });
    }

    $('#district_destiny').on('change', function () {
        let option_district_selected = $(this).find('option:selected');
        ubigeo_destiny = option_district_selected.attr('ub');
        //console.log(ubigeo_origin);
    });

    var province_set = [
        {% for e in province %}
            [
                '{{ e.id }}',
                '{{ e.description }}',
                '{{ e.department_id }}'
            ],
        {% endfor %}
    ]
    var district_set = [
        {% for e in district %}
            [
                '{{ e.id }}',
                '{{ e.description }}',
                '{{ e.province_id }}',
                '{{ e.ubigeo }}'
            ],
        {% endfor %}
    ]

    function loadProvincesDestiny() {
        var departmentSelect = document.getElementById("department_destiny");
        var provinceSelect = document.getElementById("province_destiny");
        var districtSelect = document.getElementById("district_destiny");

        var dep_select = departmentSelect.value;

        // Filtrar las provincias que corresponden al departamento seleccionado
        var provinceFilter = province_set.filter(function (province) {
            return province[2] === dep_select;
        });

        // Limpiar el select de provincias
        provinceSelect.innerHTML = "<option value=''>Seleccione Provincia..</option>";
        provinceSelect.disabled = true;
        districtSelect.innerHTML = "<option value=''>Seleccione Distrito..</option>";
        districtSelect.disabled = true;

        // Agregar las opciones de provincias
        if (provinceFilter.length > 0) {
            for (var i = 0; i < provinceFilter.length; i++) {
                var option = document.createElement("option");
                option.text = provinceFilter[i][1];
                option.value = provinceFilter[i][0];
                provinceSelect.appendChild(option);
            }
            provinceSelect.disabled = false;
        }
    }

    function loadDistrictsDestiny() {
        var provinceSelect = document.getElementById("province_destiny");
        var districtSelect = document.getElementById("district_destiny");

        var prov_select = provinceSelect.value;

        // Filtrar los distritos que corresponden a la provincia seleccionada
        var districtFilter = district_set.filter(function (district) {
            return district[2] === prov_select;
        });

        // Limpiar el select de distritos
        districtSelect.innerHTML = "<option value=''>Seleccione Distrito..</option>";
        districtSelect.disabled = true;

        // Agregar las opciones de distritos
        if (districtFilter.length > 0) {
            for (var i = 0; i < districtFilter.length; i++) {
                var option = document.createElement("option");
                option.value = districtFilter[i][0];
                option.text = districtFilter[i][1];
                option.setAttribute('ub', districtFilter[i][3]);
                districtSelect.appendChild(option);
            }
            districtSelect.disabled = false;
        }
    }


</script>