<div class="modal-dialog custom-position modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background-color: rgb(21,99,181);">
            <h6 class="modal-title text-white roboto-condensed-regular pt-1">PUNTO DE PARTIDA</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pb-0 roboto-condensed-regular">
            <div class="card-body pb-0">
                <div class="custom-control custom-radio mb-1">
                    <input class="custom-control-input" type="radio" id="client-address" name="customRadio" checked="">
                    <label for="client-address" class="custom-control-label">Establecimiento del Remitente</label>
                </div>
                <div class="custom-control custom-radio mb-1">
                    <input class="custom-control-input" type="radio" id="third-client-address" name="customRadio">
                    <label for="third-client-address" class="custom-control-label">Estableciemiento de un tercero
                        inscrito en el RUC</label>
                </div>
                <div class="custom-control custom-radio mb-1">
                    <input class="custom-control-input" type="radio" id="other-address" name="customRadio">
                    <label for="other-address" class="custom-control-label">Otra dirección</label>
                </div>
            </div>
            <div class="card-body content-client-address">
                <label class="font-weight-bold">Seleccione un establecimiento:</label>
                <div class="table-responsive">
                    <div class="table-scrollable">
                        <table id="origin-address" class="table table-bordered">
                        <thead>
                        <tr class="text-left font-weight-bold" style="background-color: #e5e5e5">
                            <th class="th-sm" style="width: 5%"></th>
                            <th class="th-sm" style="width: 20%">Tipo</th>
                            <th class="th-sm" style="width: 30%">Ubigeo</th>
                            <th class="th-sm" style="width: 45%">Domicilio</th>
                        </tr>
                        </thead>
                        <tbody id="body-origin-address" style="font-size: 13px;">
                        {% for s in subsidiary_set %}
                            <tr class="text-left" pk="{{ s.id }}">
                                <td class="align-middle item-check">
                                    <div class="form-check">
                                        <input class="form-check-input check-address" type="radio" name="radio1"
                                               id="address-selected">
                                        <label for="address-selected" class="form-check-label"></label>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    {% if s.is_main %}
                                        DOMICILIO FISCAL
                                    {% endif %}
                                </td>
                                <td class="align-middle item-location">{{ s.district.ubigeo }}</td>
                                <td class="align-middle item-address">{{ s.address }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="card-body content-third-client-address d-none">
                <label class="font-weight-bold">Estableciemiento de un tercero
                    inscrito en el RUC</label>
                <div class="table-responsive">

                </div>
            </div>
            <div class="card-body content-other-address d-none">
                <label class="font-weight-bold">Ingrese una dirección:</label>
                <div class="row mt-1">
                    <div class="col-md-6">
                        <label for="department_origin" class="font-weight-bold">Departamento</label>
                        <select class="form-control combo" id="department_origin" name="department_origin"
                                onchange="loadProvinces()">
                            <option selected disabled value="0">Seleccione Departamento..</option>
                            {% for d in department %}
                                <option value="{{ d.id }}">{{ d.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="province_origin" class="font-weight-bold">Provincia</label>
                        <select class="form-control combo" id="province_origin"
                                onchange="loadDistricts()" disabled>
                            <option selected disabled value="0">Seleccione Provincia..</option>
                            {% for p in province %}
                                <option value="{{ p.id }}">{{ p.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label for="district_origin" class="font-weight-bold">Distrito</label>
                        <select class="form-control combo" id="district_origin"
                                name="district" disabled>
                            <option selected disabled value="0">Seleccione Distrito..</option>
                            {% for d in district %}
                                <option value="{{ d.id }}" ub="{{ d.ubigeo }}">{{ d.description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label for="other-address-origin" class="font-weight-bold">Dirección detallada</label>
                        <input type="text"
                               class="form-control text-uppercase" name="other-address-origin" id="other-address-origin"
                               placeholder="Ingrese Direccion" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            {#                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btn-close">Cerrar#}
            {#                </button>                &nbsp;#}
            <button id="save_origin" type="button" onclick="addAddressOrigin()"
                    class="btn btn-block btn-outline-success">
                Agregar
            </button>
        </div>
    </div>
</div>

<style>
    .modal-dialog.custom-position {
        margin-top: 10%;
    }

    .table-scrollable {
        max-height: 300px;
        overflow-y: auto;
    }
</style>

<script type="text/javascript">

    $('.combo').select2({
        theme: 'bootstrap4',
    });

    $('#client-address').change(function () {
        if ($(this).is(":checked")) {
            $('.content-client-address').removeClass('d-none');
            $('.content-third-client-address').addClass('d-none');
            $('.content-other-address').addClass('d-none');
        }
    });
    $('#third-client-address').change(function () {
        if ($(this).is(":checked")) {
            $('#body-origin-address tr td.item-check input.check-address').each(function () {
                if ($(this).is(":checked")) {
                    $(this).prop("checked", false);
                }
            });
            $('.content-client-address').addClass('d-none');
            $('.content-third-client-address').removeClass('d-none');
            $('.content-other-address').addClass('d-none');
        }
    });
    $('#other-address').change(function () {
        if ($(this).is(":checked")) {
            $('#body-origin-address tr td.item-check input.check-address').each(function () {
                if ($(this).is(":checked")) {
                    $(this).prop("checked", false);
                }
            });
            $('.content-client-address').addClass('d-none');
            $('.content-third-client-address').addClass('d-none');
            $('.content-other-address').removeClass('d-none');
        }
    });

    function checkTableOrigin() {
        let check = false;
        $('#body-origin-address tr td.item-check input.check-address').each(function () {
            if ($(this).is(":checked")) {
                check = true;
            }
        });
        return check;
    }

    /*$('#save_origin').click(function (){
        let _address = '';
        if ($('#client-address').is(":checked")) {
            console.log("first")
        }
        else if ($('#other-address').is(":checked")) {

            let _department = $('#department_origin');
            let _province = $('#province_origin');
            let _district = $('#district_origin');
            let _other_address_origin = $('#other-address-origin');

            if (_department.val() === null) {
                toastr.warning('SELECCIONE DEPARTAMENTO', 'Mensaje');
                _department.focus();
                return false;
            }
            if (_province.val() === null) {
                toastr.warning('SELECCIONE PROVINCIA', 'Mensaje');
                _province.focus();
                return false;
            }
            if (_district.val() === '') {
                toastr.warning('SELECCIONE DISTRITO', 'Mensaje');
                _district.focus();
                return false;
            }
            if (_other_address_origin.val() === "") {
                toastr.warning('INGRESE UNA DIRECCIÓN', 'Mensaje');
                _district.focus();
                return false;
            }
            _address = _other_address_origin.val();

            $.ajax({
                url: '/comercial/save_new_address_origin/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'address': _address,
                    'district': _district.val(),
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        toastr.success(response.message, '¡Guía Registrada Correctamente!');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                }
            });
        }
    });*/


    function addAddressOrigin() {

        let _location = ''
        let _address = ''

        if ($('#client-address').is(":checked")) {

            if (checkTableOrigin() === false) {
                toastr.warning('SELECCIONE UN ESTABLECIMIENTO', 'Mensaje');
                return false;
            }
            $('#body-origin-address tr td.item-check input.check-address').each(function () {
                if ($(this).is(":checked")) {
                    let tr = $(this).closest('tr');
                    _location = tr.find('td.item-location').text();
                    _address = tr.find('td.item-address').text();
                }
            });
            $('#location-origin').val(_location);
            $('#origin-address').val(_address.toUpperCase());
            $('#modal-origin').modal('hide');

        } else if ($('#third-client-address').is(":checked")) {
            console.log("third")
        } else if ($('#other-address').is(":checked")) {
            let _department = $('#department_origin');
            let _province = $('#province_origin');
            let _district = $('#district_origin');
            let _other_address_origin = $('#other-address-origin');

            if (_department.val() === null) {
                toastr.warning('SELECCIONE DEPARTAMENTO', 'Mensaje');
                _department.focus();
                return false;
            }
            if (_province.val() === null) {
                toastr.warning('SELECCIONE PROVINCIA', 'Mensaje');
                _province.focus();
                return false;
            }
            /*if (_district.val() === null) {
                toastr.warning('SELECCIONE DISTRITO', 'Mensaje');
                _district.focus();
                return false;
            }*/
            if (_district.val() === '') {
                toastr.warning('SELECCIONE DISTRITO', 'Mensaje');
                _district.focus();
                return false;
            }
            if (_other_address_origin.val() === "") {
                toastr.warning('INGRESE UNA DIRECCIÓN', 'Mensaje');
                _district.focus();
                return false;
            }
            //_location = _district.val();
            _address = _other_address_origin.val();
            $.ajax({
                url: '/comercial/save_new_address_origin/',
                async: true,
                dataType: 'json', // for response
                type: 'GET',
                data: {
                    'address': _address,
                    'district': _district.val(),
                },
                contentType: 'application/json;charset=UTF-8',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (response, textStatus, xhr) {
                    if (response.success) {
                        _location = response.ubigeo;
                        $('#location-origin').val(_location);
                        $('#origin-address').val(_address.toUpperCase());
                        $('#modal-origin').modal('hide');
                    }
                },
                error: function (jqXhr, textStatus, xhr) {
                    toastr.error("ERROR. ", '¡INCONCEBIBLE!');
                }
            });
        }
    }

    $('#district_origin').on('change', function () {
        let option_district_selected = $(this).find('option:selected');
        ubigeo_origin = option_district_selected.attr('ub');
        //console.log(ubigeo_origin);
    });

    var province_set = [
        {% for e in province %}
            [
                '{{ e.id }}',
                '{{ e.description }}',
                '{{ e.department_id }}'
            ],
        {% endfor %}
    ]
    var district_set = [
        {% for e in district %}
            [
                '{{ e.id }}',
                '{{ e.description }}',
                '{{ e.province_id }}',
                '{{ e.ubigeo }}'
            ],
        {% endfor %}
    ]

    function loadProvinces() {
        var departmentSelect = document.getElementById("department_origin");
        var provinceSelect = document.getElementById("province_origin");
        var districtSelect = document.getElementById("district_origin");

        var dep_select = departmentSelect.value;

        // Filtrar las provincias que corresponden al departamento seleccionado
        var provinceFilter = province_set.filter(function (province) {
            return province[2] === dep_select;
        });

        // Limpiar el select de provincias
        provinceSelect.innerHTML = "<option value=''>Seleccione Provincia..</option>";
        provinceSelect.disabled = true;
        districtSelect.innerHTML = "<option value=''>Seleccione Distrito..</option>";
        districtSelect.disabled = true;

        // Agregar las opciones de provincias
        if (provinceFilter.length > 0) {
            for (var i = 0; i < provinceFilter.length; i++) {
                var option = document.createElement("option");
                option.text = provinceFilter[i][1];
                option.value = provinceFilter[i][0];
                provinceSelect.appendChild(option);
            }
            provinceSelect.disabled = false;
        }
    }

    function loadDistricts() {
        var provinceSelect = document.getElementById("province_origin");
        var districtSelect = document.getElementById("district_origin");

        var prov_select = provinceSelect.value;

        // Filtrar los distritos que corresponden a la provincia seleccionada
        var districtFilter = district_set.filter(function (district) {
            return district[2] === prov_select;
        });

        // Limpiar el select de distritos
        districtSelect.innerHTML = "<option value=''>Seleccione Distrito..</option>";
        districtSelect.disabled = true;

        // Agregar las opciones de distritos
        if (districtFilter.length > 0) {
            for (var i = 0; i < districtFilter.length; i++) {
                var option = document.createElement("option");
                option.value = districtFilter[i][0];
                option.text = districtFilter[i][1];
                option.setAttribute('ub', districtFilter[i][3]);
                districtSelect.appendChild(option);
            }
            districtSelect.disabled = false;
        }
    }


</script>