{% load static %}
<nav class="navbar navbar-expand-lg" style="background: #3e6787">

    {#    <a href="{% url 'dashboard' %}">#}
    {#        <img src="{% static 'assets/avatar/logo_anderquin_new.png' %}" class="mr-2 mb-3 mt-2" alt="" width="70"/>#}
    {#    </a>#}

{#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#    </button>#}

    <div class="collapse navbar-collapse roboto-condensed-regular" id="main_nav" >

        <nav class="navbar navbar-expand-lg navbar-light" style="background: #3e6787">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{% url 'dashboard' %}">
                <img src="{% static 'assets/avatar/logo_anderquin_new.png' %}" class="mr-2 mb-3 mt-2" alt=""
                     width="70"/>
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> RR.HH. </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'hrm:employee_list' %}"><i
                                    class="fas fa-users"></i> Empleados </a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'hrm:get_subsidiary' %}">
                                <i class="fas fa-store"></i> Sucursales </a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Logística </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-list-alt"></i> Productos </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'sales:product_list' %}">Listado de Productos</a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:kardex' %}">kardex de Productos</a></li>
                                </ul>
                            </li>

                            <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-dolly"></i> Guías de Remisión
                            </a>
                                <ul class="submenu dropdown-menu show">
                                    <li><a class="dropdown-item" href="{% url 'comercial:new_guide' %}"><i
                                            class="fas fa-dolly"></i> Emisión de Guías </a></li>
                                    <li><a class="dropdown-item" href="{% url 'comercial:guide_list' %}">
                                        <i class="fas fa-list"></i> Listado de Guías </a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'comercial:truck_list' %}"><i
                                        class="fas fa-truck"></i> Listado de Vehiculos </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'comercial:get_store' %}"><i class="fas fa-warehouse"></i>
                                    Almacenes </a>
                            </li>
                            <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-sign-in-alt"></i> Ingreso de Facturas a Almacen </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'sales:bills_pending' %}">Facturas sin Almacen</a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:bills_in_warehouse' %}">Facturas con Almacen</a></li>
                                </ul>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item dropdown-toggle" href="#"> Control de traspaso de productos </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'comercial:input_workflow' %}">Notas de
                                        entrada</a></li>
                                    <li><a class="dropdown-item" href="{% url 'comercial:input_guide' %}">Registrar de
                                        nota de
                                        entrada</a></li>
                                    <li><a class="dropdown-item" href="{% url 'comercial:output_workflow' %}">Notas de
                                        salida</a></li>
                                    <li><a class="dropdown-item" href="{% url 'comercial:output_guide' %}">Registrar de
                                        nota de
                                        salida</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item dropdown-toggle" href="#"> Confirmación de guías por
                                traslado </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item"
                                           href="{% url 'comercial:input_workflow_from_output' %}">Notas
                                        de salida para ingresar a almacén</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Compras &
                            Ventas </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'buys:contract_list' %}"><i
                                    class="fas fa-file-contract"></i> Contratos </a></li>
                            <li><a class="dropdown-item" href="{% url 'buys:contracts_detail' %}"><i
                                    class="fas fa-file-contract"></i> Reporte de Fechas de Entrega </a></li>
                            <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-file"></i>
                                Ordenes de Compra
                            </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'buys:buy_list' %}"><i class="fas fa-file"></i> Nueva Orden de Compra</a></li>
                                    <li><a class="dropdown-item" href="{% url 'buys:buy_order_list' %}"><i
                                            class="fas fa-tasks"></i> Lista de Ordenes de Compra </a></li>
                                    <li><a class="dropdown-item" href="{% url 'buys:buy_order_store_list' %}"><i
                                            class="fas fa-clipboard-list"></i> Lista de Ordenes de Compra en Almacen</a></li>
                                    <li><a class="dropdown-item" href="{% url 'buys:get_purchase_annular_list' %}"><i
                                            class="fas fa-stream"></i> Lista de Ordenes de Compra Anuladas</a></li>
{#                                    <li><a class="dropdown-item" href="{% url 'buys:report_purchases_by_subsidiary' %}"><i#}
{#                                            class="fas fa-th-list"></i> Reporte de Compras</a></li>#}
                                </ul>
                            </li>
                            <li><a class="dropdown-item dropdown-toggle" href="#"><i
                                    class="fas fa-hand-holding-usd"></i> Ventas
                            </a>
                                <ul class="submenu dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'sales:sales_list' %}"><i
                                            class="fas fa-hand-holding-usd"></i> Nueva Venta </a></li>
                                    <li><a class="dropdown-item" href="{% url 'sales:sales_report_professional' %}"><i
                                            class="fas fa-chart-line"></i> Reporte de Ventas </a></li>
                                    {#                            <li><a class="dropdown-item" href="{% url 'sales:get_sales_by_subsidiary_store' %}"> Ventas por sede </a></li>#}
                                    {#                            <li><a class="dropdown-item" href="{% url 'sales:get_sales_all_subsidiaries' %}"> Ventas generales </a></li>#}
                                    {#                            <li><a class="dropdown-item" href="{% url 'sales:sales_list' 'E' %}"> Ventas Electronicas</a></li>#}
                                    {#                            <li><a class="dropdown-item" href="{% url 'sales:generate_receipt' %}"> Boletas Electronicas Masivas</a></li>#}
                                    {#                            <li><a class="dropdown-item" href="{% url 'sales:get_general_orders_by_unit' %}"> Ventas globales en unidades</a></li>#}
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'buys:purchases' %}">
                                <i class="fas fa-shopping-cart"></i>
                                Compras </a></li>
                            <li><a class="dropdown-item dropdown-toggle" href="#"><i class="fas fa-dolly"></i>
                                Cotizaciones</a>
                                <ul class="submenu dropdown-menu show">
                                    <li><a class="dropdown-item" href="{% url 'sales:quotation_list' %}"><i
                                            class="fas fa-dolly"></i> Cotizaciones </a></li>
                                    <li><a class="dropdown-item"
                                           href="{% url 'sales:get_sales_quotation_by_subsidiary' %}"><i
                                            class="fas fa-align-left"></i> Reporte de Cotizaciones </a></li>
                                </ul>
                            </li>
                            {#                    <li><a class="dropdown-item dropdown-toggle" href="#"> Ventas Reparto </a>#}
                            {#                        <ul class="submenu dropdown-menu">#}
                            {#                            <li><a class="dropdown-item" href="{% url 'comercial:distribution_movil_list' %}"> Salidas#}
                            {#                                de Reparto </a></li>#}
                            {#                            <li><a class="dropdown-item" href="{% url 'buys:get_rateroutes_programming' %}"> Precio de#}
                            {#                                Rutas </a></li>#}
                            {#                        </ul>#}
                            {#                    </li>#}
{#                            <li><a class="dropdown-item" href="{% url 'buys:bill_list' %}"><i#}
{#                                    class="fas fa-money-bill"></i>#}
{#                                Emisión de Factura </a></li>#}
                            <li><a class="dropdown-item" href="{% url 'sales:client_list' %}"><i class="fas fa-user-friends"></i>
                                Listado de Clientes </a></li>
                            <li><a class="dropdown-item" href="{% url 'buys:supplier_list' %}"><i class="fas fa-user-check"></i>
                                Listado de Proveedores </a></li>
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:purchases_of_clients' %}"> Detalles de venta de Clientes </a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'comercial:advancement_client' %}"> Registrar adelanto de balones </a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:order_list' %}"> Estado de cuentas de Clientes </a></li>#}
                            {#                    <div class="dropdown-divider"></div>#}
                            {#                    <li><a class="dropdown-item" target="print" href="{% url 'sales:pdf_get_orders_for_status_account' %}"> Reporte Estado de cuentas </a></li>#}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Finanzas </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'accounting:get_account_list' %}"><i
                                    class="fas fa-file-invoice-dollar"></i> Cuadro de cuentas</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounting:get_cash_control_list' %}"><i
                                    class="fas fa-cash-register"></i> Control de caja</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounting:get_bank_control_list' %}"><i
                                    class="fas fa-wallet"></i> Control de cuentas bancarias</a></li>
                            <div class="dropdown-divider"></div>
                            {#                    <li><a class="dropdown-item" href="{% url 'comercial:get_distribution_query' %}"> Reporte de Reparto</a></li>#}
                            <li><a class="dropdown-item" href="{% url 'accounting:get_cash_report' %}"><i
                                    class="fas fa-list-alt"></i> Reporte de Cajas</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown">
                            Contabilidad </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'accounting:get_purchase_list_finances' %}"><i
                                    class="fas fa-file-invoice-dollar"></i> Listado de Compras</a></li>
                            <li><a class="dropdown-item" href="{% url 'accounting:get_purchases_list' %}">
                                <i class="fas fa-file-invoice"></i> Cuentas por pagar</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown"> Reportes </a>
                        <ul class="dropdown-menu">
                            {#                    <li><a class="dropdown-item" href="{% url 'buys:get_report_kardex_glp' %}"> Reporte GLP</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'buys:get_programming_by_truck_and_dates' %}"> Relacion de programaciones</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'buys:get_requirement_balance' %}"> Saldos requerimientos</a></li>#}
                            {#                    <div class="dropdown-divider"></div>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'buys:get_purchase_store_list' %}"> Reporte de compras en Almacen</a></li>#}
                            <li><a class="dropdown-item" href="{% url 'buys:report_purchases_all' %}"> Reporte de
                                compras
                                Totales</a></li>
                            <li><a class="dropdown-item" href="{% url 'buys:report_purchases_by_supplier' %}"> Reporte
                                de
                                Compras por Proveedor</a></li>
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:purchase_report_by_category' %}"> Reporte de Compras por Categoria de Proveedor</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'buys:get_purchases_by_provider_category' %}"> Reporte de Compras por Categoria de Proveedor</a></li>#}
                            {#                     <div class="dropdown-divider"></div>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:get_sales_all_subsidiaries' %}"> Reporte de ventas</a></li>#}
                            <li><a class="dropdown-item" href="{% url 'sales:order_list' %}"> Cuentas por cobrar</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'sales:accounts_receivable_report' %}"> 
                                <i class="fas fa-chart-line"></i> Reporte de Cuentas por Cobrar</a>
                            </li>
                            {#                    <li><a class="dropdown-item" target="print" href="{% url 'sales:pdf_get_orders_for_status_account' %}"> Reporte estado de cuentas</a></li>#}

                            {#                    <div class="dropdown-divider"></div>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'comercial:get_distribution_query' %}"> Reporte de Reparto</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'comercial:list_output_distribution' %}">Salidas de reparto</a></li>#}
                            {#                    <div class="dropdown-divider"></div>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'accounting:get_bank_control_list' %}"> Reporte de cuentas bancarias</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'accounting:get_cash_report' %}"> Reporte de cajas</a></li>#}
                            {#                    <div class="dropdown-divider"></div>#}
                            {#                     <li><a class="dropdown-item" href="{% url 'sales:stock_product' %}"> Stock de balones de la sucursal</a></li>#}
                            {#                     <li><a class="dropdown-item" href="{% url 'sales:get_products_by_subsidiary' %}"> Stock de productos de la sucursal</a></li>#}
                            {#                     <li><a class="dropdown-item" href="{% u/rl 'sales:get_supplies_view' %}"> Stock de insumos</a></li>#}
                            {#                     <div class="dropdown-divider"></div>#}
                            {#                     <li><a class="dropdown-item" href="{% url 'sales:stock_product_all' %}"> Stock de productos</a></li>#}
                            {#                     <div class="dropdown-divider"></div>#}
                            {#                     <li><a class="dropdown-item" href="{% url 'comercial:report_guide_by_plate' %}"> Reporte de Guías - Unidades</a></li>#}
                            {#                     <li><a class="dropdown-item" href="{% url 'sales:get_summary_debtors' %}"> Reporte - Deudas de clientes</a></li>#}
                            {#                     <li><a class="dropdown-item" href="{% url 'buys:get_programmings_by_dates' %}"> Reporte Salidad de unidades</a></li>#}

                            {#                    <div class="dropdown-divider"></div>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:sold_ball' %}"> Reporte de fierros vendidos</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:report_payments_by_client' %}"> Reporte de depositos confrontar con estractos</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:report_ball_all_mass' %}"> Reporte de Balones con saldos totales</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:status_account' %}"> Nuevo Reporte estado de cuentas</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'sales:comparative_sales_and_purchases_report' %}"> Reporte de cuadro de compras y ventas comparativo</a></li>#}
                            {#                    <li><a class="dropdown-item" href="{% url 'accounting:report_tributary' %}"> Reporte tributario</a></li>#}
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>

    </div> <!-- navbar-collapse.// -->

    <nav class="full-box navbar-info border-0 text-white mt-2 roboto-condensed-regular">
        <label class="text-white">Usuario: </label>
        <form class="form-inline d-none d-sm-inline-block mr-3">
            {{ user.worker_set.last.employee.names|upper }}
        </form>
{#        <label class="text-white ml-3">Sucursal: </label>#}
        <form class="form-inline d-none d-sm-inline-block">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#"
                       data-toggle="dropdown"> {{ user.worker_set.last.establishment_set.last.subsidiary.name }} </a>
                    <ul class="dropdown-menu">
                        {% for s in subsidiary_set %}
                            <a class="dropdown-item text-dark text-left" href="" id="{{ s.id }}"> {{ s.name }} </a>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </form>
        <a href="{% url 'logout' %}"><i class="fas fa-power-off fa-lg"></i></a>
    </nav>
</nav>
